04 Json Files/IED Files/ied18.json
[{"id":"78285baff1633871","type":"tab","label":"Matlab to Feeder 16","disabled":false,"info":""},{"id":"3513b7fcf409b7b4","type":"tab","label":"Feeder 16 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"db9ba1b40216cf3c","type":"tab","label":"Feeder 16 IED2 Dashboard","disabled":false,"info":"","env":[]},{"id":"215bc3285cae274f","type":"tab","label":"aedes","disabled":false,"info":"","env":[]},{"id":"1fbcc7655a763bdf","type":"tab","label":"Database F16 IED18 IN","disabled":false,"info":""},{"id":"8dc49a53b62b1e31","type":"tab","label":"Database F16 IED18 OUT","disabled":false,"info":""},{"id":"5e8d4dd277a00397","type":"tab","label":"Feeder 16 IED to Scada","disabled":false,"info":"","env":[]},{"id":"c876d5b036d1b83b","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cea50ee8888ac636","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"69a1e2fdab7a4363","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14076810057198a7","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eab2ea4b19fc5fe9","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"66fdb751e2190baf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"56f7bc52dde8bd13","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e9b86fbec4b86776","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"60b0105c117d5090","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ab12d1a03daf62f3","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"c21805a0a767ab1a","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0921a8f8b8686474","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"505b34d3997824b6","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"896eea47de1614b0","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e59956d56a2ae402","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"3b7b87dcaf02b5ce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d552e908a8755f92","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"7f297da75102d00d","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"45377bb893fb7b29","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e2b8429a615fe5dc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c2521cf6a5f99c3b","type":"ui_tab","name":"DI","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"3a5b85f4b2d9b53c","type":"ui_group","name":"home","tab":"9d24bb8cd5535aa6","order":1,"disp":true,"width":"6","collapse":true},{"id":"733f096adb8f7474","type":"ui_group","name":"Group 1","tab":"fb678e2c74f1d7ad","order":1,"disp":true,"width":6},{"id":"6f719dcf70d003ba","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9df5bb6a397af509","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7e39ac43e3745f6","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e0316b284a12263","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"0b952d2894a01338","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9e89b96f1456ec65","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f0e7b556314a1bc","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"bcf41874f7bcc8e3","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"0dca134d5cd368e0","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6b5aa58960a405c","type":"ui_group","name":"Event Recording","tab":"d9e09f1ac399b529","order":1,"disp":true,"width":"12","collapse":true},{"id":"4430715f8f0d829e","type":"ui_group","name":"IED","tab":"d9e09f1ac399b529","order":2,"disp":true,"width":"6","collapse":true},{"id":"d6589a5602890e66","type":"ui_group","name":"HT-SP-Q01","tab":"d9e09f1ac399b529","order":3,"disp":true,"width":"6","collapse":true},{"id":"8d6175b5098dbd30","type":"ui_group","name":"HT-SS1-Q01A","tab":"d9e09f1ac399b529","order":4,"disp":true,"width":"6","collapse":true},{"id":"986f764e38502adf","type":"ui_group","name":"HT-SS1-Q01B","tab":"d9e09f1ac399b529","order":5,"disp":true,"width":"6","collapse":true},{"id":"e79ae649558ba58e","type":"ui_group","name":"HT-SS1-Q02","tab":"d9e09f1ac399b529","order":6,"disp":true,"width":"6","collapse":true},{"id":"7365f685c2dc4319","type":"ui_group","name":"LT-MGB-Q01A","tab":"d9e09f1ac399b529","order":7,"disp":true,"width":"6","collapse":true},{"id":"f7a3100aeb6552ea","type":"ui_group","name":"LT-MGB-Q01B","tab":"d9e09f1ac399b529","order":8,"disp":true,"width":"6","collapse":true},{"id":"a978e977b21e70d8","type":"ui_group","name":"LT-MGB-Q02","tab":"d9e09f1ac399b529","order":9,"disp":true,"width":"6","collapse":true},{"id":"87440f3d1bb372a0","type":"ui_group","name":"LT-MGB-Q03","tab":"d9e09f1ac399b529","order":10,"disp":true,"width":"6","collapse":true},{"id":"934f066f125dbe6b","type":"ui_group","name":"LT-MGB-Q04","tab":"d9e09f1ac399b529","order":11,"disp":true,"width":"6","collapse":true},{"id":"9fe04963457dfd62","type":"ui_group","name":"WDB1-Q01A","tab":"d9e09f1ac399b529","order":12,"disp":true,"width":"6","collapse":true},{"id":"d246ec199ce02abf","type":"ui_group","name":"WDB1-Q01B","tab":"d9e09f1ac399b529","order":13,"disp":true,"width":"6","collapse":true},{"id":"43f8ecf99d59418a","type":"ui_group","name":"HT-SP-Q01","tab":"a5a7fe2348551d64","order":1,"disp":true,"width":"6","collapse":true},{"id":"bc0448c2cb955d2b","type":"ui_group","name":"HT-SS1-Q01A","tab":"a5a7fe2348551d64","order":2,"disp":true,"width":"6","collapse":true},{"id":"68326ad3050f7953","type":"ui_group","name":"HT-SS1-Q01B","tab":"a5a7fe2348551d64","order":3,"disp":true,"width":"6","collapse":true},{"id":"4b59a1e340fc091f","type":"ui_group","name":"LT-MGB-Q01A","tab":"a5a7fe2348551d64","order":4,"disp":true,"width":"6","collapse":true},{"id":"b2bbed79d94113fd","type":"ui_group","name":"LT-MGB-Q01B","tab":"a5a7fe2348551d64","order":5,"disp":true,"width":"6","collapse":true},{"id":"dc67e4498f33f058","type":"ui_group","name":"LT-MGB-Q02","tab":"a5a7fe2348551d64","order":6,"disp":true,"width":"6","collapse":true},{"id":"81058757d6a27c39","type":"ui_group","name":"LT-MGB-Q04","tab":"a5a7fe2348551d64","order":7,"disp":true,"width":"6","collapse":true},{"id":"c22e52265c282c91","type":"ui_group","name":"DI1","tab":"b32841b6c0287bd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"09a59ff2aed0dea7","type":"ui_group","name":"DI 2","tab":"b32841b6c0287bd4","order":2,"disp":true,"width":"6","collapse":false},{"id":"1dd409aad385d854","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"9ff4e761806ee398","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"6dd65b9c548dbf53","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"6064f9b37cb241df","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"3e224119ddd734f3","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"4608df0c9c09b9d5","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3c1293d88066aa9a","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"fc236116b0f1fc1a","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"a85577c991b4036f","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"739427860ad8cb32","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"adbe04e8d135acb4","type":"ui_group","name":"Group 2","tab":"fb678e2c74f1d7ad","order":2,"disp":true,"width":6},{"id":"970f7b79d82969ba","type":"ui_group","name":"Group 3","tab":"fb678e2c74f1d7ad","order":3,"disp":true,"width":6},{"id":"9cbd7db4c1b3bf73","type":"ui_group","name":"Default","tab":"eaea76e397531ebf","order":1,"disp":true,"width":"9","collapse":true},{"id":"8ca1c305cd568efc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5628701d1848a001","type":"ui_group","name":"IED 18","tab":"564a8f86827668e8","order":2,"disp":true,"width":"4","collapse":true,"className":""},{"id":"8aa4262603d2f7a4","type":"ui_group","name":"Event Recording","tab":"564a8f86827668e8","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"564a8f86827668e8","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"39c690d52e8562fd","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"192291e967eb3ba8","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"db690bfad78bf5ef","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be743565446a203c","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8b811ae0373c4339","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39c88a20703481ed","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f009bdbc0209a78b","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"94dac132396f709b","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a1df201516337e09","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"33357369ce94941b","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f89b2b47b12a690b","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6fde1b1a84f5412e","type":"ui_group","name":"Database F16 IED18 IN","tab":"f115fea015d65c66","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"be646e1105a51a28","type":"sqlitedb","db":"/tmp/pi_f16_ied18","mode":"RWC"},{"id":"a33d2ef43105fcfc","type":"ui_group","name":"Sensors","tab":"931530f9612a2d9b","order":1,"disp":true,"width":"12","collapse":false},{"id":"7c75999026421b3c","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"439ddbca20b8ddce","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2a296795e93ebff2","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4d4dfc9fbdd8797f","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2212b6a730c6dbdf","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3d8dc06bd820bde8","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"729546004a43724b","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"830fa32af7e160d5","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8cb793bbb8d3bb53","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"202de5c7fee51d75","type":"ui_group","name":"Database F16 IED18 OUT","tab":"98d8354e9e16e8c0","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"4cd4bd9e3bbbeac4","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"63388c7caf895cbb","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f115fea015d65c66","type":"ui_tab","name":"Database F16 IED18 IN","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"931530f9612a2d9b","type":"ui_tab","name":"Home","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"98d8354e9e16e8c0","type":"ui_tab","name":"Database FEEDER 16 OUT","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"39ff2ec31f5af486","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7774c0530dc96060","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3c2151be2bb30fff","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b8f4bf92dd82151a","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0957f853566f4ed1","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dda9052190ea36ba","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"405d689aa899d56a","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"04c027e602559691","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e4d5449051e87268","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0361ac71ab1f1e78","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"557c9b2216400d91","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d8b04326cdbdbb2d","type":"ui_group","name":"IED 18 CB Manual Control","tab":"564a8f86827668e8","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"cc51baa501398967","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7d1cff3609c12aac","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["a756e99892944985"]]},{"id":"16f9729f640acfa7","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/vphase2","qos":"2","datatype":"auto","broker":"39c690d52e8562fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["f56ed6349faedc64"]]},{"id":"73d4db88ae104f44","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/vphase3","qos":"2","datatype":"auto","broker":"192291e967eb3ba8","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["4c3d48ad1697c17b"]]},{"id":"0f1bc40da58958fe","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/iphase1","qos":"2","datatype":"auto","broker":"db690bfad78bf5ef","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["6f8334c208a8cccf"]]},{"id":"ee4ae68257dbb17a","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/iphase2","qos":"2","datatype":"auto","broker":"be743565446a203c","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["61c390da0a90ae72"]]},{"id":"c2bb5253fcee47a6","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/iphase3","qos":"2","datatype":"auto","broker":"8b811ae0373c4339","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["7747f1d9a73ce1df"]]},{"id":"4d59af19a431b671","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/freq","qos":"2","datatype":"auto","broker":"39c88a20703481ed","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":540,"wires":[["12eb40f2a62073b5"]]},{"id":"8af6f720e2c21553","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/voltage_N","qos":"2","datatype":"auto","broker":"f009bdbc0209a78b","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":600,"wires":[["3437d080a4cb331b"]]},{"id":"ce8d3a55991bb86e","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/current_N","qos":"2","datatype":"auto","broker":"94dac132396f709b","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":660,"wires":[["32b63a348488bac2"]]},{"id":"a756e99892944985","type":"function","z":"78285baff1633871","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"c1850eaebfcfc5b3","type":"function","z":"78285baff1633871","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["a0377238e9b2418e"]]},{"id":"a0377238e9b2418e","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"19dff23040c283c3","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["c1850eaebfcfc5b3"]]},{"id":"f56ed6349faedc64","type":"function","z":"78285baff1633871","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"924a3a3a1823b881","type":"function","z":"78285baff1633871","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["b48faebeee412e17"]]},{"id":"b48faebeee412e17","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"b9adf09870c58c3e","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["924a3a3a1823b881"]]},{"id":"4c3d48ad1697c17b","type":"function","z":"78285baff1633871","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"fbb824cf7acb1674","type":"function","z":"78285baff1633871","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["a168599de967fc57"]]},{"id":"a168599de967fc57","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"907f88bbe7430e32","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["fbb824cf7acb1674"]]},{"id":"6f8334c208a8cccf","type":"function","z":"78285baff1633871","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"620258cd0a3a37d3","type":"function","z":"78285baff1633871","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["d4b04353e24e6dea"]]},{"id":"d4b04353e24e6dea","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"aefcd7261fad3730","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["620258cd0a3a37d3"]]},{"id":"61c390da0a90ae72","type":"function","z":"78285baff1633871","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"c431e7cc4195a2c9","type":"function","z":"78285baff1633871","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["a1b19ca4b20cc4f8"]]},{"id":"a1b19ca4b20cc4f8","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"a3624b861805f33e","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["c431e7cc4195a2c9"]]},{"id":"7747f1d9a73ce1df","type":"function","z":"78285baff1633871","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"2b99581bb2c43287","type":"function","z":"78285baff1633871","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["3a5cd7e4490b68ba"]]},{"id":"3a5cd7e4490b68ba","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"f5b8685109374244","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["2b99581bb2c43287"]]},{"id":"12eb40f2a62073b5","type":"function","z":"78285baff1633871","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"bfb8f127c361b0f8","type":"function","z":"78285baff1633871","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["1163584f8f1b7664"]]},{"id":"1163584f8f1b7664","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"1f422b59f2fde72c","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["bfb8f127c361b0f8"]]},{"id":"3437d080a4cb331b","type":"function","z":"78285baff1633871","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"ae560f3187e70630","type":"function","z":"78285baff1633871","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["95a16cabdb412671"]]},{"id":"95a16cabdb412671","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"cb86080df75f95c0","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["ae560f3187e70630"]]},{"id":"32b63a348488bac2","type":"function","z":"78285baff1633871","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"4b8ce6e8d8d7d1f1","type":"function","z":"78285baff1633871","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["9708db47f06b04b7"]]},{"id":"9708db47f06b04b7","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"73dd6341c07adf2f","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["4b8ce6e8d8d7d1f1"]]},{"id":"8fffb65e98d615ef","type":"mqtt in","z":"78285baff1633871","name":"","topic":"Matlab_to_IED18/load","qos":"2","datatype":"auto","broker":"a1df201516337e09","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":720,"wires":[["bbbb7fdbfda12a4f"]]},{"id":"bbbb7fdbfda12a4f","type":"function","z":"78285baff1633871","name":"","func":"global.set('f16_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"5d4a64171ac19380","type":"function","z":"78285baff1633871","name":"","func":"var obtain_load = global.get(\"f16_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["0bd4fff16c754be9"]]},{"id":"0bd4fff16c754be9","type":"debug","z":"78285baff1633871","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"55bb41abfbc96c6d","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["5d4a64171ac19380"]]},{"id":"49a0104d5e430f20","type":"inject","z":"78285baff1633871","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["c0bff6279d34da19"]]},{"id":"c0bff6279d34da19","type":"function","z":"78285baff1633871","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f16_load\");\n\nvar f16_current1 = obtainI*(obtainL/45);\nvar f16_current2 = obtainI2*(obtainL/45);\nvar f16_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f16_current1', String(f16_current1))\nglobal.set('f16_current2', String(f16_current2))\nglobal.set('f16_current3', String(f16_current3))\n\nmsg.payload = f16_current1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["1b67bcd2c0858ecc"]]},{"id":"1b67bcd2c0858ecc","type":"debug","z":"78285baff1633871","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"bc0b6c0444ef2cd1","type":"mqtt out","z":"3513b7fcf409b7b4","name":"MQTT CB18 Channel","topic":"IED18_to_CB/CB18_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"33357369ce94941b","x":660,"y":360,"wires":[]},{"id":"368e19ecb90e57b9","type":"debug","z":"3513b7fcf409b7b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"c2fb7fd5e8b8c1f0","type":"function","z":"3513b7fcf409b7b4","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f16_current1\");\nvar obtainI2 = global.get(\"f16_current2\");\nvar obtainI3 = global.get(\"f16_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch18\");\nvar scadaswitch_status= global.get(\"scadaswitch18\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n  {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["bc0b6c0444ef2cd1","368e19ecb90e57b9"]]},{"id":"e46eb8fc89f4c6af","type":"function","z":"3513b7fcf409b7b4","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 35 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["6867b0e50b047015","2fa7dc49a881d9cd"]]},{"id":"4b253539d23ac146","type":"debug","z":"3513b7fcf409b7b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"6867b0e50b047015","type":"modbus-flex-write","z":"3513b7fcf409b7b4","name":"","showStatusActivities":false,"showErrors":false,"server":"f89b2b47b12a690b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["4b253539d23ac146"],[]]},{"id":"2fbceee022aa0984","type":"function","z":"3513b7fcf409b7b4","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f16_current1\");\nvar obtainI2 = global.get(\"f16_current2\");\nvar obtainI3 = global.get(\"f16_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["e46eb8fc89f4c6af"]]},{"id":"2fa7dc49a881d9cd","type":"debug","z":"3513b7fcf409b7b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"324fd11787ca15a9","type":"inject","z":"3513b7fcf409b7b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["2fbceee022aa0984","c2fb7fd5e8b8c1f0"]]},{"id":"ea5da7ef673ed07e","type":"comment","z":"3513b7fcf409b7b4","name":"SCADA Dashboard 's switch","info":"","x":300,"y":520,"wires":[]},{"id":"07133c5ad90170b9","type":"comment","z":"3513b7fcf409b7b4","name":"IED's dashboard switch","info":"","x":260,"y":420,"wires":[]},{"id":"f10c73ae1543fbdc","type":"ui_switch","z":"3513b7fcf409b7b4","name":"switch_status","label":"IED18 Circuit breaker 18 switch","tooltip":"","group":"d8b04326cdbdbb2d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":300,"y":460,"wires":[["70871e6f6e90c859"]]},{"id":"70871e6f6e90c859","type":"function","z":"3513b7fcf409b7b4","name":"","func":"global.set('switch18', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[[]]},{"id":"e5256cfaf3a46ac0","type":"function","z":"3513b7fcf409b7b4","name":"","func":"var switch_status = global.get(\"switch18\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":460,"wires":[["2fe0d65b46d0c604"]]},{"id":"2fe0d65b46d0c604","type":"debug","z":"3513b7fcf409b7b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":460,"wires":[]},{"id":"3f3efad36bf37337","type":"inject","z":"3513b7fcf409b7b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":670,"y":460,"wires":[["e5256cfaf3a46ac0"]]},{"id":"80448ad4996a0138","type":"modbus-read","z":"3513b7fcf409b7b4","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"568","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc51baa501398967","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":290,"y":580,"wires":[["bafbc2d420513180"],[]]},{"id":"bafbc2d420513180","type":"function","z":"3513b7fcf409b7b4","name":"","func":"global.set('scadaswitch18', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":580,"wires":[[]]},{"id":"73385be5381308b5","type":"function","z":"3513b7fcf409b7b4","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch18\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":580,"wires":[["1293335b9ad60085"]]},{"id":"1293335b9ad60085","type":"debug","z":"3513b7fcf409b7b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":580,"wires":[]},{"id":"235d6484b66f08b2","type":"inject","z":"3513b7fcf409b7b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":690,"y":580,"wires":[["73385be5381308b5"]]},{"id":"960b253ff7249515","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["0738f4f1660d91f2"]]},{"id":"b37afb469bc35109","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["9d671c1b7164ac02"]]},{"id":"88e9f52f7ca7e80e","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["13838aaa9fed137b"]]},{"id":"8bca1948fb269531","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = global.get('f16_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["b7ee07acbbd4fa27"]]},{"id":"7d79128393e32d5c","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = global.get('f16_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["a9e20f736e6f2b02"]]},{"id":"24a36ed4385bb5c3","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = global.get('f16_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["2691a37b2b60558e"]]},{"id":"d1b403c18da702c6","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["f49a9832e67da286"]]},{"id":"73060fe7d214f7ac","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["12b5d2fcf09d88df"]]},{"id":"1264ea509c4c0864","type":"function","z":"db9ba1b40216cf3c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["5130c2ba75da4ea5"]]},{"id":"0738f4f1660d91f2","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":1,"width":4,"height":1,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1100,"y":320,"wires":[]},{"id":"9d671c1b7164ac02","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":2,"width":4,"height":1,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":380,"wires":[]},{"id":"13838aaa9fed137b","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":3,"width":4,"height":1,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":440,"wires":[]},{"id":"b7ee07acbbd4fa27","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":4,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"a9e20f736e6f2b02","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":5,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"2691a37b2b60558e","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":6,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"f49a9832e67da286","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":7,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"12b5d2fcf09d88df","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":8,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"5130c2ba75da4ea5","type":"ui_text","z":"db9ba1b40216cf3c","group":"5628701d1848a001","order":9,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"3edf1fa03161d0bb","type":"inject","z":"db9ba1b40216cf3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":900,"wires":[["b67c9552994c0066"]]},{"id":"ce655e6590f2c4f4","type":"inject","z":"db9ba1b40216cf3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":860,"wires":[["f8369a1791ad0fea"]]},{"id":"f8369a1791ad0fea","type":"change","z":"db9ba1b40216cf3c","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[[]]},{"id":"b67c9552994c0066","type":"function","z":"db9ba1b40216cf3c","name":"","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f16_current1');\nvar obtainI2 = global.get('f16_current2');\nvar obtainI3 = global.get('f16_current3');\nvar switch_status= global.get(\"switch18\");\nvar scadaswitch_status= global.get(\"scadaswitch18\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n   global.set('F16CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event) \n \ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["73633c4f6c13fcf7"]]},{"id":"73633c4f6c13fcf7","type":"ui_table","z":"db9ba1b40216cf3c","group":"8aa4262603d2f7a4","name":"","order":1,"width":14,"height":6,"columns":[{"field":"Timestamp","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"Faulty Phase (V)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"Faulty Phase (I)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":900,"wires":[]},{"id":"5f2d418a5bf3d67b","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":320,"wires":[["960b253ff7249515"]]},{"id":"105c434ee604d7e9","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/vphase2","qos":"2","datatype":"auto","broker":"39c690d52e8562fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":380,"wires":[["b37afb469bc35109"]]},{"id":"b4345ec97bf857ca","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/vphase3","qos":"2","datatype":"auto","broker":"192291e967eb3ba8","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":440,"wires":[["88e9f52f7ca7e80e"]]},{"id":"233a5d47518d83fc","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/iphase1","qos":"2","datatype":"auto","broker":"db690bfad78bf5ef","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":500,"wires":[["8bca1948fb269531"]]},{"id":"25c19bcccdf5e47a","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/iphase2","qos":"2","datatype":"auto","broker":"be743565446a203c","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":560,"wires":[["7d79128393e32d5c"]]},{"id":"3caa7f38cf8f1684","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/iphase3","qos":"2","datatype":"auto","broker":"8b811ae0373c4339","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":620,"wires":[["24a36ed4385bb5c3"]]},{"id":"126a23ae3c6ce5b5","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/freq","qos":"2","datatype":"auto","broker":"39c88a20703481ed","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":680,"wires":[["d1b403c18da702c6"]]},{"id":"e00aae7473586bef","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/voltage_N","qos":"2","datatype":"auto","broker":"f009bdbc0209a78b","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":740,"wires":[["73060fe7d214f7ac"]]},{"id":"d197f186a3958634","type":"mqtt in","z":"db9ba1b40216cf3c","name":"","topic":"Matlab_to_IED18/current_N","qos":"2","datatype":"auto","broker":"94dac132396f709b","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":800,"wires":[["1264ea509c4c0864"]]},{"id":"92e41b90ae08d2d1","type":"aedes broker","z":"215bc3285cae274f","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":null,"mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":410,"y":120,"wires":[[],[]]},{"id":"29451eaf8206b546","type":"inject","z":"1fbcc7655a763bdf","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied18(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["7997dc3a8aeefb8d"]]},{"id":"683a653db866a6c7","type":"debug","z":"1fbcc7655a763bdf","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"cde6d7eecb2cbcad","type":"inject","z":"1fbcc7655a763bdf","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied18 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["7997dc3a8aeefb8d"]]},{"id":"ae48a78a8bc8f347","type":"inject","z":"1fbcc7655a763bdf","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied18 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["ddd4ac3754887f26"]]},{"id":"88f8b563a833ac55","type":"ui_template","z":"1fbcc7655a763bdf","group":"6fde1b1a84f5412e","name":"Database F16 IED18 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":910,"y":80,"wires":[[]]},{"id":"7997dc3a8aeefb8d","type":"sqlite","z":"1fbcc7655a763bdf","mydb":"be646e1105a51a28","sqlquery":"msg.topic","sql":"","name":"Database F16 IED18 IN","x":670,"y":200,"wires":[["683a653db866a6c7"]]},{"id":"c1322d9ec204ae26","type":"inject","z":"1fbcc7655a763bdf","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["4c5a24906d549784"]]},{"id":"4c5a24906d549784","type":"function","z":"1fbcc7655a763bdf","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied18 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["2e7041ee9159ac32","798d13d7ca8a827d"]]},{"id":"2e7041ee9159ac32","type":"debug","z":"1fbcc7655a763bdf","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"ddd4ac3754887f26","type":"sqlite","z":"1fbcc7655a763bdf","mydb":"be646e1105a51a28","sqlquery":"msg.topic","sql":"","name":"Database F16 IED18 IN","x":670,"y":80,"wires":[["88f8b563a833ac55"]]},{"id":"640e21d9e43a0ad6","type":"catch","z":"1fbcc7655a763bdf","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["656930d96d91b513","bdda681cdd271c9e"]]},{"id":"656930d96d91b513","type":"debug","z":"1fbcc7655a763bdf","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"9bc28e6ceaa49abd","type":"ui_text","z":"1fbcc7655a763bdf","group":"a33d2ef43105fcfc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"bdda681cdd271c9e","type":"function","z":"1fbcc7655a763bdf","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["9bc28e6ceaa49abd"]]},{"id":"2406f62b255b6580","type":"inject","z":"1fbcc7655a763bdf","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied18","payload":"","payloadType":"date","x":340,"y":260,"wires":[["7997dc3a8aeefb8d"]]},{"id":"02f8c554c09fc20a","type":"function","z":"1fbcc7655a763bdf","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"75433ed5b073bcad","type":"inject","z":"1fbcc7655a763bdf","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["02f8c554c09fc20a"]]},{"id":"798d13d7ca8a827d","type":"delay","z":"1fbcc7655a763bdf","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["7997dc3a8aeefb8d"]]},{"id":"1e8bebb8b6e72cb8","type":"inject","z":"8dc49a53b62b1e31","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied18 (TIMESTAMP TEXT NOT NULL,F16CBStatus TEXT NOT NULL,F16CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["2b49a94d48ffebb0"]]},{"id":"0fc96571ac576bdd","type":"debug","z":"8dc49a53b62b1e31","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"9d6bd85a90b6d89b","type":"inject","z":"8dc49a53b62b1e31","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied18 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["2b49a94d48ffebb0"]]},{"id":"aa1fb629406bf092","type":"inject","z":"8dc49a53b62b1e31","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied18 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["ab46292a2ea2f03b"]]},{"id":"0354241b2eb50699","type":"ui_template","z":"8dc49a53b62b1e31","group":"202de5c7fee51d75","name":"Database F16 IED18 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F16CBStatus</th>\n    <th>F16CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F16CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F16CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":860,"y":100,"wires":[[]]},{"id":"2b49a94d48ffebb0","type":"sqlite","z":"8dc49a53b62b1e31","mydb":"be646e1105a51a28","sqlquery":"msg.topic","sql":"","name":"Database F16 IED18 OUT","x":600,"y":220,"wires":[["0fc96571ac576bdd"]]},{"id":"cefb1886bc7f3039","type":"inject","z":"8dc49a53b62b1e31","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["0175f536f1a3a26d"]]},{"id":"0175f536f1a3a26d","type":"function","z":"8dc49a53b62b1e31","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar F16CBStatus=global.get(\"F16CBStatus\");\nvar F16CBEvent=global.get(\"F16CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F16CBStatus,F16CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F16CBStatus + \"\\',\\'\" + F16CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied18 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["2ff3a8259ddb0619","90d186bd6b016fe4"]]},{"id":"2ff3a8259ddb0619","type":"debug","z":"8dc49a53b62b1e31","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"ab46292a2ea2f03b","type":"sqlite","z":"8dc49a53b62b1e31","mydb":"be646e1105a51a28","sqlquery":"msg.topic","sql":"","name":"Database F16 IED18 OUT","x":600,"y":100,"wires":[["0354241b2eb50699"]]},{"id":"507a37c11390abb6","type":"catch","z":"8dc49a53b62b1e31","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["7e207016660a9bb9","098812835224bdf5"]]},{"id":"7e207016660a9bb9","type":"debug","z":"8dc49a53b62b1e31","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"0ca67a056d01870c","type":"ui_text","z":"8dc49a53b62b1e31","group":"a33d2ef43105fcfc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"098812835224bdf5","type":"function","z":"8dc49a53b62b1e31","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["0ca67a056d01870c"]]},{"id":"097b4ca0f30db977","type":"inject","z":"8dc49a53b62b1e31","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied18 ","payload":"","payloadType":"date","x":220,"y":280,"wires":[["2b49a94d48ffebb0"]]},{"id":"b04f63fc489235b4","type":"function","z":"8dc49a53b62b1e31","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"d59fbc2ae51217c4","type":"inject","z":"8dc49a53b62b1e31","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["b04f63fc489235b4"]]},{"id":"90d186bd6b016fe4","type":"delay","z":"8dc49a53b62b1e31","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["2b49a94d48ffebb0"]]},{"id":"72a233f134281a63","type":"mqtt in","z":"8dc49a53b62b1e31","name":"","topic":"IED18_to_CB/CB18_status","qos":"2","datatype":"auto","broker":"63388c7caf895cbb","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["c64d5e7ea2cff7ca","2f3ce8c96bd03edf"]]},{"id":"c64d5e7ea2cff7ca","type":"function","z":"8dc49a53b62b1e31","name":"","func":"global.set('F16CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"2f3ce8c96bd03edf","type":"debug","z":"8dc49a53b62b1e31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"b8a2a3aec1786f09","type":"modbus-flex-write","z":"5e8d4dd277a00397","name":"","showStatusActivities":false,"showErrors":false,"server":"39ff2ec31f5af486","emptyMsgOnFail":false,"keepMsgProperties":true,"x":730,"y":240,"wires":[["e5aff41b56c6645f"],[]]},{"id":"e5aff41b56c6645f","type":"debug","z":"5e8d4dd277a00397","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"f0d44e4092d4436a","type":"comment","z":"5e8d4dd277a00397","name":"Sending all Values to SCADA for Monitoring","info":"","x":310,"y":200,"wires":[]},{"id":"ff8781434502e548","type":"function","z":"5e8d4dd277a00397","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f16_current1');\nvar e = global.get('f16_current2');\nvar f = global.get('f16_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["046f7b14a74ca9cf","86c3332269886deb"]]},{"id":"c4ace5cd7f61413d","type":"inject","z":"5e8d4dd277a00397","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["ff8781434502e548"]]},{"id":"046f7b14a74ca9cf","type":"debug","z":"5e8d4dd277a00397","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":280,"wires":[]},{"id":"86c3332269886deb","type":"function","z":"5e8d4dd277a00397","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 475 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["b8a2a3aec1786f09"]]}]