04 Json Files/IED Files/ied19.json
[{"id":"fec51b7d68e366a0","type":"tab","label":"Matlab to Feeder 17","disabled":false,"info":""},{"id":"70dda0e595b94dd7","type":"tab","label":"Feeder 17 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"93d646584ffdc772","type":"tab","label":"Feeder 17 IED2 Dashboard","disabled":false,"info":"","env":[]},{"id":"819c1609fa442061","type":"tab","label":"Aedes","disabled":false,"info":"","env":[]},{"id":"9e2f7bd64e57618b","type":"tab","label":"Database F17 IED19 IN","disabled":false,"info":""},{"id":"8d3c9d80cad92cd9","type":"tab","label":"Database F17 IED19 OUT","disabled":false,"info":""},{"id":"927b3b4dfba2cd2a","type":"tab","label":"Feeder 17 IED to Scada","disabled":false,"info":"","env":[]},{"id":"052890c0c3130335","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f0deedb3f16ff42d","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"02cc073b4f7c823a","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"688f0e7a7953251e","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1be047b8c3d1d950","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"974cab2ee50efd75","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1838ab9adeb3746e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ae377d2503a0ecd0","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ef85295e1cfb475d","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"5d58e05e76b88518","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"cfb394e9bbc8a440","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"45a497a7c4fb19c9","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0493ddb0d628b37b","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"51e5dbbefc639a9f","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"692530455e46f20d","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"789282942c66c56b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"ed65841e246d3c41","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"72f57cce47ba4698","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"740949aedb8b210f","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f1d1cd20658ed671","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"28c973113eb23580","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47d658f7c21a68c6","type":"ui_tab","name":"DI","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"22a9ecd3d0123451","type":"ui_group","name":"home","tab":"9d24bb8cd5535aa6","order":1,"disp":true,"width":"6","collapse":true},{"id":"e3c068dd6912980d","type":"ui_group","name":"Group 1","tab":"fb678e2c74f1d7ad","order":1,"disp":true,"width":6},{"id":"2368980edfaadc99","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a90e71e310a5ec58","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ab2cd8e8eb4660c","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"871b5cbb11c042f6","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39310f4db81c4fce","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d48398285e03662b","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"796fccf816dc294c","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d64e01f7502c85f8","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"99dbad042d4af1b6","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"ce87093bed85c0dd","type":"ui_group","name":"Event Recording","tab":"d9e09f1ac399b529","order":1,"disp":true,"width":"12","collapse":true},{"id":"c971bf0d2adf1494","type":"ui_group","name":"IED","tab":"d9e09f1ac399b529","order":2,"disp":true,"width":"6","collapse":true},{"id":"a776e83fdab82e06","type":"ui_group","name":"HT-SP-Q01","tab":"d9e09f1ac399b529","order":3,"disp":true,"width":"6","collapse":true},{"id":"d26e6b65238433c1","type":"ui_group","name":"HT-SS1-Q01A","tab":"d9e09f1ac399b529","order":4,"disp":true,"width":"6","collapse":true},{"id":"26f7c2878bce0618","type":"ui_group","name":"HT-SS1-Q01B","tab":"d9e09f1ac399b529","order":5,"disp":true,"width":"6","collapse":true},{"id":"f08495f74de77088","type":"ui_group","name":"HT-SS1-Q02","tab":"d9e09f1ac399b529","order":6,"disp":true,"width":"6","collapse":true},{"id":"42291e492b1d3301","type":"ui_group","name":"LT-MGB-Q01A","tab":"d9e09f1ac399b529","order":7,"disp":true,"width":"6","collapse":true},{"id":"99e6453ca35d8624","type":"ui_group","name":"LT-MGB-Q01B","tab":"d9e09f1ac399b529","order":8,"disp":true,"width":"6","collapse":true},{"id":"79b53771cc7b2972","type":"ui_group","name":"LT-MGB-Q02","tab":"d9e09f1ac399b529","order":9,"disp":true,"width":"6","collapse":true},{"id":"53b7b068f5472fd8","type":"ui_group","name":"LT-MGB-Q03","tab":"d9e09f1ac399b529","order":10,"disp":true,"width":"6","collapse":true},{"id":"f654a972ee836801","type":"ui_group","name":"LT-MGB-Q04","tab":"d9e09f1ac399b529","order":11,"disp":true,"width":"6","collapse":true},{"id":"c978fc4b12092da8","type":"ui_group","name":"WDB1-Q01A","tab":"d9e09f1ac399b529","order":12,"disp":true,"width":"6","collapse":true},{"id":"c9e435c54f669b2a","type":"ui_group","name":"WDB1-Q01B","tab":"d9e09f1ac399b529","order":13,"disp":true,"width":"6","collapse":true},{"id":"4140ab08696283c3","type":"ui_group","name":"HT-SP-Q01","tab":"a5a7fe2348551d64","order":1,"disp":true,"width":"6","collapse":true},{"id":"beb99937bbd1b6e2","type":"ui_group","name":"HT-SS1-Q01A","tab":"a5a7fe2348551d64","order":2,"disp":true,"width":"6","collapse":true},{"id":"eb2db0a42175cee8","type":"ui_group","name":"HT-SS1-Q01B","tab":"a5a7fe2348551d64","order":3,"disp":true,"width":"6","collapse":true},{"id":"73d35ae82c937117","type":"ui_group","name":"LT-MGB-Q01A","tab":"a5a7fe2348551d64","order":4,"disp":true,"width":"6","collapse":true},{"id":"1940417868da9216","type":"ui_group","name":"LT-MGB-Q01B","tab":"a5a7fe2348551d64","order":5,"disp":true,"width":"6","collapse":true},{"id":"6f5331b7f5d64f28","type":"ui_group","name":"LT-MGB-Q02","tab":"a5a7fe2348551d64","order":6,"disp":true,"width":"6","collapse":true},{"id":"517ff93ed67f07f3","type":"ui_group","name":"LT-MGB-Q04","tab":"a5a7fe2348551d64","order":7,"disp":true,"width":"6","collapse":true},{"id":"f9c6a1caa38f384a","type":"ui_group","name":"DI1","tab":"b32841b6c0287bd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfbe75f77a882f26","type":"ui_group","name":"DI 2","tab":"b32841b6c0287bd4","order":2,"disp":true,"width":"6","collapse":false},{"id":"44f56ef5ef6974e0","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"1081896b60752bc6","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"5f4219d442ff1980","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"822bc5f016edac18","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"1dc108c51e974333","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"3cd172ea6f1772be","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"50e7c0968d15762d","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"ba7741ef67273037","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"1ea1e9b1e56c8e27","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"4c950c10195c74dc","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"fc4b1fc6ee463443","type":"ui_group","name":"Group 2","tab":"fb678e2c74f1d7ad","order":2,"disp":true,"width":6},{"id":"df7911bba9571952","type":"ui_group","name":"Group 3","tab":"fb678e2c74f1d7ad","order":3,"disp":true,"width":6},{"id":"697bab8ce9692356","type":"ui_group","name":"Default","tab":"eaea76e397531ebf","order":1,"disp":true,"width":"9","collapse":true},{"id":"557cd2bd06ad7725","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9b2410539875b2fd","type":"ui_group","name":"IED 19","tab":"1b272e33d046bd1b","order":2,"disp":true,"width":"4","collapse":true,"className":""},{"id":"8c1f5c96b25db605","type":"ui_group","name":"Event Recording","tab":"1b272e33d046bd1b","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"1b272e33d046bd1b","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e280d21660ed63da","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b1fe5822a6d71b61","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"90caeb963f4bf596","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91e8e1b4120f9ef5","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"93c4fa8a578fa61e","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"61cd15506b2c5654","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1be3a58327a7551a","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"013edd87b6e3df2a","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"23efc9ec5479df74","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9fb43a03f808fc54","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7f474c52d1673658","type":"ui_group","name":"Database F17 IED19 IN","tab":"a37d50c38d9a8f1f","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"184bd9fcf998eb95","type":"sqlitedb","db":"/tmp/pi_f17_ied19","mode":"RWC"},{"id":"0ed900229c5bbc61","type":"ui_group","name":"Sensors","tab":"33c04decb5898a4b","order":1,"disp":true,"width":"12","collapse":false},{"id":"303082a4c116e8ea","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"979d62bab6b80039","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"281e6b04573d7a5d","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fe6a46b65dc37048","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1347f06b619f4a70","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"527bae0cb7c9c8b1","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b8e68842bffd72c4","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e80c26837a71079","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3397277097e84f03","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9e7e51ce39dad7b7","type":"ui_group","name":"Read Result","tab":"5d2e4219602823d2","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"b4d1b75732d2b7cf","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a37d50c38d9a8f1f","type":"ui_tab","name":"Database F17 IED19 IN","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"33c04decb5898a4b","type":"ui_tab","name":"Home","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"5d2e4219602823d2","type":"ui_tab","name":"Database F17 IED19 OUT","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"728e6f6adfe473c4","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b0df624740039eb5","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"15a819426e1a27a5","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5c577305587d0df7","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"670f68a8f45c2983","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"19b6a36882f5d2a3","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9c1030d3ab6bc4f1","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2385b553b5560398","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"325140561fcd6cfd","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"33357369ce94941b","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f89b2b47b12a690b","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d8b04326cdbdbb2d","type":"ui_group","name":"IED 19 CB Manual Control","tab":"1b272e33d046bd1b","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"cc51baa501398967","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"1e56047751613ada","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/vphase1","qos":"2","datatype":"auto","broker":"f0deedb3f16ff42d","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["813bd0e3d01060c8"]]},{"id":"b5984b9ab18aa081","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/vphase2","qos":"2","datatype":"auto","broker":"e280d21660ed63da","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["c1bde32e97c341d2"]]},{"id":"5ffa1a73e66a8091","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/vphase3","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["93e2c721a7f6018e"]]},{"id":"2ccccff3999fae30","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/iphase1","qos":"2","datatype":"auto","broker":"b1fe5822a6d71b61","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["eef1ac17fe357b1b"]]},{"id":"d71825f786d7a9ec","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/iphase2","qos":"2","datatype":"auto","broker":"90caeb963f4bf596","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["0ca75fe9366aac51"]]},{"id":"db27d99805b518ed","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/iphase3","qos":"2","datatype":"auto","broker":"91e8e1b4120f9ef5","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["5159676e573719d7"]]},{"id":"5f18a8c92950a304","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/freq","qos":"2","datatype":"auto","broker":"93c4fa8a578fa61e","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":540,"wires":[["5257cc40a816a59e"]]},{"id":"a91f44e0a683c5ea","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/voltage_N","qos":"2","datatype":"auto","broker":"61cd15506b2c5654","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":600,"wires":[["48d6cb09cbda20f6"]]},{"id":"d09118021809dcda","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/current_N","qos":"2","datatype":"auto","broker":"1be3a58327a7551a","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":660,"wires":[["920dd289a5685f18"]]},{"id":"813bd0e3d01060c8","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"c4c0c7cfad5618bb","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["8b7a59e15cbfb27b"]]},{"id":"8b7a59e15cbfb27b","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"8c57d6803376595c","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["c4c0c7cfad5618bb"]]},{"id":"c1bde32e97c341d2","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"9a57a2329d472351","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["db788536572afcec"]]},{"id":"db788536572afcec","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"c9f58da58306042b","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["9a57a2329d472351"]]},{"id":"93e2c721a7f6018e","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"d9415624cec53e80","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["666bd3b36ddf202b"]]},{"id":"666bd3b36ddf202b","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"d27343cd998af17c","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["d9415624cec53e80"]]},{"id":"eef1ac17fe357b1b","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"3698d7ac898f6c61","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["777227777df3468c"]]},{"id":"777227777df3468c","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"fd31118bdc3267e9","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["3698d7ac898f6c61"]]},{"id":"0ca75fe9366aac51","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"319ff434a970b139","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["48f4325f86e91ad4"]]},{"id":"48f4325f86e91ad4","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"7eb2e7e531198e1e","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["319ff434a970b139"]]},{"id":"5159676e573719d7","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"ef4402d0581b619d","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["9a535ca70373b3bc"]]},{"id":"9a535ca70373b3bc","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"20516dafbe4d8dff","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["ef4402d0581b619d"]]},{"id":"5257cc40a816a59e","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"94b7289a07ce83c8","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["f98e2488afb77a78"]]},{"id":"f98e2488afb77a78","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"7e6a690bd07dd404","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["94b7289a07ce83c8"]]},{"id":"48d6cb09cbda20f6","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"2fa4a9d68460c6ea","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["cdb2ad7641efbe52"]]},{"id":"cdb2ad7641efbe52","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"9e7a9f49fa07de98","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["2fa4a9d68460c6ea"]]},{"id":"920dd289a5685f18","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"43b15875302d6b9a","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["dca261092bb48e26"]]},{"id":"dca261092bb48e26","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"e8144e4b136bb27b","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["43b15875302d6b9a"]]},{"id":"1fe98e4e86a014c2","type":"mqtt in","z":"fec51b7d68e366a0","name":"","topic":"Matlab_to_IED19/load","qos":"2","datatype":"auto","broker":"013edd87b6e3df2a","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":720,"wires":[["e5679fd191f69b10"]]},{"id":"e5679fd191f69b10","type":"function","z":"fec51b7d68e366a0","name":"","func":"global.set('f17_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"ce0302224749eb35","type":"function","z":"fec51b7d68e366a0","name":"","func":"var obtain_load = global.get(\"f17_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["5e13bee51d5e1b18"]]},{"id":"5e13bee51d5e1b18","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"fa129c4f2f83d884","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["ce0302224749eb35"]]},{"id":"4f3bf337268f912d","type":"inject","z":"fec51b7d68e366a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["d04499c0f08ebe24"]]},{"id":"d04499c0f08ebe24","type":"function","z":"fec51b7d68e366a0","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f17_load\");\n\nvar f17_current1 = obtainI*(obtainL/45);\nvar f17_current2 = obtainI2*(obtainL/45);\nvar f17_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f17_current1', String(f17_current1))\nglobal.set('f17_current2', String(f17_current2))\nglobal.set('f17_current3', String(f17_current3))\n\nmsg.payload = f17_current1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["9627d2efeff61916"]]},{"id":"9627d2efeff61916","type":"debug","z":"fec51b7d68e366a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"4d61e4ac167af928","type":"debug","z":"70dda0e595b94dd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"954ece7ca3a5d582","type":"function","z":"70dda0e595b94dd7","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f17_current1\");\nvar obtainI2 = global.get(\"f17_current2\");\nvar obtainI3 = global.get(\"f17_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch19\");\nvar scadaswitch_status= global.get(\"scadaswitch19\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["4d61e4ac167af928","e40d88396ec06350"]]},{"id":"0ca9e1779aa46195","type":"function","z":"70dda0e595b94dd7","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 36 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["0e761f078160ab3d","f1923fb3896c3091"]]},{"id":"148bbf9149415979","type":"debug","z":"70dda0e595b94dd7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"0e761f078160ab3d","type":"modbus-flex-write","z":"70dda0e595b94dd7","name":"","showStatusActivities":false,"showErrors":false,"server":"9fb43a03f808fc54","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["148bbf9149415979"],[]]},{"id":"17f0ac1e1bb11809","type":"function","z":"70dda0e595b94dd7","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f17_current1\");\nvar obtainI2 = global.get(\"f17_current2\");\nvar obtainI3 = global.get(\"f17_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["0ca9e1779aa46195"]]},{"id":"f1923fb3896c3091","type":"debug","z":"70dda0e595b94dd7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"b2f562bff65942b0","type":"inject","z":"70dda0e595b94dd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["17f0ac1e1bb11809","954ece7ca3a5d582"]]},{"id":"e40d88396ec06350","type":"mqtt out","z":"70dda0e595b94dd7","name":"MQTT CB19 Channel","topic":"IED19_to_CB/CB19_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"23efc9ec5479df74","x":660,"y":360,"wires":[]},{"id":"8427c7f16ef58c13","type":"comment","z":"70dda0e595b94dd7","name":"SCADA Dashboard 's switch","info":"","x":280,"y":520,"wires":[]},{"id":"05e7be7ecc13aeae","type":"comment","z":"70dda0e595b94dd7","name":"IED's dashboard switch","info":"","x":240,"y":420,"wires":[]},{"id":"5f0b57ed79797169","type":"ui_switch","z":"70dda0e595b94dd7","name":"switch_status","label":"IED19 Circuit breaker 19 switch","tooltip":"","group":"d8b04326cdbdbb2d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":280,"y":460,"wires":[["f3a5b9ec27742505"]]},{"id":"f3a5b9ec27742505","type":"function","z":"70dda0e595b94dd7","name":"","func":"global.set('switch19', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":460,"wires":[[]]},{"id":"b6fa1dfbbe13644c","type":"function","z":"70dda0e595b94dd7","name":"","func":"var switch_status = global.get(\"switch19\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":460,"wires":[["b23f6f1cd1e8695a"]]},{"id":"b23f6f1cd1e8695a","type":"debug","z":"70dda0e595b94dd7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":460,"wires":[]},{"id":"0cb90ce097888a56","type":"inject","z":"70dda0e595b94dd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":650,"y":460,"wires":[["b6fa1dfbbe13644c"]]},{"id":"36eb27ea13389e1f","type":"modbus-read","z":"70dda0e595b94dd7","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"569","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc51baa501398967","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":270,"y":580,"wires":[["90257ce31e7df7e4"],[]]},{"id":"90257ce31e7df7e4","type":"function","z":"70dda0e595b94dd7","name":"","func":"global.set('scadaswitch19', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[[]]},{"id":"d18cd0a6afa2f727","type":"function","z":"70dda0e595b94dd7","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch19\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":580,"wires":[["bc945ebc8760def3"]]},{"id":"bc945ebc8760def3","type":"debug","z":"70dda0e595b94dd7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":580,"wires":[]},{"id":"529fbeebeb5f1dec","type":"inject","z":"70dda0e595b94dd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":670,"y":580,"wires":[["d18cd0a6afa2f727"]]},{"id":"927ff377e03bfa7f","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["7252be8aeb62ec54"]]},{"id":"390365c9283f63aa","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["f56ff16a51fb7919"]]},{"id":"699636b5a8ca8f78","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["0d358234ccb5d45e"]]},{"id":"c096cd8561bc9c2f","type":"function","z":"93d646584ffdc772","name":"","func":"var d = global.get('f17_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["cf8d12b29d2752aa"]]},{"id":"1fe073ffb05ee8c2","type":"function","z":"93d646584ffdc772","name":"","func":"var d = global.get('f17_current2');\nmsg.payload = parseFloat(d).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["e3b65173727e7630"]]},{"id":"dd99dbc6f732a149","type":"function","z":"93d646584ffdc772","name":"","func":"var d = global.get('f17_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["8f9ee980dd98e912"]]},{"id":"9dcac54cb13816ed","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["57bf25bf05831546"]]},{"id":"e54cdbf831582b12","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["ee3b3c1d9c450905"]]},{"id":"34cc4382a7ad346a","type":"function","z":"93d646584ffdc772","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["35a4fab6b84591ba"]]},{"id":"7252be8aeb62ec54","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":1,"width":4,"height":1,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1100,"y":320,"wires":[]},{"id":"f56ff16a51fb7919","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":2,"width":4,"height":1,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":380,"wires":[]},{"id":"0d358234ccb5d45e","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":3,"width":4,"height":1,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":440,"wires":[]},{"id":"cf8d12b29d2752aa","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":4,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"e3b65173727e7630","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":5,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"8f9ee980dd98e912","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":6,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"57bf25bf05831546","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":7,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"ee3b3c1d9c450905","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":8,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"35a4fab6b84591ba","type":"ui_text","z":"93d646584ffdc772","group":"9b2410539875b2fd","order":9,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"a38642969a28100c","type":"inject","z":"93d646584ffdc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":900,"wires":[["f0bd56909e927abb"]]},{"id":"505658bc9125902b","type":"inject","z":"93d646584ffdc772","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":860,"wires":[["91e09c8f1fba9659"]]},{"id":"91e09c8f1fba9659","type":"change","z":"93d646584ffdc772","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[[]]},{"id":"f0bd56909e927abb","type":"function","z":"93d646584ffdc772","name":"","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get('f17_current1');\nvar obtainI2 = global.get('f17_current2');\nvar obtainI3 = global.get('f17_current3');\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\n\nvar switch_status= global.get(\"switch19\");\nvar scadaswitch_status= global.get(\"scadaswitch19\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n   global.set('F17CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \nglobal.set('event', event) \n \ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["fa9e09e2b986708e"]]},{"id":"fa9e09e2b986708e","type":"ui_table","z":"93d646584ffdc772","group":"8c1f5c96b25db605","name":"","order":1,"width":14,"height":6,"columns":[{"field":"Timestamp","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"Faulty Phase (V)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"Faulty Phase (I)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":900,"wires":[]},{"id":"eabcb2310528e655","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/vphase1","qos":"2","datatype":"auto","broker":"f0deedb3f16ff42d","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":320,"wires":[["927ff377e03bfa7f"]]},{"id":"d4814256c6cae0a0","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/vphase2","qos":"2","datatype":"auto","broker":"e280d21660ed63da","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":380,"wires":[["390365c9283f63aa"]]},{"id":"555ef69efb618bdb","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/vphase3","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":440,"wires":[["699636b5a8ca8f78"]]},{"id":"1c3cad81218bc5d0","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/iphase1","qos":"2","datatype":"auto","broker":"b1fe5822a6d71b61","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":500,"wires":[["c096cd8561bc9c2f"]]},{"id":"f6e686b17a0d1d6e","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/iphase2","qos":"2","datatype":"auto","broker":"90caeb963f4bf596","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":560,"wires":[["1fe073ffb05ee8c2"]]},{"id":"98bc95013ca06e27","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/iphase3","qos":"2","datatype":"auto","broker":"91e8e1b4120f9ef5","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":620,"wires":[["dd99dbc6f732a149"]]},{"id":"d60394c928252b66","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/freq","qos":"2","datatype":"auto","broker":"93c4fa8a578fa61e","nl":false,"rap":true,"rh":0,"inputs":0,"x":560,"y":680,"wires":[["9dcac54cb13816ed"]]},{"id":"4fddaf09fa80f2a7","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/voltage_N","qos":"2","datatype":"auto","broker":"61cd15506b2c5654","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":740,"wires":[["e54cdbf831582b12"]]},{"id":"1c4f6ee8ad3fa392","type":"mqtt in","z":"93d646584ffdc772","name":"","topic":"Matlab_to_IED19/current_N","qos":"2","datatype":"auto","broker":"1be3a58327a7551a","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":800,"wires":[["34cc4382a7ad346a"]]},{"id":"b7c21ed5db7196d7","type":"aedes broker","z":"819c1609fa442061","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":null,"mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":590,"y":140,"wires":[[],[]]},{"id":"a9f37bd9df4a3e71","type":"inject","z":"9e2f7bd64e57618b","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied19 (TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["08a2ec8c52127e2f"]]},{"id":"49eb08db76520662","type":"debug","z":"9e2f7bd64e57618b","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"ae221454f28b684e","type":"inject","z":"9e2f7bd64e57618b","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied19 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["08a2ec8c52127e2f"]]},{"id":"bbb4922cc0f7d048","type":"inject","z":"9e2f7bd64e57618b","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied19 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["bbdb7c07b3b7edc7"]]},{"id":"dc1b94757c7438fe","type":"ui_template","z":"9e2f7bd64e57618b","group":"7f474c52d1673658","name":"Database F17 IED19 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":910,"y":80,"wires":[[]]},{"id":"08a2ec8c52127e2f","type":"sqlite","z":"9e2f7bd64e57618b","mydb":"184bd9fcf998eb95","sqlquery":"msg.topic","sql":"","name":"Database F17 IED19 IN","x":670,"y":200,"wires":[["49eb08db76520662"]]},{"id":"22b8f9a779f5519d","type":"inject","z":"9e2f7bd64e57618b","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["5c75f51f25f2e587"]]},{"id":"5c75f51f25f2e587","type":"function","z":"9e2f7bd64e57618b","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied19 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["4beacbada2fd58f3","376ea6eb8dc7b78e"]]},{"id":"4beacbada2fd58f3","type":"debug","z":"9e2f7bd64e57618b","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"bbdb7c07b3b7edc7","type":"sqlite","z":"9e2f7bd64e57618b","mydb":"184bd9fcf998eb95","sqlquery":"msg.topic","sql":"","name":"Database F17 IED19 IN","x":670,"y":80,"wires":[["dc1b94757c7438fe"]]},{"id":"8a021562b5da97b5","type":"catch","z":"9e2f7bd64e57618b","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["92fe3021c87d8ef2","9d937eb7ecb9b56f"]]},{"id":"92fe3021c87d8ef2","type":"debug","z":"9e2f7bd64e57618b","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"22773f2e082fc85d","type":"ui_text","z":"9e2f7bd64e57618b","group":"0ed900229c5bbc61","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"9d937eb7ecb9b56f","type":"function","z":"9e2f7bd64e57618b","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["22773f2e082fc85d"]]},{"id":"b71f59a22d4a241a","type":"inject","z":"9e2f7bd64e57618b","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied19","payload":"","payloadType":"date","x":340,"y":260,"wires":[["08a2ec8c52127e2f"]]},{"id":"04ba043215ea35c1","type":"function","z":"9e2f7bd64e57618b","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"389fd632febd309c","type":"inject","z":"9e2f7bd64e57618b","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["04ba043215ea35c1"]]},{"id":"376ea6eb8dc7b78e","type":"delay","z":"9e2f7bd64e57618b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["08a2ec8c52127e2f"]]},{"id":"a4e27084658af00c","type":"inject","z":"8d3c9d80cad92cd9","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied19(TIMESTAMP TEXT NOT NULL,F17CBStatus TEXT NOT NULL,F17CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["cc333dd9ff40fce6"]]},{"id":"387dd8b87dcfc3aa","type":"debug","z":"8d3c9d80cad92cd9","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"57489aa35c301816","type":"inject","z":"8d3c9d80cad92cd9","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied19 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["cc333dd9ff40fce6"]]},{"id":"18fde3fc243a4a5b","type":"inject","z":"8d3c9d80cad92cd9","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied19 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["fa4c3010b9ebf82c"]]},{"id":"9fbaf753ec8c1735","type":"ui_template","z":"8d3c9d80cad92cd9","group":"9e7e51ce39dad7b7","name":"Database F17 IED19 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F17CBStatus</th>\n    <th>F17CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F17CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F17CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":860,"y":100,"wires":[[]]},{"id":"cc333dd9ff40fce6","type":"sqlite","z":"8d3c9d80cad92cd9","mydb":"184bd9fcf998eb95","sqlquery":"msg.topic","sql":"","name":"Database F17 IED19 OUT","x":600,"y":220,"wires":[["387dd8b87dcfc3aa"]]},{"id":"8fba396085791159","type":"inject","z":"8d3c9d80cad92cd9","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["7f971394aa64de01"]]},{"id":"7f971394aa64de01","type":"function","z":"8d3c9d80cad92cd9","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar F17CBStatus=global.get(\"F17CBStatus\");\nvar F17CBEvent=global.get(\"F17CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F17CBStatus,F17CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F17CBStatus + \"\\',\\'\" + F17CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied19 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["e0014f4a3597e1a3","da180761d9ab0004"]]},{"id":"e0014f4a3597e1a3","type":"debug","z":"8d3c9d80cad92cd9","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"581167b6ec86f1ab","type":"catch","z":"8d3c9d80cad92cd9","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["06e32aadf936d3f3","6def0f28c284f2d3"]]},{"id":"06e32aadf936d3f3","type":"debug","z":"8d3c9d80cad92cd9","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"e0298351f62c479c","type":"ui_text","z":"8d3c9d80cad92cd9","group":"0ed900229c5bbc61","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"6def0f28c284f2d3","type":"function","z":"8d3c9d80cad92cd9","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["e0298351f62c479c"]]},{"id":"c5824b126657d0d1","type":"inject","z":"8d3c9d80cad92cd9","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied19","payload":"","payloadType":"date","x":220,"y":280,"wires":[["cc333dd9ff40fce6"]]},{"id":"aea44f2e37d5be74","type":"function","z":"8d3c9d80cad92cd9","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"6549a8dec3db4992","type":"inject","z":"8d3c9d80cad92cd9","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["aea44f2e37d5be74"]]},{"id":"da180761d9ab0004","type":"delay","z":"8d3c9d80cad92cd9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["cc333dd9ff40fce6"]]},{"id":"f12a225c0626b7f8","type":"mqtt in","z":"8d3c9d80cad92cd9","name":"","topic":"IED19_to_CB/CB19_status","qos":"2","datatype":"auto","broker":"b4d1b75732d2b7cf","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["3ca279c97a1790e8","cc8b8a6dea8b39b2"]]},{"id":"3ca279c97a1790e8","type":"function","z":"8d3c9d80cad92cd9","name":"","func":"global.set('F17CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"cc8b8a6dea8b39b2","type":"debug","z":"8d3c9d80cad92cd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"fa4c3010b9ebf82c","type":"sqlite","z":"8d3c9d80cad92cd9","mydb":"184bd9fcf998eb95","sqlquery":"msg.topic","sql":"","name":"Database F17 IED19 OUT","x":600,"y":100,"wires":[["9fbaf753ec8c1735"]]},{"id":"c3203c85ceea034b","type":"modbus-flex-write","z":"927b3b4dfba2cd2a","name":"","showStatusActivities":false,"showErrors":false,"server":"728e6f6adfe473c4","emptyMsgOnFail":false,"keepMsgProperties":true,"x":750,"y":260,"wires":[["1ecc2982dbfb4407"],[]]},{"id":"1ecc2982dbfb4407","type":"debug","z":"927b3b4dfba2cd2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":260,"wires":[]},{"id":"1ba020d84b0de713","type":"function","z":"927b3b4dfba2cd2a","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 500 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":200,"wires":[["c3203c85ceea034b"]]},{"id":"45624f3c287de968","type":"inject","z":"927b3b4dfba2cd2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":200,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"927b3b4dfba2cd2a","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f17_current1');\nvar e = global.get('f17_current2');\nvar f = global.get('f17_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["1ba020d84b0de713"]]}]