04 Json Files/IED Files/ied11.json
[{"id":"8ee52ac1a281ebe2","type":"tab","label":"Matlab to Feeder 9","disabled":false,"info":""},{"id":"c7b6f4e1c36bfc4f","type":"tab","label":"Feeder 9 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"133c9a966e3999dc","type":"tab","label":"Feeder 9 IED Dashboard","disabled":false,"info":""},{"id":"057cf6507b4baaec","type":"tab","label":"Database F9 IED11 IN","disabled":false,"info":""},{"id":"3f64f611b7c8edf0","type":"tab","label":"Database F9 IED11 OUT","disabled":false,"info":""},{"id":"5cad434a212c043f","type":"tab","label":"Feeder 9 IED to Scada","disabled":false,"info":"","env":[]},{"id":"397623427987d479","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"45848a6f0ee929b6","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b9d362f3c34df217","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"750066c729a48a04","type":"ui_group","name":"home","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"ee1f086ef32e48a9","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"955dfbcf9d3e3bf3","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"69fac258728f115c","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d0590855a2e77525","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"de4366f88e35111b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0e1882d1fd5d1d54","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a3e4865f8fa54fb1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"28299861a2c1c4ba","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"93ac37a4d02e03f0","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"7d08476487d52fb3","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2808892dd5dc280c","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"95fb8fb79ebba6b7","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b44f5369b3bf7f74","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"0887decea9beac8c","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"0999e01968d276e6","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f241b131f4606242","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3d77014bea6a1fb","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"0543a7a789ee9924","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"74142685bfd418e3","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"09a96837ba1bf1c5","type":"ui_group","name":"Event Recording","tab":"","order":1,"disp":true,"width":"12","collapse":true},{"id":"38daf288bbdaf7dc","type":"ui_group","name":"IED 11","tab":"","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3911943b4a024a48","type":"ui_group","name":"LT-MGB-Q01A","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"53de18e296c23034","type":"ui_group","name":"LT-MGB-Q01B","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"6f20900a762703bc","type":"ui_group","name":"LT-MGB-Q02","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"c00d6a3925e39abd","type":"ui_group","name":"LT-MGB-Q03","tab":"","order":6,"disp":true,"width":"6","collapse":true},{"id":"e313e4b8bcf385f1","type":"ui_group","name":"LT-MGB-Q04","tab":"","order":7,"disp":true,"width":"6","collapse":true},{"id":"7259ecb93bf19f20","type":"ui_group","name":"WDB1-Q01A","tab":"","order":8,"disp":true,"width":"6","collapse":true},{"id":"255cb1418976de27","type":"ui_group","name":"WDB1-Q01B","tab":"","order":9,"disp":true,"width":"6","collapse":true},{"id":"3be04970e9437922","type":"ui_tab","name":"IED Indication","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"be618b367019868e","type":"ui_group","name":"HT-SP-Q01","tab":"3be04970e9437922","order":1,"disp":true,"width":"6","collapse":true},{"id":"796770450d718c94","type":"ui_group","name":"HT-SS1-Q01A","tab":"3be04970e9437922","order":2,"disp":true,"width":"6","collapse":true},{"id":"d383535f4b882f17","type":"ui_group","name":"HT-SS1-Q01B","tab":"3be04970e9437922","order":3,"disp":true,"width":"6","collapse":true},{"id":"e38816ecc2b019c1","type":"ui_group","name":"LT-MGB-Q01A","tab":"3be04970e9437922","order":4,"disp":true,"width":"6","collapse":true},{"id":"041dd7da59bfae67","type":"ui_group","name":"LT-MGB-Q01B","tab":"3be04970e9437922","order":5,"disp":true,"width":"6","collapse":true},{"id":"f17bd882c81fb8ba","type":"ui_group","name":"LT-MGB-Q02","tab":"3be04970e9437922","order":6,"disp":true,"width":"6","collapse":true},{"id":"d5a954e184658418","type":"ui_group","name":"LT-MGB-Q04","tab":"3be04970e9437922","order":7,"disp":true,"width":"6","collapse":true},{"id":"9f960033e94af7f2","type":"ui_tab","name":"DI","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"583290ec376d51e6","type":"ui_group","name":"DI1","tab":"9f960033e94af7f2","order":1,"disp":true,"width":"6","collapse":false},{"id":"63c0c4b6881b7056","type":"ui_group","name":"DI 2","tab":"9f960033e94af7f2","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b027c93b4c70b05","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"b55d220e7ae5b266","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"eccbafe5575719c9","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"437735db0361e720","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"5c8ba925078ad66d","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"429c6fbaceef1cca","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f1417ff2751ef73e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"24f45cb2106b8249","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"7c75d44b9442e41f","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"164586f35192655f","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"09c8ee9ec217f98e","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"412654b9467ed03d","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"600ede8b728b83c8","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"a768b2efa23fa5e8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"67169e17a99780c0","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"de75147db919f4e2","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"b6364785d71f946a","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9a08b4fd0328e641","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"9e2db360ad42c76c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8edc2e25a16b5a5e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f3f77a46ec0f6238","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"9","collapse":true},{"id":"7ea59b9fb09a076a","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"fe80af26533085b8","type":"ui_group","name":"IED 11","tab":"5aed286f994a0f9b","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2c146b46fe300dac","type":"ui_group","name":"Event Recording","tab":"5aed286f994a0f9b","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"5aed286f994a0f9b","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fc83619cebaccbc8","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f8be700b6710408","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0bbcb99eeb546185","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c73ea7c602ec1d79","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3b83800e88ab3586","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"63e4c0bf540a02a2","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f95acad694c03b40","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8c28855a446f8009","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9234dbf911e60213","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"841f2a2e254a62b5","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5ab6089343371624","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"afac0270e3ff0d6c","type":"ui_group","name":"Database F9 IED11 IN","tab":"7dfc50f0c0c8bacc","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"40877a552e161a09","type":"sqlitedb","db":"/tmp/pi_f9_ied11","mode":"RWC"},{"id":"cc56352a26624647","type":"ui_group","name":"Sensors","tab":"94e3c0ff281080e2","order":1,"disp":true,"width":"12","collapse":false},{"id":"912951b131158966","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64ac1603b3992364","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fbc2c179eb9b7322","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2c27a0ad12e094be","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f1bf708cf637837b","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e8deefcd96646965","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cdac7ae85feaeb4c","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e56fcaf2accae42e","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e513cedb1878d2bf","type":"mqtt-broker","name":"","broker":"192.168.00.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9a22e7087608c69a","type":"ui_group","name":"Read Result","tab":"5603057ab1ac93f8","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"b8132e77e67cc318","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"d9e40e27b3d0c796","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7dfc50f0c0c8bacc","type":"ui_tab","name":"Database F9 IED11 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"94e3c0ff281080e2","type":"ui_tab","name":"Home","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"5603057ab1ac93f8","type":"ui_tab","name":"Database F9 IED11 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7d69de181515b667","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"498674237e8b7baf","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c0ba72d111fc73a0","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"74006ff7ca207767","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be3a92c7414b8db2","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"57b2ac0a2d8fbf0d","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"405e3f47cfa67c86","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3bff371788b27b84","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6da0b0cb5e8074eb","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bd55cf29aa8ad217","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2757e26062a5c981","type":"modbus-client","name":"PyModbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9fa04bf3b72bc2e7","type":"ui_group","name":"IED 11 CB Manual Control","tab":"5aed286f994a0f9b","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"f26433a1fa586253","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a8cf692cc3033ec1","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c780804574035f33","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b75c2e5d44c8c685","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6f3d438ec2dfc7bb","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3abdb6fbc2437e51","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1a3a17b7fb52573","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28dd6d951f6889f1","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9109174f89c9db7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d2a851e3b6ce54","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39ca2212f01664f2","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9c00f29340c78c2","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"486e253251fa3762","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["8a3e6c36429ebfd3"]]},{"id":"8a3e6c36429ebfd3","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"7c09261dca5bfc06","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["486e253251fa3762"]]},{"id":"8f7d11ae55582fc1","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"f418595e66905c7c","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["86f9aeb63a340f0d"]]},{"id":"86f9aeb63a340f0d","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"220cc5794fb64aa8","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["f418595e66905c7c"]]},{"id":"8f07d60ef471c715","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"a3d45d4204c7f98a","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["258fc6061eac4fe8"]]},{"id":"258fc6061eac4fe8","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"bc4928ebee3a03bf","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["a3d45d4204c7f98a"]]},{"id":"0ec1d22a48af1686","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"92f31436b04180f0","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["b3da22e96c1f2b80"]]},{"id":"b3da22e96c1f2b80","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"7b474bb5519cfee9","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["92f31436b04180f0"]]},{"id":"1ea0d3724e6fecee","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"a75a22ba22912e01","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["337005879115998f"]]},{"id":"337005879115998f","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"161e35febfd52cbc","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["a75a22ba22912e01"]]},{"id":"9a25c98af304bd79","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"29eeef3f25e3b8ba","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["2812a3fe4b0e972f"]]},{"id":"2812a3fe4b0e972f","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"3b465544f1d7d2ea","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["29eeef3f25e3b8ba"]]},{"id":"aafca3e58c086eb2","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"35c0971f0aa147b8","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["faa2fb68534394b6"]]},{"id":"faa2fb68534394b6","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"b7fbacbc7e3eced1","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["35c0971f0aa147b8"]]},{"id":"747f3101b92817f0","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"bd2f3283268d4955","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["6482a0396b9cd5df"]]},{"id":"6482a0396b9cd5df","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"1f749aad2d6a4ebe","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["bd2f3283268d4955"]]},{"id":"75d783f7437bf2fe","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"811f7fb4382b476c","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["5baa5ba98a9f4d21"]]},{"id":"5baa5ba98a9f4d21","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"96a597c33abb153e","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["811f7fb4382b476c"]]},{"id":"b18ca8d25da88ac5","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"global.set('f9_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"64c9dce138ba05f5","type":"function","z":"8ee52ac1a281ebe2","name":"","func":"var obtain_load = global.get(\"f9_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["5f062cae66e8496d"]]},{"id":"5f062cae66e8496d","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"646525ac5c4d7428","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["64c9dce138ba05f5"]]},{"id":"d0d4c638837bb355","type":"inject","z":"8ee52ac1a281ebe2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["bcf15742f4c7c12a"]]},{"id":"bcf15742f4c7c12a","type":"function","z":"8ee52ac1a281ebe2","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f9_load\");\n\nvar f9_current1 = obtainI*(obtainL/45);\nvar f9_current2 = obtainI2*(obtainL/45);\nvar f9_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f9_current1', String(f9_current1))\nglobal.set('f9_current2', String(f9_current2))\nglobal.set('f9_current3', String(f9_current3))\n\nmsg.payload = f9_current2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["8ad32b02579c68fc"]]},{"id":"8ad32b02579c68fc","type":"debug","z":"8ee52ac1a281ebe2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"996254e173f7ea64","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/load","qos":"2","datatype":"auto","broker":"a8cf692cc3033ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":720,"wires":[["b18ca8d25da88ac5"]]},{"id":"54944b0ee514203a","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":180,"wires":[["a9c00f29340c78c2"]]},{"id":"01f47eb02e3d154a","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":240,"wires":[["8f7d11ae55582fc1"]]},{"id":"30821bbb638ca139","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":300,"wires":[["8f07d60ef471c715"]]},{"id":"06b22b27daf6c883","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":360,"wires":[["0ec1d22a48af1686"]]},{"id":"c13951f1260875dc","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":420,"wires":[["1ea0d3724e6fecee"]]},{"id":"6fdc6cc4261fa07c","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":480,"wires":[["9a25c98af304bd79"]]},{"id":"491cc7a0a93f0eaa","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":540,"wires":[["aafca3e58c086eb2"]]},{"id":"28f89b3e87454d15","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":600,"wires":[["747f3101b92817f0"]]},{"id":"a026f7a11bb818c0","type":"mqtt in","z":"8ee52ac1a281ebe2","name":"","topic":"Matlab_to_IED11/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":660,"wires":[["75d783f7437bf2fe"]]},{"id":"99e92582adfb3f9e","type":"mqtt out","z":"c7b6f4e1c36bfc4f","name":"MQTT CB11 Channel","topic":"IED11_to_CB/CB11_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"14d8de8b997f2ec1","x":660,"y":360,"wires":[]},{"id":"e9c18ff1e05ec338","type":"debug","z":"c7b6f4e1c36bfc4f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"d4f697a430baa3d3","type":"function","z":"c7b6f4e1c36bfc4f","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f9_current1\");\nvar obtainI2 = global.get(\"f9_current2\");\nvar obtainI3 = global.get(\"f9_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch11\");\nvar scadaswitch_status= global.get(\"scadaswitch11\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n   else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["99e92582adfb3f9e","e9c18ff1e05ec338"]]},{"id":"77f1681da59877ef","type":"function","z":"c7b6f4e1c36bfc4f","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 28 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["e7449f87b5adcf3b","08974592661cd954"]]},{"id":"e84d577c91fb90ea","type":"debug","z":"c7b6f4e1c36bfc4f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"e7449f87b5adcf3b","type":"modbus-flex-write","z":"c7b6f4e1c36bfc4f","name":"","showStatusActivities":false,"showErrors":false,"server":"5ab6089343371624","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["e84d577c91fb90ea"],[]]},{"id":"07e6579c7c928a34","type":"function","z":"c7b6f4e1c36bfc4f","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f9_current1\");\nvar obtainI2 = global.get(\"f9_current2\");\nvar obtainI3 = global.get(\"f9_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["77f1681da59877ef"]]},{"id":"08974592661cd954","type":"debug","z":"c7b6f4e1c36bfc4f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"3639b148e7aaaf27","type":"inject","z":"c7b6f4e1c36bfc4f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["07e6579c7c928a34","d4f697a430baa3d3"]]},{"id":"022dc8e666a44e7f","type":"comment","z":"c7b6f4e1c36bfc4f","name":"SCADA Dashboard 's switch","info":"","x":320,"y":520,"wires":[]},{"id":"027884b38352c6bf","type":"comment","z":"c7b6f4e1c36bfc4f","name":"IED's dashboard switch","info":"","x":280,"y":420,"wires":[]},{"id":"5510a41cb6d2bb16","type":"ui_switch","z":"c7b6f4e1c36bfc4f","name":"switch_status","label":"IED11 Circuit breaker 11 switch","tooltip":"","group":"9fa04bf3b72bc2e7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":320,"y":460,"wires":[["6536ff97af12362c"]]},{"id":"6536ff97af12362c","type":"function","z":"c7b6f4e1c36bfc4f","name":"","func":"global.set('switch11', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[[]]},{"id":"1903f7fac8947ded","type":"function","z":"c7b6f4e1c36bfc4f","name":"","func":"var switch_status = global.get(\"switch11\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":460,"wires":[["91342729484c21f2"]]},{"id":"91342729484c21f2","type":"debug","z":"c7b6f4e1c36bfc4f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":460,"wires":[]},{"id":"af03e933944c2b5f","type":"inject","z":"c7b6f4e1c36bfc4f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":690,"y":460,"wires":[["1903f7fac8947ded"]]},{"id":"679625d6d77fa389","type":"modbus-read","z":"c7b6f4e1c36bfc4f","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"561","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f26433a1fa586253","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":310,"y":580,"wires":[["8235a5167650c19e"],[]]},{"id":"8235a5167650c19e","type":"function","z":"c7b6f4e1c36bfc4f","name":"","func":"global.set('scadaswitch11', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[[]]},{"id":"b943e1fa74e8246d","type":"function","z":"c7b6f4e1c36bfc4f","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch11\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":580,"wires":[["b6eef91cdc8b6fe8"]]},{"id":"b6eef91cdc8b6fe8","type":"debug","z":"c7b6f4e1c36bfc4f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":580,"wires":[]},{"id":"2550996b0d9a7c3b","type":"inject","z":"c7b6f4e1c36bfc4f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":710,"y":580,"wires":[["b943e1fa74e8246d"]]},{"id":"894c5e5c0a8d2f58","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["c13a16346621f1ed"]]},{"id":"d9426c03de800ac5","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["befb7f098f8af130"]]},{"id":"a1e895fdfad2267e","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["94ec0be1764888cd"]]},{"id":"d922c674e1c32ca9","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = global.get('f9_current1');\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["09a34fc5f734263e"]]},{"id":"8444b619c8a89c69","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = global.get('f9_current2');\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["7fbfb577caba72b3"]]},{"id":"c40838887e21ca1c","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = global.get('f9_current3');\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["cf7b070123cc4cd7"]]},{"id":"de396059a1c56295","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["196705bb4c6c98c8"]]},{"id":"4cbdcd14804181fc","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["b6298240c2e2fcc1"]]},{"id":"cd1ceba503d4e627","type":"function","z":"133c9a966e3999dc","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["7d9c8fada3ae02f8"]]},{"id":"c13a16346621f1ed","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"befb7f098f8af130","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"94ec0be1764888cd","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"09a34fc5f734263e","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"7fbfb577caba72b3","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"cf7b070123cc4cd7","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"196705bb4c6c98c8","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"b6298240c2e2fcc1","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"7d9c8fada3ae02f8","type":"ui_text","z":"133c9a966e3999dc","group":"fe80af26533085b8","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"a8bae75de405e46c","type":"function","z":"133c9a966e3999dc","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f9_current1');\nvar obtainI2 = global.get('f9_current2');\nvar obtainI3 = global.get('f9_current3');\nvar switch_status= global.get(\"switch11\");\nvar scadaswitch_status= global.get(\"scadaswitch11\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F9CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \nglobal.set('event', event)\n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":900,"wires":[["ca3cc31dd92f4847"]]},{"id":"10b92b3bf996e8d9","type":"inject","z":"133c9a966e3999dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":900,"wires":[["a8bae75de405e46c"]]},{"id":"bab5fb7f52a5376a","type":"inject","z":"133c9a966e3999dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":860,"wires":[["a8d6cbcf61630513"]]},{"id":"a8d6cbcf61630513","type":"change","z":"133c9a966e3999dc","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":860,"wires":[[]]},{"id":"ca3cc31dd92f4847","type":"ui_table","z":"133c9a966e3999dc","group":"2c146b46fe300dac","name":"","order":1,"width":"12","height":"5","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1023,"y":899,"wires":[]},{"id":"5cdaf8b297a7d823","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":320,"wires":[["894c5e5c0a8d2f58"]]},{"id":"f7f522c51331a167","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":380,"wires":[["d9426c03de800ac5"]]},{"id":"c85b464299fa8fa1","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":440,"wires":[["a1e895fdfad2267e"]]},{"id":"702169efdd1a03ff","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":500,"wires":[["d922c674e1c32ca9"]]},{"id":"967f0ef861307fdc","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":560,"wires":[["8444b619c8a89c69"]]},{"id":"32db027182f59ea3","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":620,"wires":[["c40838887e21ca1c"]]},{"id":"a7b9e7a071aa6387","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":680,"wires":[["de396059a1c56295"]]},{"id":"1b969b934425d308","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":740,"wires":[["4cbdcd14804181fc"]]},{"id":"6741d8ed8ccde84b","type":"mqtt in","z":"133c9a966e3999dc","name":"","topic":"Matlab_to_IED11/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":800,"wires":[["cd1ceba503d4e627"]]},{"id":"b150a51367ab2d86","type":"inject","z":"057cf6507b4baaec","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied11(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["7fc3c289d5443132"]]},{"id":"e97b8852dd6feb98","type":"debug","z":"057cf6507b4baaec","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"d2f3c33406732a58","type":"inject","z":"057cf6507b4baaec","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied11 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["7fc3c289d5443132"]]},{"id":"6413a1ad9357fd87","type":"inject","z":"057cf6507b4baaec","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied11 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["72918a342cedf333"]]},{"id":"2ac204b12aaca12a","type":"ui_template","z":"057cf6507b4baaec","group":"afac0270e3ff0d6c","name":"Database F9 IED11 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":80,"wires":[[]]},{"id":"7fc3c289d5443132","type":"sqlite","z":"057cf6507b4baaec","mydb":"40877a552e161a09","sqlquery":"msg.topic","sql":"","name":"Database F9 IED11 IN","x":660,"y":200,"wires":[["e97b8852dd6feb98"]]},{"id":"acd26b75e53ec033","type":"inject","z":"057cf6507b4baaec","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["92eadf7abd492bbe"]]},{"id":"92eadf7abd492bbe","type":"function","z":"057cf6507b4baaec","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied11 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["5328ca23c1375e9c","0468a7bc0aee887c"]]},{"id":"5328ca23c1375e9c","type":"debug","z":"057cf6507b4baaec","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"72918a342cedf333","type":"sqlite","z":"057cf6507b4baaec","mydb":"40877a552e161a09","sqlquery":"msg.topic","sql":"","name":"Database F9 IED11 IN","x":660,"y":80,"wires":[["2ac204b12aaca12a"]]},{"id":"7fc8fe9f5bf7e100","type":"catch","z":"057cf6507b4baaec","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["1d7d4b232c74724d","6c77b1270d6b8d61"]]},{"id":"1d7d4b232c74724d","type":"debug","z":"057cf6507b4baaec","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"f7e00afb4d4fbe0b","type":"ui_text","z":"057cf6507b4baaec","group":"cc56352a26624647","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"6c77b1270d6b8d61","type":"function","z":"057cf6507b4baaec","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["f7e00afb4d4fbe0b"]]},{"id":"9070c124fafa469e","type":"inject","z":"057cf6507b4baaec","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied11","payload":"","payloadType":"date","x":340,"y":260,"wires":[["7fc3c289d5443132"]]},{"id":"632e58ad911e6832","type":"function","z":"057cf6507b4baaec","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"ff7d5bfd3f0f59f6","type":"inject","z":"057cf6507b4baaec","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["632e58ad911e6832"]]},{"id":"295a40c1a4918726","type":"inject","z":"057cf6507b4baaec","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":295,"y":1425,"wires":[["8491e57fe603d002"]]},{"id":"8491e57fe603d002","type":"function","z":"057cf6507b4baaec","name":"","func":"var data={};\ndata[\"temp\"]=20;\ndata[\"humidity\"]=50;\njson_out=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":1465,"wires":[[]]},{"id":"0468a7bc0aee887c","type":"delay","z":"057cf6507b4baaec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["7fc3c289d5443132"]]},{"id":"9f0ed9fdd27999e3","type":"inject","z":"3f64f611b7c8edf0","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied11 (TIMESTAMP TEXT NOT NULL,F9CBStatus TEXT NOT NULL,F9CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["6d6218b02d9c65a9"]]},{"id":"396306469f4f099b","type":"debug","z":"3f64f611b7c8edf0","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"2ac172a895cb0218","type":"inject","z":"3f64f611b7c8edf0","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied11 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["6d6218b02d9c65a9"]]},{"id":"9fa9fa8cf72f8524","type":"inject","z":"3f64f611b7c8edf0","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied11 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["9f399afd7433beea"]]},{"id":"75664b7f5261656d","type":"ui_template","z":"3f64f611b7c8edf0","group":"9a22e7087608c69a","name":"Database F9 IED11 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F9CBStatus</th>\n    <th>F9CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F9CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F9CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":850,"y":100,"wires":[[]]},{"id":"6d6218b02d9c65a9","type":"sqlite","z":"3f64f611b7c8edf0","mydb":"40877a552e161a09","sqlquery":"msg.topic","sql":"","name":"Database F9 IED11 OUT","x":590,"y":220,"wires":[["396306469f4f099b"]]},{"id":"bbfc3fd2782d9c9b","type":"inject","z":"3f64f611b7c8edf0","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["3b403da313384298"]]},{"id":"3b403da313384298","type":"function","z":"3f64f611b7c8edf0","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F9CBStatus=global.get(\"F9CBStatus\");\nvar F9CBEvent=global.get(\"F9CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F9CBStatus,F9CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F9CBStatus + \"\\',\\'\" + F9CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied11 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["6e4e5cad05c264d0","f41218d995f19639"]]},{"id":"6e4e5cad05c264d0","type":"debug","z":"3f64f611b7c8edf0","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"9f399afd7433beea","type":"sqlite","z":"3f64f611b7c8edf0","mydb":"40877a552e161a09","sqlquery":"msg.topic","sql":"","name":"Database F9 IED11 OUT","x":590,"y":100,"wires":[["75664b7f5261656d"]]},{"id":"b18ca1f3811b32f9","type":"catch","z":"3f64f611b7c8edf0","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["697236f9bbbea451","ec623b1fac2507dc"]]},{"id":"697236f9bbbea451","type":"debug","z":"3f64f611b7c8edf0","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"90f13c2a2d3c6ec0","type":"ui_text","z":"3f64f611b7c8edf0","group":"cc56352a26624647","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"ec623b1fac2507dc","type":"function","z":"3f64f611b7c8edf0","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["90f13c2a2d3c6ec0"]]},{"id":"2f8cd8bb0502e6ea","type":"inject","z":"3f64f611b7c8edf0","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied11 ","payload":"","payloadType":"date","x":220,"y":280,"wires":[["6d6218b02d9c65a9"]]},{"id":"ea30a7347681c99d","type":"function","z":"3f64f611b7c8edf0","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"58f0906ec5f22a24","type":"inject","z":"3f64f611b7c8edf0","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["ea30a7347681c99d"]]},{"id":"f41218d995f19639","type":"delay","z":"3f64f611b7c8edf0","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["6d6218b02d9c65a9"]]},{"id":"d0a1f315b7217924","type":"mqtt in","z":"3f64f611b7c8edf0","name":"","topic":"IED11_to_CB/CB11_status","qos":"2","datatype":"auto","broker":"d9e40e27b3d0c796","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["8a7f0dcbe57750b9","00fca11878de222f"]]},{"id":"8a7f0dcbe57750b9","type":"function","z":"3f64f611b7c8edf0","name":"","func":"global.set('F9CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"00fca11878de222f","type":"debug","z":"3f64f611b7c8edf0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"0fe0accce2fbabbc","type":"modbus-flex-write","z":"5cad434a212c043f","name":"","showStatusActivities":false,"showErrors":false,"server":"7d69de181515b667","emptyMsgOnFail":false,"keepMsgProperties":true,"x":1230,"y":500,"wires":[["2c34105cf073eb3b"],[]]},{"id":"2c34105cf073eb3b","type":"debug","z":"5cad434a212c043f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":460,"wires":[]},{"id":"8f9c9baf2490dec9","type":"comment","z":"5cad434a212c043f","name":"Sending all Values to SCADA for Monitoring","info":"","x":310,"y":200,"wires":[]},{"id":"a927042080a97702","type":"function","z":"5cad434a212c043f","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 300 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":580,"wires":[["0fe0accce2fbabbc"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"5cad434a212c043f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":580,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"5cad434a212c043f","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f9_current1');\nvar e = global.get('f9_current2');\nvar f = global.get('f9_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":580,"wires":[["a927042080a97702","ab091eed24a23a8a"]]},{"id":"ab091eed24a23a8a","type":"debug","z":"5cad434a212c043f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1303.3333740234375,"y":644.3333129882812,"wires":[]}]