04 Json Files/IED Files/ied15.json
[{"id":"0da1d7c286c2613e","type":"tab","label":"Matlab to Feeder 13","disabled":false,"info":""},{"id":"cccf225acf508c35","type":"tab","label":"Feeder 13 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"faa20645846c9ae8","type":"tab","label":"Feeder 13 IED2 Dashboard","disabled":false,"info":"","env":[]},{"id":"dceeb5d768864a28","type":"tab","label":"aedes ","disabled":false,"info":"","env":[]},{"id":"d159cda815e741c7","type":"tab","label":"Database F13 IED15 IN","disabled":false,"info":""},{"id":"d41f6e6b3cb45c44","type":"tab","label":"DB_FEEDER13_OUT","disabled":false,"info":""},{"id":"0e3bee986b6f7c2a","type":"tab","label":"Feeder 13 IED to Scada","disabled":false,"info":"","env":[]},{"id":"1fa27ef276cae92a","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28c0933a0641977f","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1c930925fd02bde2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e229641ff7eb775d","type":"ui_group","name":"home","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"1720c714aead1821","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"928ffc9ed086129b","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b922dfe2935a8116","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0403d7c305ff55c8","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8f6cc75c3c42dce0","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"eeeba3a9ed1eaa70","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e921853a9af08de","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"45cd635c8af9c491","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"80f4ab7567f9497b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"7b92e32a7fcefea5","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"25544144e0d98095","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"38c06360dc710c85","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"0d5f15dd02ef5445","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"40a83344d4db3bef","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"089d1438c8065e03","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e292055aab7a4ed8","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac0a4e5d44838512","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"1fa02ca0115f076b","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"05be72c3eba0b389","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f455c70008bd84a","type":"ui_group","name":"Event Recording","tab":"","order":1,"disp":true,"width":"12","collapse":true},{"id":"9ed0f73f3de6574d","type":"ui_group","name":"IED","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"45583944f2979a04","type":"ui_group","name":"HT-SP-Q01","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"808de53fedcebd06","type":"ui_group","name":"HT-SS1-Q01A","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"1759a82417acb12c","type":"ui_group","name":"HT-SS1-Q01B","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"104c0b89c3efe6a3","type":"ui_group","name":"HT-SS1-Q02","tab":"","order":6,"disp":true,"width":"6","collapse":true},{"id":"47c780ef8a7dfc1d","type":"ui_group","name":"LT-MGB-Q01A","tab":"","order":7,"disp":true,"width":"6","collapse":true},{"id":"c870d9149b4ca153","type":"ui_group","name":"LT-MGB-Q01B","tab":"","order":8,"disp":true,"width":"6","collapse":true},{"id":"33d1d1aa4c6f7927","type":"ui_group","name":"LT-MGB-Q02","tab":"","order":9,"disp":true,"width":"6","collapse":true},{"id":"d582abfb577d26ee","type":"ui_group","name":"LT-MGB-Q03","tab":"","order":10,"disp":true,"width":"6","collapse":true},{"id":"82593278f68ae4e0","type":"ui_group","name":"LT-MGB-Q04","tab":"","order":11,"disp":true,"width":"6","collapse":true},{"id":"da4d6de1149bcf7b","type":"ui_group","name":"WDB1-Q01A","tab":"","order":12,"disp":true,"width":"6","collapse":true},{"id":"299b84fb77ddcf79","type":"ui_group","name":"WDB1-Q01B","tab":"","order":13,"disp":true,"width":"6","collapse":true},{"id":"773fc1aa69f5508c","type":"ui_group","name":"HT-SP-Q01","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"72fbdc51799837f0","type":"ui_group","name":"HT-SS1-Q01A","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"cf04d4a65cb98482","type":"ui_group","name":"HT-SS1-Q01B","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"ec3d57b8f59dd77e","type":"ui_group","name":"LT-MGB-Q01A","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"ce2fc16a459f2276","type":"ui_group","name":"LT-MGB-Q01B","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"2c7f40fa76b3062d","type":"ui_group","name":"LT-MGB-Q02","tab":"","order":6,"disp":true,"width":"6","collapse":true},{"id":"7f373faad3090cd3","type":"ui_group","name":"LT-MGB-Q04","tab":"","order":7,"disp":true,"width":"6","collapse":true},{"id":"0dd5accb0999fab1","type":"ui_group","name":"DI1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b098c70c69eba78","type":"ui_group","name":"DI 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"23d5ff5a74e52bb6","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"30b56f8ace8ae2cd","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"ab6657810b8df8dc","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"3c9c55391994387f","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"61e5551b65f7b5d0","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"838086e12d9661de","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eed74c1185526125","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dd0920ef83203375","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"b72af5b0500fbdcc","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"ad1cd368dda18902","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee34ca9a29f2a9f6","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"f9a9a1ab642b6a54","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"7d5610327ece133b","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"c2111de44ef2e1c1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6c936a31d1b2649f","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cc5158eff0107a2a","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"58ab488866d02c70","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"4066e07c5670be95","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"164dc409cf52c86c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"63469dfbca128006","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"35951aa2698f5716","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"9","collapse":true},{"id":"254676588ec526f3","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"987b9f84536cf953","type":"ui_group","name":"IED 15","tab":"7d7511d84ca0aa62","order":2,"disp":true,"width":"4","collapse":true,"className":""},{"id":"cd486997f34df139","type":"ui_group","name":"Event Recording","tab":"7d7511d84ca0aa62","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"7d7511d84ca0aa62","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f90ffe693fd0f98a","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be4076a4461fbf9a","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5e7a2ba3590d7212","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"98cb26f2253c2fce","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3bba556ee7e4ee5b","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4a6049a97803d468","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"96e68786a5e54daf","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"62a0d689be7368f6","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e973468e8768b034","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"debdd3631a4a7080","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"aa01d7a3a1dcd309","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"35cdae0566dfcf14","type":"ui_group","name":"Database F13 IED15 IN","tab":"b90a869632722da4","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"dc9a6902f4c09c36","type":"sqlitedb","db":"/tmp/pi_f13_ied15","mode":"RWC"},{"id":"9c219d7690656ee2","type":"ui_group","name":"Sensors","tab":"fd2a0de29416881f","order":1,"disp":true,"width":"12","collapse":false},{"id":"1bb92a7fca1bb289","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d37aba02c3bcbe8c","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"30bb52cf3f01eb20","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a4eeee49e9522ee0","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5476cccbb737d656","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"83d65bfb90b6fbae","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"99580c03c14497ad","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3d43c820f33f1c42","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"97bb73935ac15393","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7bf9ed551ab6e00f","type":"ui_group","name":"Read Result","tab":"c4b12b93c363f1ff","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"8530b4309ab71945","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"a9829fe89d141c28","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b90a869632722da4","type":"ui_tab","name":"Database F13 IED15 IN","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"fd2a0de29416881f","type":"ui_tab","name":"Home","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"c4b12b93c363f1ff","type":"ui_tab","name":"Database F13 IED15 OUT","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"3edb2504ccd90288","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5689f8f1988c155a","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"beeb2a6393f720a2","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b5cc28a2d1527b79","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"73c93d36aaeeb170","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2354b6f2edd7647e","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0eec27d4fb4bf928","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4ecf03dc0b7e7dd6","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a3102313dd0218c4","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"542f0beb9d4e6e5f","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bb3093c37a04dde9","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d8b04326cdbdbb2d","type":"ui_group","name":"IED 15 CB Manual Control","tab":"7d7511d84ca0aa62","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"cc51baa501398967","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a8cf692cc3033ec1","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c780804574035f33","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b75c2e5d44c8c685","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6f3d438ec2dfc7bb","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3abdb6fbc2437e51","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1a3a17b7fb52573","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28dd6d951f6889f1","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9109174f89c9db7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d2a851e3b6ce54","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39ca2212f01664f2","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b7f5309146b75f9","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"e4fac199fc551c8e","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["e1097d80798c0ea8"]]},{"id":"e1097d80798c0ea8","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"50b94dc2686e6285","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["e4fac199fc551c8e"]]},{"id":"46d49fb6bb6c5409","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"fd5f6e58c650f5e2","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["f3fc30a35e4fe327"]]},{"id":"f3fc30a35e4fe327","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"a9e94d32108128ee","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["fd5f6e58c650f5e2"]]},{"id":"33d5faf94b8878d3","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"c6ecb3b603c9e670","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["14699312cf5c699e"]]},{"id":"14699312cf5c699e","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"95bcc652b0ef7f57","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["c6ecb3b603c9e670"]]},{"id":"f2287036d1145e7e","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"bbc90689dc452b35","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["db46e482eb751244"]]},{"id":"db46e482eb751244","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"24ad5a9a25b5da09","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["bbc90689dc452b35"]]},{"id":"d720d4f7401f9c54","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"7b11d2209a085c59","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["13a3bb59899a9516"]]},{"id":"13a3bb59899a9516","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"6933a56fab8b9d3c","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["7b11d2209a085c59"]]},{"id":"0923a533fef46354","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"5f3b600e0682e42c","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["f0d1f91c84c80349"]]},{"id":"f0d1f91c84c80349","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"dfb6b95e073036b6","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["5f3b600e0682e42c"]]},{"id":"18177cd04e5dc852","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"29605ad1ea762124","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["75b6212deb51ff84"]]},{"id":"75b6212deb51ff84","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"0e01306325361f18","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["29605ad1ea762124"]]},{"id":"4fe443160830092a","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"f472ba74aec4d446","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["a5bcb6821698f79e"]]},{"id":"a5bcb6821698f79e","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"c79c4b83b9286ca5","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["f472ba74aec4d446"]]},{"id":"4b25a5c6a598530d","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"e67971a2e5c7d50e","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["999f6bccc5fc26b0"]]},{"id":"999f6bccc5fc26b0","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"18be2f9d01f38613","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["e67971a2e5c7d50e"]]},{"id":"a465b7bfe2926818","type":"function","z":"0da1d7c286c2613e","name":"","func":"global.set('f13_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"3fbf53f22dc8f717","type":"function","z":"0da1d7c286c2613e","name":"","func":"var obtain_load = global.get(\"f13_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["c1f3f88587f64001"]]},{"id":"c1f3f88587f64001","type":"debug","z":"0da1d7c286c2613e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"3286d4ab9a793d7d","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["3fbf53f22dc8f717"]]},{"id":"586886b9c65a390e","type":"inject","z":"0da1d7c286c2613e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["cbe54a48685e14e3"]]},{"id":"cbe54a48685e14e3","type":"function","z":"0da1d7c286c2613e","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f13_load\");\n\nvar f13_current1 = obtainI*(obtainL/45);\nvar f13_current2 = obtainI2*(obtainL/45);\nvar f13_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f13_current1', String(f13_current1))\nglobal.set('f13_current2', String(f13_current2))\nglobal.set('f13_current3', String(f13_current3))\n\nmsg.payload = f13_current1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["14b45a0480ea932f"]]},{"id":"14b45a0480ea932f","type":"debug","z":"0da1d7c286c2613e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"996254e173f7ea64","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/load","qos":"2","datatype":"auto","broker":"a8cf692cc3033ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":720,"wires":[["a465b7bfe2926818"]]},{"id":"54944b0ee514203a","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":180,"wires":[["2b7f5309146b75f9"]]},{"id":"01f47eb02e3d154a","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":240,"wires":[["46d49fb6bb6c5409"]]},{"id":"30821bbb638ca139","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":300,"wires":[["33d5faf94b8878d3"]]},{"id":"06b22b27daf6c883","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":360,"wires":[["f2287036d1145e7e"]]},{"id":"c13951f1260875dc","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":420,"wires":[["d720d4f7401f9c54"]]},{"id":"6fdc6cc4261fa07c","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":480,"wires":[["0923a533fef46354"]]},{"id":"491cc7a0a93f0eaa","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":540,"wires":[["18177cd04e5dc852"]]},{"id":"28f89b3e87454d15","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":600,"wires":[["4fe443160830092a"]]},{"id":"a026f7a11bb818c0","type":"mqtt in","z":"0da1d7c286c2613e","name":"","topic":"Matlab_to_IED15/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":660,"wires":[["4b25a5c6a598530d"]]},{"id":"218d226a332d4768","type":"mqtt out","z":"cccf225acf508c35","name":"MQTT CB15 Channel","topic":"IED15_to_CB/CB15_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"debdd3631a4a7080","x":660,"y":360,"wires":[]},{"id":"ca2c8090e98df137","type":"debug","z":"cccf225acf508c35","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"a0ac91e13d42af76","type":"function","z":"cccf225acf508c35","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f13_current1\");\nvar obtainI2 = global.get(\"f13_current2\");\nvar obtainI3 = global.get(\"f13_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch15\");\nvar scadaswitch_status= global.get(\"scadaswitch15\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n   else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["218d226a332d4768","ca2c8090e98df137"]]},{"id":"2c8bc29dd04c52b0","type":"function","z":"cccf225acf508c35","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 32 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["fd236726595f2bab","67d944eee7690496"]]},{"id":"afaed5b8d54600b1","type":"debug","z":"cccf225acf508c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"fd236726595f2bab","type":"modbus-flex-write","z":"cccf225acf508c35","name":"","showStatusActivities":false,"showErrors":false,"server":"aa01d7a3a1dcd309","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["afaed5b8d54600b1"],[]]},{"id":"156258154b148423","type":"function","z":"cccf225acf508c35","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f13_current1\");\nvar obtainI2 = global.get(\"f13_current2\");\nvar obtainI3 = global.get(\"f13_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["2c8bc29dd04c52b0"]]},{"id":"67d944eee7690496","type":"debug","z":"cccf225acf508c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"64c532da59cc8f21","type":"inject","z":"cccf225acf508c35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["156258154b148423","a0ac91e13d42af76"]]},{"id":"647db74b600a2902","type":"comment","z":"cccf225acf508c35","name":"SCADA Dashboard 's switch","info":"","x":360,"y":520,"wires":[]},{"id":"27fa44a75c3f4755","type":"comment","z":"cccf225acf508c35","name":"IED's dashboard switch","info":"","x":320,"y":420,"wires":[]},{"id":"33ac906f4468fe21","type":"ui_switch","z":"cccf225acf508c35","name":"switch_status","label":"IED15 Circuit breaker 15 switch","tooltip":"","group":"d8b04326cdbdbb2d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":360,"y":460,"wires":[["02ec6161b74addc0"]]},{"id":"02ec6161b74addc0","type":"function","z":"cccf225acf508c35","name":"","func":"global.set('switch15', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[[]]},{"id":"f34be50271cae1b2","type":"function","z":"cccf225acf508c35","name":"","func":"var switch_status = global.get(\"switch15\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":460,"wires":[["1d0737e4bdc34b04"]]},{"id":"1d0737e4bdc34b04","type":"debug","z":"cccf225acf508c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":460,"wires":[]},{"id":"d135b7cd9bcf8aae","type":"inject","z":"cccf225acf508c35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":730,"y":460,"wires":[["f34be50271cae1b2"]]},{"id":"730bc738aa02504c","type":"modbus-read","z":"cccf225acf508c35","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"565","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc51baa501398967","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":350,"y":580,"wires":[["c268181cb8487de6"],[]]},{"id":"c268181cb8487de6","type":"function","z":"cccf225acf508c35","name":"","func":"global.set('scadaswitch15', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":580,"wires":[[]]},{"id":"72ba3012db803a08","type":"function","z":"cccf225acf508c35","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch15\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":580,"wires":[["b6937809a568e798"]]},{"id":"b6937809a568e798","type":"debug","z":"cccf225acf508c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"fe025731305464be","type":"inject","z":"cccf225acf508c35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":750,"y":580,"wires":[["72ba3012db803a08"]]},{"id":"84b8731055a5111c","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["4e3923e4f37343b4"]]},{"id":"1adeb44f55d5763e","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["c463c2418088a51d"]]},{"id":"8618409062e90b8b","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["2aeadaebb4c4d45a"]]},{"id":"c927e9ea77ea5587","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = global.get('f13_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["8bbc8bdf73c60b82"]]},{"id":"41ee3f670fc84e59","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = global.get('f13_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["c27f60a6303003d6"]]},{"id":"9cb546735c2d83a3","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = global.get('f13_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["ceb49af97d9cf3b2"]]},{"id":"f806dcdb0d8355fe","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["69cda58defcf86ac"]]},{"id":"afce3e2849d8f6d8","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["9c8e3b4b197f0825"]]},{"id":"53c0eabd7ef6448f","type":"function","z":"faa20645846c9ae8","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["58641f05d6853ff3"]]},{"id":"4e3923e4f37343b4","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":1,"width":4,"height":1,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1100,"y":320,"wires":[]},{"id":"c463c2418088a51d","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":2,"width":4,"height":1,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":380,"wires":[]},{"id":"2aeadaebb4c4d45a","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":3,"width":4,"height":1,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":440,"wires":[]},{"id":"8bbc8bdf73c60b82","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":4,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"c27f60a6303003d6","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":5,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"ceb49af97d9cf3b2","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":6,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"69cda58defcf86ac","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":7,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"9c8e3b4b197f0825","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":8,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"58641f05d6853ff3","type":"ui_text","z":"faa20645846c9ae8","group":"987b9f84536cf953","order":9,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"5b3eafa3accaa36c","type":"inject","z":"faa20645846c9ae8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":900,"wires":[["26095f26a1af48e9"]]},{"id":"a84fafe9e0817dc3","type":"inject","z":"faa20645846c9ae8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":860,"wires":[["2489d2affb53f617"]]},{"id":"2489d2affb53f617","type":"change","z":"faa20645846c9ae8","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[[]]},{"id":"26095f26a1af48e9","type":"function","z":"faa20645846c9ae8","name":"","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f13_current1');\nvar obtainI2 = global.get('f13_current2');\nvar obtainI3 = global.get('f13_current3');\nvar switch_status= global.get(\"switch15\");\nvar scadaswitch_status= global.get(\"scadaswitch15\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n   global.set('F13CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event) \n \ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["730fa0b25ac82417"]]},{"id":"730fa0b25ac82417","type":"ui_table","z":"faa20645846c9ae8","group":"cd486997f34df139","name":"","order":1,"width":14,"height":6,"columns":[{"field":"Timestamp","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"Faulty Phase (V)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"Faulty Phase (I)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":900,"wires":[]},{"id":"e9c07b574adcc1d8","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":320,"wires":[["84b8731055a5111c"]]},{"id":"b0337276ae41b5fd","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":380,"wires":[["1adeb44f55d5763e"]]},{"id":"294207db1b8e3076","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":440,"wires":[["8618409062e90b8b"]]},{"id":"e1af09af4030d547","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":500,"wires":[["c927e9ea77ea5587"]]},{"id":"65a0e9fdbe735a9d","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":560,"wires":[["41ee3f670fc84e59"]]},{"id":"5bd1bf418ed7e247","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":620,"wires":[["9cb546735c2d83a3"]]},{"id":"1f99e2af47bc1fbd","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":680,"wires":[["f806dcdb0d8355fe"]]},{"id":"951745c4aa9b0252","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":740,"wires":[["afce3e2849d8f6d8"]]},{"id":"e54615c361837c07","type":"mqtt in","z":"faa20645846c9ae8","name":"","topic":"Matlab_to_IED15/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":800,"wires":[["53c0eabd7ef6448f"]]},{"id":"cd744cbeb0849e46","type":"aedes broker","z":"dceeb5d768864a28","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":370,"y":140,"wires":[[],[]]},{"id":"524d850ca7f588ea","type":"inject","z":"d159cda815e741c7","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied15 (TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["f8219effb3df50b4"]]},{"id":"544568b6405389f8","type":"debug","z":"d159cda815e741c7","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"71fdf2f906e69958","type":"inject","z":"d159cda815e741c7","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied15 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["f8219effb3df50b4"]]},{"id":"b62c98943060f1d2","type":"inject","z":"d159cda815e741c7","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied15 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["6d101832399c762e"]]},{"id":"17bab8e3c05e4c4d","type":"ui_template","z":"d159cda815e741c7","group":"35cdae0566dfcf14","name":"Database F13 IED15 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":910,"y":80,"wires":[[]]},{"id":"f8219effb3df50b4","type":"sqlite","z":"d159cda815e741c7","mydb":"dc9a6902f4c09c36","sqlquery":"msg.topic","sql":"","name":"Database F13 IED15 IN","x":670,"y":200,"wires":[["544568b6405389f8"]]},{"id":"31f9658e394d164c","type":"inject","z":"d159cda815e741c7","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["d1a2de4503fb15ff"]]},{"id":"d1a2de4503fb15ff","type":"function","z":"d159cda815e741c7","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 21);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied15 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["1d829205f151e7d8","4e60f5b692b12e37"]]},{"id":"1d829205f151e7d8","type":"debug","z":"d159cda815e741c7","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"6d101832399c762e","type":"sqlite","z":"d159cda815e741c7","mydb":"dc9a6902f4c09c36","sqlquery":"msg.topic","sql":"","name":"Database F13 IED15 IN","x":670,"y":80,"wires":[["17bab8e3c05e4c4d"]]},{"id":"0141b6de1f0d774d","type":"catch","z":"d159cda815e741c7","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["b3e2f497f87131a5","7056d5f03ad0f36f"]]},{"id":"b3e2f497f87131a5","type":"debug","z":"d159cda815e741c7","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"4ea953cfe1fc6fec","type":"ui_text","z":"d159cda815e741c7","group":"9c219d7690656ee2","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"7056d5f03ad0f36f","type":"function","z":"d159cda815e741c7","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["4ea953cfe1fc6fec"]]},{"id":"11cdb7f5b29e9454","type":"inject","z":"d159cda815e741c7","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied15 ","payload":"","payloadType":"date","x":340,"y":260,"wires":[["f8219effb3df50b4"]]},{"id":"1d3777d288d93bc1","type":"function","z":"d159cda815e741c7","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"113aa23554c7b140","type":"inject","z":"d159cda815e741c7","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["1d3777d288d93bc1"]]},{"id":"4e60f5b692b12e37","type":"delay","z":"d159cda815e741c7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["f8219effb3df50b4"]]},{"id":"fb15e06f652c15d5","type":"inject","z":"d41f6e6b3cb45c44","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied15(TIMESTAMP TEXT NOT NULL,F13CBStatus TEXT NOT NULL,F13CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["d3e878a6f291d3cb"]]},{"id":"6cf95a26eb6fb1ef","type":"debug","z":"d41f6e6b3cb45c44","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":220,"wires":[]},{"id":"b4f3a032b910032d","type":"inject","z":"d41f6e6b3cb45c44","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied15 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["d3e878a6f291d3cb"]]},{"id":"c401c85ab0621aab","type":"inject","z":"d41f6e6b3cb45c44","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied15 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["2e5d7a46b0517d68"]]},{"id":"2c9a9ab96eed0592","type":"ui_template","z":"d41f6e6b3cb45c44","group":"7bf9ed551ab6e00f","name":"Database F13 IED15 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F13CBStatus</th>\n    <th>F13CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F13CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F13CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":100,"wires":[[]]},{"id":"d3e878a6f291d3cb","type":"sqlite","z":"d41f6e6b3cb45c44","mydb":"dc9a6902f4c09c36","sqlquery":"msg.topic","sql":"","name":"Database F13 IED15 OUT","x":600,"y":220,"wires":[["6cf95a26eb6fb1ef"]]},{"id":"93eaf2d86c463a1e","type":"inject","z":"d41f6e6b3cb45c44","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["054d4a4acb0fe1d1"]]},{"id":"054d4a4acb0fe1d1","type":"function","z":"d41f6e6b3cb45c44","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 21);\nvar F13CBStatus=global.get(\"F13CBStatus\");\nvar F13CBEvent=global.get(\"F13CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F13CBStatus,F13CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F13CBStatus + \"\\',\\'\" + F13CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied15 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["87424ff97fc13fd5","183793cef2a64431"]]},{"id":"87424ff97fc13fd5","type":"debug","z":"d41f6e6b3cb45c44","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"2e5d7a46b0517d68","type":"sqlite","z":"d41f6e6b3cb45c44","mydb":"dc9a6902f4c09c36","sqlquery":"msg.topic","sql":"","name":"Database F13 IED15 OUT","x":600,"y":100,"wires":[["2c9a9ab96eed0592"]]},{"id":"1510ab89a5a1c60a","type":"catch","z":"d41f6e6b3cb45c44","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["b85f2412b5e49984","e02b3c19fb6d3c40"]]},{"id":"b85f2412b5e49984","type":"debug","z":"d41f6e6b3cb45c44","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"b7f1b29e2313177e","type":"ui_text","z":"d41f6e6b3cb45c44","group":"9c219d7690656ee2","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"e02b3c19fb6d3c40","type":"function","z":"d41f6e6b3cb45c44","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["b7f1b29e2313177e"]]},{"id":"396605c0fc6271ba","type":"inject","z":"d41f6e6b3cb45c44","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied15","payload":"","payloadType":"date","x":220,"y":280,"wires":[["d3e878a6f291d3cb"]]},{"id":"d38e50dff4601792","type":"function","z":"d41f6e6b3cb45c44","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"ec8fcc76c1d793c1","type":"inject","z":"d41f6e6b3cb45c44","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["d38e50dff4601792"]]},{"id":"183793cef2a64431","type":"delay","z":"d41f6e6b3cb45c44","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["d3e878a6f291d3cb"]]},{"id":"217dfc7894689351","type":"mqtt in","z":"d41f6e6b3cb45c44","name":"","topic":"IED15_to_CB/CB15_status","qos":"2","datatype":"auto","broker":"a9829fe89d141c28","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["c68c8462c0b612d4","9e371e0c374cbe3a"]]},{"id":"c68c8462c0b612d4","type":"function","z":"d41f6e6b3cb45c44","name":"","func":"global.set('F13CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"9e371e0c374cbe3a","type":"debug","z":"d41f6e6b3cb45c44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"1030e75a4b6d5b6a","type":"modbus-flex-write","z":"0e3bee986b6f7c2a","name":"","showStatusActivities":false,"showErrors":false,"server":"3edb2504ccd90288","emptyMsgOnFail":false,"keepMsgProperties":true,"x":1050,"y":240,"wires":[["f6704f7be8167673"],[]]},{"id":"f6704f7be8167673","type":"debug","z":"0e3bee986b6f7c2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":240,"wires":[]},{"id":"fb8087db65c92278","type":"comment","z":"0e3bee986b6f7c2a","name":"Sending all Values to SCADA for Monitoring","info":"","x":470,"y":200,"wires":[]},{"id":"9c17c2132755af04","type":"function","z":"0e3bee986b6f7c2a","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 400 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":240,"wires":[["1030e75a4b6d5b6a"]]},{"id":"2f4ecd4a4bfd8381","type":"inject","z":"0e3bee986b6f7c2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":240,"wires":[["227a59848ed7b08d"]]},{"id":"227a59848ed7b08d","type":"function","z":"0e3bee986b6f7c2a","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f13_current1');\nvar e = global.get('f13_current2');\nvar f = global.get('f13_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":240,"wires":[["9c17c2132755af04","08f1a55bdd1afa2a"]]},{"id":"08f1a55bdd1afa2a","type":"debug","z":"0e3bee986b6f7c2a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":360,"wires":[]},{"id":"1f1196cfaf641a5c","type":"modbus-read","z":"0e3bee986b6f7c2a","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"400","quantity":"9","rate":"1","rateUnit":"h","delayOnStart":false,"startDelayTime":"","server":"aa01d7a3a1dcd309","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":490,"y":480,"wires":[["50327d312e9c1f28"],[]]},{"id":"50327d312e9c1f28","type":"debug","z":"0e3bee986b6f7c2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]}]