04 Json Files/IED Files/ied17.json
[{"id":"66a50e525fc36328","type":"tab","label":"Matlab to Feeder 15","disabled":false,"info":""},{"id":"32c147b6e22d2519","type":"tab","label":"Feeder 15 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"c6dd3b044af0105b","type":"tab","label":"Feeder 15 IED2 Dashboard","disabled":false,"info":"","env":[]},{"id":"efe5729ecf25d33f","type":"tab","label":"Aedes","disabled":false,"info":"","env":[]},{"id":"65388079715d000f","type":"tab","label":"Database F15 IED17 IN","disabled":false,"info":""},{"id":"c87a84bb1436101c","type":"tab","label":"Database F15 IED17 OUT","disabled":false,"info":""},{"id":"757bf49c25c0e166","type":"tab","label":"Feeder 15 IED to Scada","disabled":false,"info":"","env":[]},{"id":"99cf18fdd55d5e8b","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"ffa3f72bc4bd84b3","type":"mqtt-broker","name":"","broker":"192.168.0.102","port":"1883","clientid":"client2","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"89d85dab35a7af55","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"66045c750a27c139","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"23caf983fe404748","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b8ead7843fac1a8e","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"53179437a61d74eb","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"81d1f36484d1bb96","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5549fb806fc8e587","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"1cf1f1772dd7679a","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"911c4fe2d4758d0c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"33c4a6a58e5b250a","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0da8b377b71fede6","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"315b6e01a9493364","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2ea6283de51d24cb","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fc02aa2e9eae9fc9","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"b83bebe1d92c3488","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"61ada60d94bd07c0","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"2d95c35d14bed6ae","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"eb4b99b60f747759","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"dce5c52d9c4e81d9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a19a4f79b8c56f5","type":"ui_group","name":"home","tab":"9d24bb8cd5535aa6","order":1,"disp":true,"width":"6","collapse":true},{"id":"8eaea8174faca09a","type":"ui_group","name":"Group 1","tab":"fb678e2c74f1d7ad","order":1,"disp":true,"width":6},{"id":"3a2a6e928cbcc802","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"196d818e98a4c46f","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ee6ebd6f8e0457f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"90838a6a4b9ddf4d","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e8e269ef94084a5","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"07a8eb7ef1109d4e","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c216501bb467e96f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2efd02794e018012","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"0ada14aa171a56b1","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a1a1a5e9e6a820d0","type":"ui_group","name":"Event Recording","tab":"d9e09f1ac399b529","order":1,"disp":true,"width":"12","collapse":true},{"id":"ffbc277580b0eb4d","type":"ui_group","name":"IED","tab":"d9e09f1ac399b529","order":2,"disp":true,"width":"6","collapse":true},{"id":"ef73e04b82532fe8","type":"ui_group","name":"HT-SP-Q01","tab":"d9e09f1ac399b529","order":3,"disp":true,"width":"6","collapse":true},{"id":"f99d66a311019503","type":"ui_group","name":"HT-SS1-Q01A","tab":"d9e09f1ac399b529","order":4,"disp":true,"width":"6","collapse":true},{"id":"7e417a9450beafd8","type":"ui_group","name":"HT-SS1-Q01B","tab":"d9e09f1ac399b529","order":5,"disp":true,"width":"6","collapse":true},{"id":"77943af1938c1485","type":"ui_group","name":"HT-SS1-Q02","tab":"d9e09f1ac399b529","order":6,"disp":true,"width":"6","collapse":true},{"id":"fa6ffdf3fb3c4f38","type":"ui_group","name":"LT-MGB-Q01A","tab":"d9e09f1ac399b529","order":7,"disp":true,"width":"6","collapse":true},{"id":"6e43850433a6bcf5","type":"ui_group","name":"LT-MGB-Q01B","tab":"d9e09f1ac399b529","order":8,"disp":true,"width":"6","collapse":true},{"id":"c4f5676a489a3396","type":"ui_group","name":"LT-MGB-Q02","tab":"d9e09f1ac399b529","order":9,"disp":true,"width":"6","collapse":true},{"id":"69e43687f62c4604","type":"ui_group","name":"LT-MGB-Q03","tab":"d9e09f1ac399b529","order":10,"disp":true,"width":"6","collapse":true},{"id":"239402a0203243d9","type":"ui_group","name":"LT-MGB-Q04","tab":"d9e09f1ac399b529","order":11,"disp":true,"width":"6","collapse":true},{"id":"3fb9736e49560183","type":"ui_group","name":"WDB1-Q01A","tab":"d9e09f1ac399b529","order":12,"disp":true,"width":"6","collapse":true},{"id":"d48a0c9ed9a10201","type":"ui_group","name":"WDB1-Q01B","tab":"d9e09f1ac399b529","order":13,"disp":true,"width":"6","collapse":true},{"id":"77c2df54ad954f55","type":"ui_group","name":"HT-SP-Q01","tab":"a5a7fe2348551d64","order":1,"disp":true,"width":"6","collapse":true},{"id":"3b35075d36dbd32a","type":"ui_group","name":"HT-SS1-Q01A","tab":"a5a7fe2348551d64","order":2,"disp":true,"width":"6","collapse":true},{"id":"4666ca1476c1e084","type":"ui_group","name":"HT-SS1-Q01B","tab":"a5a7fe2348551d64","order":3,"disp":true,"width":"6","collapse":true},{"id":"faf1b16fae5a30bd","type":"ui_group","name":"LT-MGB-Q01A","tab":"a5a7fe2348551d64","order":4,"disp":true,"width":"6","collapse":true},{"id":"c4dcb690df3247bb","type":"ui_group","name":"LT-MGB-Q01B","tab":"a5a7fe2348551d64","order":5,"disp":true,"width":"6","collapse":true},{"id":"4d150026ff38b9fe","type":"ui_group","name":"LT-MGB-Q02","tab":"a5a7fe2348551d64","order":6,"disp":true,"width":"6","collapse":true},{"id":"bbccadc9b7405cea","type":"ui_group","name":"LT-MGB-Q04","tab":"a5a7fe2348551d64","order":7,"disp":true,"width":"6","collapse":true},{"id":"4cf37722c38afe0a","type":"ui_group","name":"DI1","tab":"b32841b6c0287bd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ba55f522ea82f48","type":"ui_group","name":"DI 2","tab":"b32841b6c0287bd4","order":2,"disp":true,"width":"6","collapse":false},{"id":"39497a5777be7ddd","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"c932c77addb21808","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"8044e29750b615b0","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"59cceec8bfc6adf4","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"51d05201959d45a5","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"84f50ced6443e820","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1680d28cae4765fb","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"4522d3f30b057e49","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"92ccfbb61f79a89d","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"b760509d526e53f5","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"3a4d3379f869cce2","type":"ui_group","name":"Group 2","tab":"fb678e2c74f1d7ad","order":2,"disp":true,"width":6},{"id":"84644646e41c7086","type":"ui_group","name":"Group 3","tab":"fb678e2c74f1d7ad","order":3,"disp":true,"width":6},{"id":"b1c2a34f4d42ef1d","type":"ui_group","name":"Default","tab":"eaea76e397531ebf","order":1,"disp":true,"width":"9","collapse":true},{"id":"f177cbac4b52c55f","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e3df42ed5f9f50f1","type":"ui_group","name":"IED 17","tab":"c34bc098c976fe04","order":2,"disp":true,"width":"4","collapse":true,"className":""},{"id":"323ddf55d2a35d42","type":"ui_group","name":"Event Recording","tab":"c34bc098c976fe04","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"c34bc098c976fe04","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"613125fd72e849c9","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"25afc1b7c89b1ea3","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"71683f3610cbfd40","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4312dcfe328eb224","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5ea30f251fee2e24","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e1b6e1fe450ef909","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf16c7db052b74f2","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"50ea3ff574ea2150","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e2ab575360662249","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0361ac71ab1f1e78","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"557c9b2216400d91","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f0ad6f0e6da59a03","type":"ui_group","name":"Database F15 IED17 IN","tab":"601fd8333de5a737","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"974f90aad57c0b63","type":"sqlitedb","db":"/tmp/pi_f15_ied17","mode":"RWC"},{"id":"4dcadd5004203f1c","type":"ui_group","name":"Sensors","tab":"a8490237b7211cc5","order":1,"disp":true,"width":"12","collapse":false},{"id":"8e5a2485a8deaf9f","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3414ff814ca7c9ba","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c619db146ac6fb67","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4c48c6864e433d7e","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2bdc5e58b9a3972f","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"80fb009d2f1add04","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"623e17990d6074e4","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0501959f17db7e14","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cfb43458c631b8d0","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f89e801fd26f3b56","type":"ui_group","name":"Read Result","tab":"cfac1da8d626ee75","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"01b0298b9b73bff3","type":"sqlitedb","db":"/tmp/pi_f15_ied17","mode":"RWC"},{"id":"f374a569605a193e","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"601fd8333de5a737","type":"ui_tab","name":"Database F15 IED17 IN","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a8490237b7211cc5","type":"ui_tab","name":"Home","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"cfac1da8d626ee75","type":"ui_tab","name":"Database FEEDER 15 OUT","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b5c945fdd8da38de","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"565161b8837d816d","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2701361dd661c311","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9d12358258786aaa","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bb456f7e3469c4be","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b32bd28070acedf","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2dd81c64143da211","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2caf78e604e34779","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"084f22591666bdbb","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"10f3b21139452d99","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"966b1e67012fd5e5","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d8b04326cdbdbb2d","type":"ui_group","name":"IED 17 CB Manual Control","tab":"c34bc098c976fe04","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"cc51baa501398967","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"49b108a8d96d9270","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["826fd52b25e78ed5"]]},{"id":"7eceb259c3182a13","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/vphase2","qos":"2","datatype":"auto","broker":"e2ab575360662249","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["0cd4214bfeb3a3bd"]]},{"id":"68b21846b678478c","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/vphase3","qos":"2","datatype":"auto","broker":"50ea3ff574ea2150","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["72c315e406ddafad"]]},{"id":"c7bd7b685ba6fc4a","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/iphase1","qos":"2","datatype":"auto","broker":"bf16c7db052b74f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["5fd442a4beb5b98b"]]},{"id":"0c990a702da6d8de","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/iphase2","qos":"2","datatype":"auto","broker":"e1b6e1fe450ef909","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["7485cb7a22c2abbe"]]},{"id":"a7f59c31b26c8441","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/iphase3","qos":"2","datatype":"auto","broker":"5ea30f251fee2e24","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["0a0d6fdae1036591"]]},{"id":"c7cc6f67e7bbc616","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/freq","qos":"2","datatype":"auto","broker":"4312dcfe328eb224","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":540,"wires":[["30e6378b6b0dde78"]]},{"id":"c2793842067aabdc","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/voltage_N","qos":"2","datatype":"auto","broker":"71683f3610cbfd40","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":600,"wires":[["04b68e4f0fd32988"]]},{"id":"f3e2af171e4537b3","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/current_N","qos":"2","datatype":"auto","broker":"25afc1b7c89b1ea3","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":660,"wires":[["46cf198afb4a7053"]]},{"id":"826fd52b25e78ed5","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"f97d14483c15c32f","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["654364b3affa5130"]]},{"id":"654364b3affa5130","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"8ff2b1ba00c62d77","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["f97d14483c15c32f"]]},{"id":"0cd4214bfeb3a3bd","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"daa3fba33935aee9","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["e6aff88adf9b3546"]]},{"id":"e6aff88adf9b3546","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"ba97e2da571aee78","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["daa3fba33935aee9"]]},{"id":"72c315e406ddafad","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"38611d50e40174f3","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["40c9bf861735761c"]]},{"id":"40c9bf861735761c","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"a63f74e9169e1781","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["38611d50e40174f3"]]},{"id":"5fd442a4beb5b98b","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"bd97c740867691ce","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["4485f11464f9dca8"]]},{"id":"4485f11464f9dca8","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"1ed55fbe9ab13ba3","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["bd97c740867691ce"]]},{"id":"7485cb7a22c2abbe","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"e7d4d48eb377c460","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["21b6a5bfbe503d95"]]},{"id":"21b6a5bfbe503d95","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"7d94b2b72f25830a","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["e7d4d48eb377c460"]]},{"id":"0a0d6fdae1036591","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"88c6122f22eb7acd","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["521cfbb18415505b"]]},{"id":"521cfbb18415505b","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"63f9e9b25a782be8","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["88c6122f22eb7acd"]]},{"id":"30e6378b6b0dde78","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"342cdf9224a14759","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["cdc5cbb8ea0df16c"]]},{"id":"cdc5cbb8ea0df16c","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"8edada631902c2e9","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["342cdf9224a14759"]]},{"id":"04b68e4f0fd32988","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"774d65cc1b6950fa","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["e496561e4397157f"]]},{"id":"e496561e4397157f","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"1c0605847352d954","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["774d65cc1b6950fa"]]},{"id":"46cf198afb4a7053","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"b2d4037c76bb696e","type":"function","z":"66a50e525fc36328","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["f0e98dc1cbef8db3"]]},{"id":"f0e98dc1cbef8db3","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"48b6e0ef803698d8","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["b2d4037c76bb696e"]]},{"id":"54aa5d5dac4019a6","type":"mqtt in","z":"66a50e525fc36328","name":"","topic":"Matlab_to_IED17/load","qos":"2","datatype":"auto","broker":"613125fd72e849c9","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":720,"wires":[["6b4490a4bf7d3eef"]]},{"id":"6b4490a4bf7d3eef","type":"function","z":"66a50e525fc36328","name":"","func":"global.set('f15_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"b8512e7d694a0b29","type":"function","z":"66a50e525fc36328","name":"","func":"var obtain_load = global.get(\"f15_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["fda2a7062a1fdfed"]]},{"id":"fda2a7062a1fdfed","type":"debug","z":"66a50e525fc36328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"6b151e9d901c28d2","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["b8512e7d694a0b29"]]},{"id":"ad378ce108a4fabd","type":"inject","z":"66a50e525fc36328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["808e09034ef036a6"]]},{"id":"808e09034ef036a6","type":"function","z":"66a50e525fc36328","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f15_load\");\n\nvar f15_current1 = obtainI*(obtainL/45);\nvar f15_current2 = obtainI2*(obtainL/45);\nvar f15_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f15_current1', String(f15_current1))\nglobal.set('f15_current2', String(f15_current2))\nglobal.set('f15_current3', String(f15_current3))\n\nmsg.payload = f15_current1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["f3323414c9e0239e"]]},{"id":"f3323414c9e0239e","type":"debug","z":"66a50e525fc36328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"f0cb10b876a258da","type":"mqtt out","z":"32c147b6e22d2519","name":"MQTT CB17 Channel","topic":"IED17_to_CB/CB17_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0361ac71ab1f1e78","x":660,"y":360,"wires":[]},{"id":"7a40e6c8cd650e64","type":"debug","z":"32c147b6e22d2519","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"218031be1c91c27a","type":"function","z":"32c147b6e22d2519","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f15_current1\");\nvar obtainI2 = global.get(\"f15_current2\");\nvar obtainI3 = global.get(\"f15_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch17\");\nvar scadaswitch_status= global.get(\"scadaswitch17\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["f0cb10b876a258da","7a40e6c8cd650e64"]]},{"id":"b3a12595d827952c","type":"function","z":"32c147b6e22d2519","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 34 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["60ef60aaaa20184b","bcafde67386d2f92"]]},{"id":"2bd21d06229bd745","type":"debug","z":"32c147b6e22d2519","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"60ef60aaaa20184b","type":"modbus-flex-write","z":"32c147b6e22d2519","name":"","showStatusActivities":false,"showErrors":false,"server":"557c9b2216400d91","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["2bd21d06229bd745"],[]]},{"id":"2172622fe835e1b5","type":"function","z":"32c147b6e22d2519","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f15_current1\");\nvar obtainI2 = global.get(\"f15_current2\");\nvar obtainI3 = global.get(\"f15_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["b3a12595d827952c"]]},{"id":"bcafde67386d2f92","type":"debug","z":"32c147b6e22d2519","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"9262c7e00380579f","type":"inject","z":"32c147b6e22d2519","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["2172622fe835e1b5","218031be1c91c27a"]]},{"id":"83dc471743b8d3bf","type":"comment","z":"32c147b6e22d2519","name":"SCADA Dashboard 's switch","info":"","x":340,"y":560,"wires":[]},{"id":"091517759a914215","type":"comment","z":"32c147b6e22d2519","name":"IED's dashboard switch","info":"","x":300,"y":460,"wires":[]},{"id":"b74da1f1e53f7cb9","type":"ui_switch","z":"32c147b6e22d2519","name":"switch_status","label":"IED17 Circuit breaker 17 switch","tooltip":"","group":"d8b04326cdbdbb2d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":340,"y":500,"wires":[["16c3309263529379"]]},{"id":"16c3309263529379","type":"function","z":"32c147b6e22d2519","name":"","func":"global.set('switch17', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[[]]},{"id":"01002adf2cb2c10f","type":"function","z":"32c147b6e22d2519","name":"","func":"var switch_status = global.get(\"switch17\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":500,"wires":[["d17290a9df314007"]]},{"id":"d17290a9df314007","type":"debug","z":"32c147b6e22d2519","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":500,"wires":[]},{"id":"99297065ae294bac","type":"inject","z":"32c147b6e22d2519","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":710,"y":500,"wires":[["01002adf2cb2c10f"]]},{"id":"42657eb6f1ced6f6","type":"modbus-read","z":"32c147b6e22d2519","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"567","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"cc51baa501398967","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":330,"y":620,"wires":[["68e14ff74abef53d"],[]]},{"id":"68e14ff74abef53d","type":"function","z":"32c147b6e22d2519","name":"","func":"global.set('scadaswitch17', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":620,"wires":[[]]},{"id":"609593e0a37f9f62","type":"function","z":"32c147b6e22d2519","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch17\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":620,"wires":[["cf5b60f4ea072eb6"]]},{"id":"cf5b60f4ea072eb6","type":"debug","z":"32c147b6e22d2519","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":620,"wires":[]},{"id":"d92b4d779113fca9","type":"inject","z":"32c147b6e22d2519","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":730,"y":620,"wires":[["609593e0a37f9f62"]]},{"id":"10eec70a83ae061c","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["19f74ad8b586871d"]]},{"id":"1b2e14d8b73e059c","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["0f596a081fa0c89e"]]},{"id":"5445ae8fb5576930","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["e826544b0c9e4ed7"]]},{"id":"8ac42bc1633b6c90","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = global.get('f15_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["b41b4beac4c3623f"]]},{"id":"6558dd22afaddfcd","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = global.get('f15_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["8f09cb421d0da499"]]},{"id":"c162e64205f16e14","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = global.get('f15_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["77594c4ac163df5b"]]},{"id":"47b0dc0be60f439a","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["6480c9cdb1e34518"]]},{"id":"939309189512eab4","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["9eefed4ebbe37917"]]},{"id":"5f6388b68f6f5842","type":"function","z":"c6dd3b044af0105b","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["19d7ebcabd60a842"]]},{"id":"19f74ad8b586871d","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":1,"width":4,"height":1,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1100,"y":320,"wires":[]},{"id":"0f596a081fa0c89e","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":2,"width":4,"height":1,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":380,"wires":[]},{"id":"e826544b0c9e4ed7","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":3,"width":4,"height":1,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1110,"y":440,"wires":[]},{"id":"b41b4beac4c3623f","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":4,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"8f09cb421d0da499","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":5,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"77594c4ac163df5b","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":6,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"6480c9cdb1e34518","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":7,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"9eefed4ebbe37917","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":8,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"19d7ebcabd60a842","type":"ui_text","z":"c6dd3b044af0105b","group":"e3df42ed5f9f50f1","order":9,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"055b1e80213e7a97","type":"inject","z":"c6dd3b044af0105b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":900,"wires":[["20ed5db04314714d"]]},{"id":"1e3f1447dc56990f","type":"inject","z":"c6dd3b044af0105b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":860,"wires":[["265c67bcee0dbc9b"]]},{"id":"265c67bcee0dbc9b","type":"change","z":"c6dd3b044af0105b","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[[]]},{"id":"20ed5db04314714d","type":"function","z":"c6dd3b044af0105b","name":"","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f15_current1');\nvar obtainI2 = global.get('f15_current2');\nvar obtainI3 = global.get('f15_current3');\nvar switch_status= global.get(\"switch17\");\nvar scadaswitch_status= global.get(\"scadaswitch17\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n{\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n   global.set('F15CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \nglobal.set('event', event)  \n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":900,"wires":[["4affebf7f794ab20"]]},{"id":"4affebf7f794ab20","type":"ui_table","z":"c6dd3b044af0105b","group":"323ddf55d2a35d42","name":"","order":1,"width":14,"height":6,"columns":[{"field":"Timestamp","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"Faulty Phase (V)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"Faulty Phase (I)","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":900,"wires":[]},{"id":"e57fd993bdf373ae","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":320,"wires":[["10eec70a83ae061c"]]},{"id":"62e073750f624c72","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/vphase2","qos":"2","datatype":"auto","broker":"e2ab575360662249","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":380,"wires":[["1b2e14d8b73e059c"]]},{"id":"a1dca03a8322dd15","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/vphase3","qos":"2","datatype":"auto","broker":"50ea3ff574ea2150","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":440,"wires":[["5445ae8fb5576930"]]},{"id":"d29460a2121d8c82","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/iphase1","qos":"2","datatype":"auto","broker":"bf16c7db052b74f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":500,"wires":[["8ac42bc1633b6c90"]]},{"id":"a35e1918e1066a6c","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/iphase2","qos":"2","datatype":"auto","broker":"e1b6e1fe450ef909","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":560,"wires":[["6558dd22afaddfcd"]]},{"id":"48f91d61fa8c4164","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/iphase3","qos":"2","datatype":"auto","broker":"5ea30f251fee2e24","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":620,"wires":[["c162e64205f16e14"]]},{"id":"7cae8fc24f6025ef","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/freq","qos":"2","datatype":"auto","broker":"4312dcfe328eb224","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":680,"wires":[["47b0dc0be60f439a"]]},{"id":"7da753c02364be21","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/voltage_N","qos":"2","datatype":"auto","broker":"71683f3610cbfd40","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":740,"wires":[["939309189512eab4"]]},{"id":"cd720e499e2c906b","type":"mqtt in","z":"c6dd3b044af0105b","name":"","topic":"Matlab_to_IED17/current_N","qos":"2","datatype":"auto","broker":"25afc1b7c89b1ea3","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":800,"wires":[["5f6388b68f6f5842"]]},{"id":"04d7c5021f61df74","type":"aedes broker","z":"efe5729ecf25d33f","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":null,"mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":270,"y":100,"wires":[[],[]]},{"id":"409a963d6133f792","type":"inject","z":"65388079715d000f","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied17(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["36048f04d023bbad"]]},{"id":"28537233614fff68","type":"debug","z":"65388079715d000f","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"cdc15436a813375e","type":"inject","z":"65388079715d000f","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied17 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["36048f04d023bbad"]]},{"id":"37b5ac9c55b03430","type":"inject","z":"65388079715d000f","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied17 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["7b7c3911b381dc02"]]},{"id":"dcd2671e523eba94","type":"ui_template","z":"65388079715d000f","group":"f0ad6f0e6da59a03","name":"Database F15 IED17 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":910,"y":80,"wires":[[]]},{"id":"36048f04d023bbad","type":"sqlite","z":"65388079715d000f","mydb":"974f90aad57c0b63","sqlquery":"msg.topic","sql":"","name":"Database F15 IED17 IN","x":670,"y":200,"wires":[["28537233614fff68"]]},{"id":"84fce0836b854283","type":"inject","z":"65388079715d000f","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["6f37358013132e3c"]]},{"id":"6f37358013132e3c","type":"function","z":"65388079715d000f","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied17 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["b24df6d4e1308999","8c6cca8b66e39343"]]},{"id":"b24df6d4e1308999","type":"debug","z":"65388079715d000f","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"7b7c3911b381dc02","type":"sqlite","z":"65388079715d000f","mydb":"974f90aad57c0b63","sqlquery":"msg.topic","sql":"","name":"Database F15 IED17 IN","x":670,"y":80,"wires":[["dcd2671e523eba94"]]},{"id":"0cc1c1b67e5908a6","type":"catch","z":"65388079715d000f","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["112f10dae5d8f3db","bb73528f56c7a5ca"]]},{"id":"112f10dae5d8f3db","type":"debug","z":"65388079715d000f","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"7e9d1b31d1c539e9","type":"ui_text","z":"65388079715d000f","group":"4dcadd5004203f1c","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"bb73528f56c7a5ca","type":"function","z":"65388079715d000f","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["7e9d1b31d1c539e9"]]},{"id":"52f1c985110754e7","type":"inject","z":"65388079715d000f","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied17","payload":"","payloadType":"date","x":340,"y":260,"wires":[["36048f04d023bbad"]]},{"id":"1a7c3f680845e657","type":"function","z":"65388079715d000f","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"c3f3d1e08527b67a","type":"inject","z":"65388079715d000f","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["1a7c3f680845e657"]]},{"id":"8c6cca8b66e39343","type":"delay","z":"65388079715d000f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["36048f04d023bbad"]]},{"id":"eac5d36dcd2525af","type":"inject","z":"c87a84bb1436101c","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied17(TIMESTAMP TEXT NOT NULL,F15CBStatus TEXT NOT NULL,F15CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["a67af5049ddf6880"]]},{"id":"8daa38dd294f4ffe","type":"debug","z":"c87a84bb1436101c","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"ec1fc8a7c0d54368","type":"inject","z":"c87a84bb1436101c","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied17 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["a67af5049ddf6880"]]},{"id":"ea26cd375503f268","type":"inject","z":"c87a84bb1436101c","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied17 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["e2919d74ff9c2373"]]},{"id":"49e831a3163ad796","type":"ui_template","z":"c87a84bb1436101c","group":"f89e801fd26f3b56","name":"Database F15 IED17 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F15CBStatus</th>\n    <th>F15CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F15CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F15CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":860,"y":100,"wires":[[]]},{"id":"a67af5049ddf6880","type":"sqlite","z":"c87a84bb1436101c","mydb":"01b0298b9b73bff3","sqlquery":"msg.topic","sql":"","name":"Database F15 IED17 OUT","x":600,"y":220,"wires":[["8daa38dd294f4ffe"]]},{"id":"59d6ecf65a0cee01","type":"inject","z":"c87a84bb1436101c","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["d52670a779348039"]]},{"id":"d52670a779348039","type":"function","z":"c87a84bb1436101c","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar F15CBStatus=global.get(\"F15CBStatus\");\nvar F15CBEvent=global.get(\"F15CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F15CBStatus,F15CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F15CBStatus + \"\\',\\'\" + F15CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied17 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["edd2fbfdeb5376bd","16c8a43cb56d14bf"]]},{"id":"edd2fbfdeb5376bd","type":"debug","z":"c87a84bb1436101c","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"e2919d74ff9c2373","type":"sqlite","z":"c87a84bb1436101c","mydb":"01b0298b9b73bff3","sqlquery":"msg.topic","sql":"","name":"Database F15 IED17 OUT","x":600,"y":100,"wires":[["49e831a3163ad796"]]},{"id":"0a5ba26d5e24b519","type":"catch","z":"c87a84bb1436101c","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["49044b0da1979c84","d10a9377c54eb4f8"]]},{"id":"49044b0da1979c84","type":"debug","z":"c87a84bb1436101c","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"96eb601b0b8bce19","type":"ui_text","z":"c87a84bb1436101c","group":"4dcadd5004203f1c","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"d10a9377c54eb4f8","type":"function","z":"c87a84bb1436101c","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["96eb601b0b8bce19"]]},{"id":"bbf47735c050f7b4","type":"inject","z":"c87a84bb1436101c","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied17","payload":"","payloadType":"date","x":220,"y":280,"wires":[["a67af5049ddf6880"]]},{"id":"d5748936cc383aa5","type":"function","z":"c87a84bb1436101c","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"22b0ace398873fd0","type":"inject","z":"c87a84bb1436101c","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["d5748936cc383aa5"]]},{"id":"16c8a43cb56d14bf","type":"delay","z":"c87a84bb1436101c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["a67af5049ddf6880"]]},{"id":"310a27ee5589ce1a","type":"mqtt in","z":"c87a84bb1436101c","name":"","topic":"IED17_to_CB/CB17_status","qos":"2","datatype":"auto","broker":"f374a569605a193e","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["598d254015d5766c","323b881f1544586e"]]},{"id":"598d254015d5766c","type":"function","z":"c87a84bb1436101c","name":"","func":"global.set('F15CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"323b881f1544586e","type":"debug","z":"c87a84bb1436101c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"3e817c4677961e27","type":"modbus-flex-write","z":"757bf49c25c0e166","name":"","showStatusActivities":false,"showErrors":false,"server":"b5c945fdd8da38de","emptyMsgOnFail":false,"keepMsgProperties":true,"x":990,"y":240,"wires":[["04af41ca585226ab"],[]]},{"id":"04af41ca585226ab","type":"debug","z":"757bf49c25c0e166","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":240,"wires":[]},{"id":"3a5d73cadf984c94","type":"comment","z":"757bf49c25c0e166","name":"Sending all Values to SCADA for Monitoring","info":"","x":310,"y":200,"wires":[]},{"id":"26b9bbfabc584bd8","type":"function","z":"757bf49c25c0e166","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 450 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":240,"wires":[["3e817c4677961e27"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"757bf49c25c0e166","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":240,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"757bf49c25c0e166","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f15_current1');\nvar e = global.get('f15_current2');\nvar f = global.get('f15_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":320,"wires":[["26b9bbfabc584bd8"]]}]