04 Json Files/IED Files/ied20.json
[
    {
        "id": "7b8772f3b3360885",
        "type": "tab",
        "label": "Matlab to Feeder 18",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ce28a8ee41e7b7a",
        "type": "tab",
        "label": "Feeder 18 IED CB Decision",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b03503c61437ade9",
        "type": "tab",
        "label": "Feeder 18 IED2 Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6987b6a256ab531c",
        "type": "tab",
        "label": "Aedes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68a82278c55982b3",
        "type": "tab",
        "label": "Database F18 IED20 IN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c1ec214fe6e24a1",
        "type": "tab",
        "label": "Database F18 IED20 OUT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f195b78979d1445b",
        "type": "tab",
        "label": "Feeder 18 IED to Scada",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "052890c0c3130335",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "daceeaf10bb87870",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.124",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0deedb3f16ff42d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.124",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "14d8de8b997f2ec1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "02cc073b4f7c823a",
        "type": "mqtt-broker",
        "name": "Heroku Cloud",
        "broker": "driver.cloudmqtt.com",
        "port": "18833",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "6000",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "688f0e7a7953251e",
        "type": "mqtt-broker",
        "name": "Testing MQTT broker",
        "broker": "172.20.10.14",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1be047b8c3d1d950",
        "type": "mqtt-broker",
        "name": "thingspeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "MSwRNSEaIQwaDD0rMBQxFxc",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "6000",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "974cab2ee50efd75",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://driver.cloudmqtt.com:18833",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1838ab9adeb3746e",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.54",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "ae377d2503a0ecd0",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "ef85295e1cfb475d",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "5d58e05e76b88518",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "cfb394e9bbc8a440",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.115",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "45a497a7c4fb19c9",
        "type": "modbus-client",
        "name": "rasppi",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "0493ddb0d628b37b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "51e5dbbefc639a9f",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.106",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "692530455e46f20d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://driver.cloudmqtt.com:18833",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "789282942c66c56b",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "ed65841e246d3c41",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "72f57cce47ba4698",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.54",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "740949aedb8b210f",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "f1d1cd20658ed671",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.122",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "557cd2bd06ad7725",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.106",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "e280d21660ed63da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1fe5822a6d71b61",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.113",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "90caeb963f4bf596",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "91e8e1b4120f9ef5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "93c4fa8a578fa61e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61cd15506b2c5654",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1be3a58327a7551a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "013edd87b6e3df2a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "23efc9ec5479df74",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9fb43a03f808fc54",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "303082a4c116e8ea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "979d62bab6b80039",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "281e6b04573d7a5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.121",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fe6a46b65dc37048",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1347f06b619f4a70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "527bae0cb7c9c8b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b8e68842bffd72c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7e80c26837a71079",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3397277097e84f03",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b4d1b75732d2b7cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "728e6f6adfe473c4",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "b0df624740039eb5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "15a819426e1a27a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5c577305587d0df7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.121",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "670f68a8f45c2983",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "19b6a36882f5d2a3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9c1030d3ab6bc4f1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2385b553b5560398",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "325140561fcd6cfd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "928012c9667198db",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "33357369ce94941b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f89b2b47b12a690b",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "cc51baa501398967",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.1.200",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "184bd9fcf998eb95",
        "type": "sqlitedb",
        "db": "/tmp/pi_f17_ied19",
        "mode": "RWC"
    },
    {
        "id": "28c973113eb23580",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "47d658f7c21a68c6",
        "type": "ui_tab",
        "name": "DI",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b272e33d046bd1b",
        "type": "ui_tab",
        "name": "Meters",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a37d50c38d9a8f1f",
        "type": "ui_tab",
        "name": "Database F17 IED19 IN",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "33c04decb5898a4b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 7,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "5d2e4219602823d2",
        "type": "ui_tab",
        "name": "Database F17 IED19 OUT",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22a9ecd3d0123451",
        "type": "ui_group",
        "name": "home",
        "tab": "9d24bb8cd5535aa6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e3c068dd6912980d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "fb678e2c74f1d7ad",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "2368980edfaadc99",
        "type": "ui_group",
        "name": "MGC Control Panel",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a90e71e310a5ec58",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ab2cd8e8eb4660c",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "871b5cbb11c042f6",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "39310f4db81c4fce",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d48398285e03662b",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "796fccf816dc294c",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d64e01f7502c85f8",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99dbad042d4af1b6",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce87093bed85c0dd",
        "type": "ui_group",
        "name": "Event Recording",
        "tab": "d9e09f1ac399b529",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "c971bf0d2adf1494",
        "type": "ui_group",
        "name": "IED",
        "tab": "d9e09f1ac399b529",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a776e83fdab82e06",
        "type": "ui_group",
        "name": "HT-SP-Q01",
        "tab": "d9e09f1ac399b529",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d26e6b65238433c1",
        "type": "ui_group",
        "name": "HT-SS1-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "26f7c2878bce0618",
        "type": "ui_group",
        "name": "HT-SS1-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f08495f74de77088",
        "type": "ui_group",
        "name": "HT-SS1-Q02",
        "tab": "d9e09f1ac399b529",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "42291e492b1d3301",
        "type": "ui_group",
        "name": "LT-MGB-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "99e6453ca35d8624",
        "type": "ui_group",
        "name": "LT-MGB-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "79b53771cc7b2972",
        "type": "ui_group",
        "name": "LT-MGB-Q02",
        "tab": "d9e09f1ac399b529",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "53b7b068f5472fd8",
        "type": "ui_group",
        "name": "LT-MGB-Q03",
        "tab": "d9e09f1ac399b529",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f654a972ee836801",
        "type": "ui_group",
        "name": "LT-MGB-Q04",
        "tab": "d9e09f1ac399b529",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c978fc4b12092da8",
        "type": "ui_group",
        "name": "WDB1-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c9e435c54f669b2a",
        "type": "ui_group",
        "name": "WDB1-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4140ab08696283c3",
        "type": "ui_group",
        "name": "HT-SP-Q01",
        "tab": "a5a7fe2348551d64",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "beb99937bbd1b6e2",
        "type": "ui_group",
        "name": "HT-SS1-Q01A",
        "tab": "a5a7fe2348551d64",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "eb2db0a42175cee8",
        "type": "ui_group",
        "name": "HT-SS1-Q01B",
        "tab": "a5a7fe2348551d64",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "73d35ae82c937117",
        "type": "ui_group",
        "name": "LT-MGB-Q01A",
        "tab": "a5a7fe2348551d64",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "1940417868da9216",
        "type": "ui_group",
        "name": "LT-MGB-Q01B",
        "tab": "a5a7fe2348551d64",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6f5331b7f5d64f28",
        "type": "ui_group",
        "name": "LT-MGB-Q02",
        "tab": "a5a7fe2348551d64",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "517ff93ed67f07f3",
        "type": "ui_group",
        "name": "LT-MGB-Q04",
        "tab": "a5a7fe2348551d64",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f9c6a1caa38f384a",
        "type": "ui_group",
        "name": "DI1",
        "tab": "b32841b6c0287bd4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bfbe75f77a882f26",
        "type": "ui_group",
        "name": "DI 2",
        "tab": "b32841b6c0287bd4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44f56ef5ef6974e0",
        "type": "ui_group",
        "name": " ",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "19",
        "collapse": false
    },
    {
        "id": "1081896b60752bc6",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "5f4219d442ff1980",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "822bc5f016edac18",
        "type": "ui_group",
        "name": "SLD",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false
    },
    {
        "id": "1dc108c51e974333",
        "type": "ui_group",
        "name": "Graphics",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "3cd172ea6f1772be",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "50e7c0968d15762d",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "ba7741ef67273037",
        "type": "ui_group",
        "name": "SLD",
        "tab": "307bf661.b180da",
        "order": 1,
        "disp": false,
        "width": 19,
        "collapse": false
    },
    {
        "id": "1ea1e9b1e56c8e27",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "307bf661.b180da",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4c950c10195c74dc",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "fc4b1fc6ee463443",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "fb678e2c74f1d7ad",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "df7911bba9571952",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "fb678e2c74f1d7ad",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "697bab8ce9692356",
        "type": "ui_group",
        "name": "Default",
        "tab": "eaea76e397531ebf",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": true
    },
    {
        "id": "9b2410539875b2fd",
        "type": "ui_group",
        "name": "IED 19",
        "tab": "1b272e33d046bd1b",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8c1f5c96b25db605",
        "type": "ui_group",
        "name": "Event Recording",
        "tab": "1b272e33d046bd1b",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7f474c52d1673658",
        "type": "ui_group",
        "name": "Database F17 IED19 IN",
        "tab": "a37d50c38d9a8f1f",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ed900229c5bbc61",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "33c04decb5898a4b",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9e7e51ce39dad7b7",
        "type": "ui_group",
        "name": "Read Result",
        "tab": "5d2e4219602823d2",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8b04326cdbdbb2d",
        "type": "ui_group",
        "name": "IED 19 CB Manual Control",
        "tab": "1b272e33d046bd1b",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b03482410b881d8",
        "type": "ui_group",
        "name": "Database F18 IED20 IN",
        "tab": "334ec2d6e2234281",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c183e75d1dc7e0a9",
        "type": "sqlitedb",
        "db": "/tmp/pi_f18_ied20",
        "mode": "RWC"
    },
    {
        "id": "b5d2e31acc9c233d",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "6c5951ea9abaa7b5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "334ec2d6e2234281",
        "type": "ui_tab",
        "name": "Database F18 IED20 IN",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c5951ea9abaa7b5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 7,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "9d200c6177fd26d3",
        "type": "ui_group",
        "name": "Read Result",
        "tab": "c2b29cac8311fb5b",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffc75e1c5cafde7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c2b29cac8311fb5b",
        "type": "ui_tab",
        "name": "Database F18 IED20 OUT",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1cf969a3d6f30bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.124",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9ef3282b95be8aa5",
        "type": "modbus-client",
        "name": "IED - Network 4",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.124",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "b9f13ef5bd3f8230",
        "type": "mqtt-broker",
        "name": "Heroku Cloud",
        "broker": "driver.cloudmqtt.com",
        "port": "18833",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "6000",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1031d697c08ddf52",
        "type": "mqtt-broker",
        "name": "Testing MQTT broker",
        "broker": "172.20.10.14",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4b23eca7335e76ab",
        "type": "mqtt-broker",
        "name": "thingspeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "MSwRNSEaIQwaDD0rMBQxFxc",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "6000",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "36dad2ed96ae5c8f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://driver.cloudmqtt.com:18833",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "29e6bc12601d6e6d",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.54",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "5e5d20dcfd346c32",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "4199b88bb39f4059",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "2f19a00689fe2a15",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "e3347be72264a1a3",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.115",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "4d52b465d0f1ca5d",
        "type": "modbus-client",
        "name": "rasppi",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "d8a0ca0ebd82f2df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "03a79bd487984ed2",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.106",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "1bba2c11729a811b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "tcp://driver.cloudmqtt.com:18833",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c927e773332283f6",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.103",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "21655c87a0838f7d",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "34b3af73679bf4f8",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.54",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "7ebc157bfb7b3122",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.104",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "b0401a8044fcfae1",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.122",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "ef96a7fc52e08b41",
        "type": "ui_tab",
        "name": "DI",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7613d6eaf95f4c67",
        "type": "ui_group",
        "name": "home",
        "tab": "9d24bb8cd5535aa6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a391faeef6a7dd01",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "fb678e2c74f1d7ad",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "aabc2f6e68e93b69",
        "type": "ui_group",
        "name": "MGC Control Panel",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d73e2d330a6116b6",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "637da9eeeb95f929",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0bf91ecb3d36a5d2",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f1144b91dcaa91b",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1fd713f3f33d8dd0",
        "type": "ui_group",
        "name": "Values",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58c96a360c69437e",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f40291416ba9b1fb",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c5eeb0fe879255f",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "94ea0d57d0c552d3",
        "type": "ui_group",
        "name": "Event Recording",
        "tab": "d9e09f1ac399b529",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "4e56d9f9a526dce0",
        "type": "ui_group",
        "name": "IED",
        "tab": "d9e09f1ac399b529",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "21507577642b8f42",
        "type": "ui_group",
        "name": "HT-SP-Q01",
        "tab": "d9e09f1ac399b529",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "730b1a570a2ddbe2",
        "type": "ui_group",
        "name": "HT-SS1-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "91ed8b60e747ec15",
        "type": "ui_group",
        "name": "HT-SS1-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "bb9513832ad9a001",
        "type": "ui_group",
        "name": "HT-SS1-Q02",
        "tab": "d9e09f1ac399b529",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e614699afb2c953f",
        "type": "ui_group",
        "name": "LT-MGB-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e2d76434bba9cab3",
        "type": "ui_group",
        "name": "LT-MGB-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "402d668414a1c4b1",
        "type": "ui_group",
        "name": "LT-MGB-Q02",
        "tab": "d9e09f1ac399b529",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ca8a95d204993f1b",
        "type": "ui_group",
        "name": "LT-MGB-Q03",
        "tab": "d9e09f1ac399b529",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a48f3be7f1428819",
        "type": "ui_group",
        "name": "LT-MGB-Q04",
        "tab": "d9e09f1ac399b529",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "03dbf3557e6b0ce7",
        "type": "ui_group",
        "name": "WDB1-Q01A",
        "tab": "d9e09f1ac399b529",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e415dea6bd59b2f4",
        "type": "ui_group",
        "name": "WDB1-Q01B",
        "tab": "d9e09f1ac399b529",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d65d39302414b225",
        "type": "ui_group",
        "name": "HT-SP-Q01",
        "tab": "a5a7fe2348551d64",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3dde237f296a4cfd",
        "type": "ui_group",
        "name": "HT-SS1-Q01A",
        "tab": "a5a7fe2348551d64",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e0386ddca950256d",
        "type": "ui_group",
        "name": "HT-SS1-Q01B",
        "tab": "a5a7fe2348551d64",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "144d112adb142b3a",
        "type": "ui_group",
        "name": "LT-MGB-Q01A",
        "tab": "a5a7fe2348551d64",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "86cfcf5c778bffad",
        "type": "ui_group",
        "name": "LT-MGB-Q01B",
        "tab": "a5a7fe2348551d64",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c2f436bad649257a",
        "type": "ui_group",
        "name": "LT-MGB-Q02",
        "tab": "a5a7fe2348551d64",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "25856df4bb5ed45c",
        "type": "ui_group",
        "name": "LT-MGB-Q04",
        "tab": "a5a7fe2348551d64",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "8cbd6bb81c0a4fcd",
        "type": "ui_group",
        "name": "DI1",
        "tab": "b32841b6c0287bd4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4dc973f8af084f75",
        "type": "ui_group",
        "name": "DI 2",
        "tab": "b32841b6c0287bd4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eb3798f95c69db61",
        "type": "ui_group",
        "name": " ",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "19",
        "collapse": false
    },
    {
        "id": "4239cd03688d82b6",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "e4f03398d79c3c8d",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b5b37bce8e3f525",
        "type": "ui_group",
        "name": "SLD",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false
    },
    {
        "id": "d53e2218bd845d13",
        "type": "ui_group",
        "name": "Graphics",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "c9604353989927c2",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8db244eb34ed7fff",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "2cd37c7fa8fa2dd5",
        "type": "ui_group",
        "name": "SLD",
        "tab": "307bf661.b180da",
        "order": 1,
        "disp": false,
        "width": 19,
        "collapse": false
    },
    {
        "id": "24c23b435fa0a53a",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "307bf661.b180da",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2f901bd24fa5e289",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "22785a228e89211b",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "fb678e2c74f1d7ad",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "a484c95faf130e37",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "fb678e2c74f1d7ad",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "1b0624b0956660f0",
        "type": "ui_group",
        "name": "Default",
        "tab": "eaea76e397531ebf",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": true
    },
    {
        "id": "a858a45983e57f12",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.106",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "0f28c59706852035",
        "type": "ui_group",
        "name": "IED",
        "tab": "3e5b9b2937d0339c",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": true
    },
    {
        "id": "155ce4c28ccaf603",
        "type": "ui_group",
        "name": "Event Recording",
        "tab": "3e5b9b2937d0339c",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3e5b9b2937d0339c",
        "type": "ui_tab",
        "name": "Meters",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "28a090defbc41f23",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a7a4d581e7d5fe3f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7d185037d4ee08b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.113",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a1a02c3a96a47567",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6a43e49cbf5bdbe0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "40a47fc7dcc0e851",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bd1267340e7e3280",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3e66b089a148db37",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "caeffd7cf0b0474f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8f479cae4ab47b29",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.1.200",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "e4549441ad543fef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.124",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "574f2d56ec3422fc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61e5968dc10148dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.121",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6d21133de8fe727b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9c51294b0534cd37",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "934f06450e545abc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7ee2d9943e1f1cbe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ca6a27fc3b711d8d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f1a00e6ccf3a1094",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1f32ba45194fc6d",
        "type": "ui_group",
        "name": "Read Result",
        "tab": "cdba23be02259225",
        "order": 3,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5699365cf79cba2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.114",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cdba23be02259225",
        "type": "ui_tab",
        "name": "Database F18 IED20 OUT",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a75122875c0d2472",
        "type": "modbus-client",
        "name": "PyModbus Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.1.200",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "51f1c10607770e13",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.123",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a117a35bcd7b3ace",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.122",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5ac2b3f534fbd449",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.121",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3288ffc70b77745d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.120",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "27b0f973413bfb6c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "88a60a52c511c4da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.116",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fd82ef8293443eff",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.118",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aa2eb889f3e91b11",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.117",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1c5f6dd9d8c29187",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "ef96a7fc52e08b41",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "add195ac07a5ebc5",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/vphase1",
        "qos": "2",
        "datatype": "auto",
        "broker": "d1cf969a3d6f30bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "8cb6bad792a7e824"
            ]
        ]
    },
    {
        "id": "cee2ebb84394a082",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/vphase2",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a090defbc41f23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "8b0f68a6161b2461"
            ]
        ]
    },
    {
        "id": "a59023c32c37d21d",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/vphase3",
        "qos": "2",
        "datatype": "auto",
        "broker": "a7a4d581e7d5fe3f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "995012ebbece97e8"
            ]
        ]
    },
    {
        "id": "5bde70a92bb78534",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/iphase1",
        "qos": "2",
        "datatype": "auto",
        "broker": "7d185037d4ee08b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "c61091697bf432cc"
            ]
        ]
    },
    {
        "id": "1e02dee1d220c40b",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/iphase2",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1a02c3a96a47567",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "3f92fed1f24cacb6"
            ]
        ]
    },
    {
        "id": "9df1dd6e284319f3",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/iphase3",
        "qos": "2",
        "datatype": "auto",
        "broker": "6a43e49cbf5bdbe0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "6d519aaccbdf1d80"
            ]
        ]
    },
    {
        "id": "e4bf584733548f21",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/freq",
        "qos": "2",
        "datatype": "auto",
        "broker": "3e66b089a148db37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "3f7428a48e87194b"
            ]
        ]
    },
    {
        "id": "8e0385fc95c7699b",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/voltage_N",
        "qos": "2",
        "datatype": "auto",
        "broker": "40a47fc7dcc0e851",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 600,
        "wires": [
            [
                "2f3dd89f41ed5ad0"
            ]
        ]
    },
    {
        "id": "d22c1cadf6b35899",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/current_N",
        "qos": "2",
        "datatype": "auto",
        "broker": "bd1267340e7e3280",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 660,
        "wires": [
            [
                "748cfcf52422ab56"
            ]
        ]
    },
    {
        "id": "8cb6bad792a7e824",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('voltage1', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d9d65dc7706dfae",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 180,
        "wires": [
            [
                "a6ed190d77fe50a1"
            ]
        ]
    },
    {
        "id": "a6ed190d77fe50a1",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 180,
        "wires": []
    },
    {
        "id": "71da9690afa98107",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "1d9d65dc7706dfae"
            ]
        ]
    },
    {
        "id": "8b0f68a6161b2461",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('voltage2', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ef88ab9f94d9eaf5",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "5311c6927209c623"
            ]
        ]
    },
    {
        "id": "5311c6927209c623",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 240,
        "wires": []
    },
    {
        "id": "470c54b4755b551a",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "ef88ab9f94d9eaf5"
            ]
        ]
    },
    {
        "id": "995012ebbece97e8",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('voltage3', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8bf6107e70479fd6",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "024a612ea212464f"
            ]
        ]
    },
    {
        "id": "024a612ea212464f",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f3a1c69903755d1",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "8bf6107e70479fd6"
            ]
        ]
    },
    {
        "id": "c61091697bf432cc",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('current1', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e0e33511b446bac3",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 360,
        "wires": [
            [
                "1b57f85e19ca0e46"
            ]
        ]
    },
    {
        "id": "1b57f85e19ca0e46",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "6e83aed3d0e8860c",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "e0e33511b446bac3"
            ]
        ]
    },
    {
        "id": "3f92fed1f24cacb6",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('current2', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3b13a9344b625b74",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 420,
        "wires": [
            [
                "d6e7c2dc34681fc5"
            ]
        ]
    },
    {
        "id": "d6e7c2dc34681fc5",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 420,
        "wires": []
    },
    {
        "id": "df6b5be8a1fa6566",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "3b13a9344b625b74"
            ]
        ]
    },
    {
        "id": "6d519aaccbdf1d80",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('current3', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "3660963996dcfb8a",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 480,
        "wires": [
            [
                "64bc65721943700c"
            ]
        ]
    },
    {
        "id": "64bc65721943700c",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 480,
        "wires": []
    },
    {
        "id": "85c9672951c05e90",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 480,
        "wires": [
            [
                "3660963996dcfb8a"
            ]
        ]
    },
    {
        "id": "3f7428a48e87194b",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('Frequency', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8edd774f98e1eb25",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 540,
        "wires": [
            [
                "e00ce2819b47431b"
            ]
        ]
    },
    {
        "id": "e00ce2819b47431b",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 540,
        "wires": []
    },
    {
        "id": "27095a6022b349d0",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 540,
        "wires": [
            [
                "8edd774f98e1eb25"
            ]
        ]
    },
    {
        "id": "2f3dd89f41ed5ad0",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('voltageN', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1fc2ff9b5602def3",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "e75fbc7567c0a594"
            ]
        ]
    },
    {
        "id": "e75fbc7567c0a594",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 600,
        "wires": []
    },
    {
        "id": "ca9592a7bed6c3e0",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 600,
        "wires": [
            [
                "1fc2ff9b5602def3"
            ]
        ]
    },
    {
        "id": "748cfcf52422ab56",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('currentN', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "80130d71efb9beb9",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 660,
        "wires": [
            [
                "bc0f677ffb63802d"
            ]
        ]
    },
    {
        "id": "bc0f677ffb63802d",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 660,
        "wires": []
    },
    {
        "id": "d3734c02f9a54ae0",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 660,
        "wires": [
            [
                "80130d71efb9beb9"
            ]
        ]
    },
    {
        "id": "d47f550f45950137",
        "type": "mqtt in",
        "z": "7b8772f3b3360885",
        "name": "",
        "topic": "Matlab_to_IED20/load",
        "qos": "2",
        "datatype": "auto",
        "broker": "caeffd7cf0b0474f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 720,
        "wires": [
            [
                "dd9fdfcb4d0b29ad"
            ]
        ]
    },
    {
        "id": "dd9fdfcb4d0b29ad",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "global.set('f18_load', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "af6a37800cd089ac",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "",
        "func": "var obtain_load = global.get(\"f18_load\");\nmsg.payload = obtain_load;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 720,
        "wires": [
            [
                "679df913c2c98ee3"
            ]
        ]
    },
    {
        "id": "679df913c2c98ee3",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "1d4779c58193115c",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1210,
        "y": 720,
        "wires": [
            [
                "af6a37800cd089ac"
            ]
        ]
    },
    {
        "id": "6392365d26d1a1b9",
        "type": "inject",
        "z": "7b8772f3b3360885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 780,
        "wires": [
            [
                "7b7900af932c7862"
            ]
        ]
    },
    {
        "id": "7b7900af932c7862",
        "type": "function",
        "z": "7b8772f3b3360885",
        "name": "Calculating Load",
        "func": "var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f18_load\");\n\nvar f18_current1 = obtainI*(obtainL/45);\nvar f18_current2 = obtainI2*(obtainL/45);\nvar f18_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f18_current1', String(f18_current1))\nglobal.set('f18_current2', String(f18_current2))\nglobal.set('f18_current3', String(f18_current3))\n\nmsg.payload = f18_current1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 780,
        "wires": [
            [
                "07bb2823b9080e56"
            ]
        ]
    },
    {
        "id": "07bb2823b9080e56",
        "type": "debug",
        "z": "7b8772f3b3360885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "1208bb927575d257",
        "type": "debug",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e85e7c6a1d6a5e7b",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "CB Decision",
        "func": "var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f18_current1\");\nvar obtainI2 = global.get(\"f18_current2\");\nvar obtainI3 = global.get(\"f18_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch20\");\nvar scadaswitch_status= global.get(\"scadaswitch20\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';       \n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "1208bb927575d257",
                "f27decfa7105dd11"
            ]
        ]
    },
    {
        "id": "a035eef03ca5c72d",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "func": "msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 37 , \n    'quantity': 1 \n    \n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "6253e843a817990c",
                "88631acf835b07c0"
            ]
        ]
    },
    {
        "id": "fda4eb92f046d906",
        "type": "debug",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "6253e843a817990c",
        "type": "modbus-flex-write",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "8f479cae4ab47b29",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "fda4eb92f046d906"
            ],
            []
        ]
    },
    {
        "id": "f3fb7b005758d9da",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "Calculate Total Power",
        "func": "var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f18_current1\");\nvar obtainI2 = global.get(\"f18_current2\");\nvar obtainI3 = global.get(\"f18_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "a035eef03ca5c72d"
            ]
        ]
    },
    {
        "id": "88631acf835b07c0",
        "type": "debug",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "88ef91b6da733423",
        "type": "inject",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "f3fb7b005758d9da",
                "e85e7c6a1d6a5e7b"
            ]
        ]
    },
    {
        "id": "15178a0277fc93f9",
        "type": "comment",
        "z": "1ce28a8ee41e7b7a",
        "name": "SCADA Dashboard 's switch",
        "info": "",
        "x": 240,
        "y": 520,
        "wires": []
    },
    {
        "id": "84ac6a9b0d010ba0",
        "type": "comment",
        "z": "1ce28a8ee41e7b7a",
        "name": "IED's dashboard switch",
        "info": "",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "80d2d9a4191dc90b",
        "type": "ui_switch",
        "z": "1ce28a8ee41e7b7a",
        "name": "switch_status",
        "label": "IED20 Circuit breaker 20 switch",
        "tooltip": "",
        "group": "d8b04326cdbdbb2d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "05c40c21048d2bde"
            ]
        ]
    },
    {
        "id": "05c40c21048d2bde",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "func": "global.set('switch20', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f59d944093344202",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "func": "var switch_status = global.get(\"switch20\");\nmsg.payload = switch_status;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 460,
        "wires": [
            [
                "082239b64a21690b"
            ]
        ]
    },
    {
        "id": "082239b64a21690b",
        "type": "debug",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "4a4439003d59b893",
        "type": "inject",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "f59d944093344202"
            ]
        ]
    },
    {
        "id": "979b090a3f7a2898",
        "type": "modbus-read",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "2",
        "dataType": "HoldingRegister",
        "adr": "570",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "cc51baa501398967",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "5b4a211f5348d639"
            ],
            []
        ]
    },
    {
        "id": "5b4a211f5348d639",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "func": "global.set('scadaswitch20', msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0cee8e9673a91968",
        "type": "function",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "func": "var scadaswitch_status = global.get(\"scadaswitch20\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 580,
        "wires": [
            [
                "ced551f630642a4f"
            ]
        ]
    },
    {
        "id": "ced551f630642a4f",
        "type": "debug",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "7db0cc9b533ba39b",
        "type": "inject",
        "z": "1ce28a8ee41e7b7a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "0cee8e9673a91968"
            ]
        ]
    },
    {
        "id": "f27decfa7105dd11",
        "type": "mqtt out",
        "z": "1ce28a8ee41e7b7a",
        "name": "MQTT CB20 Channel",
        "topic": "IED20_to_CB/CB20_status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1fe5822a6d71b61",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "6ab102e8cebeac3f",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 320,
        "wires": [
            [
                "e5b6774036b29095"
            ]
        ]
    },
    {
        "id": "2708e6b8126dcec0",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 380,
        "wires": [
            [
                "50d62d1677dae914"
            ]
        ]
    },
    {
        "id": "d9132ba7a4f8521a",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 440,
        "wires": [
            [
                "e493482ca27c56ad"
            ]
        ]
    },
    {
        "id": "513318d0b5b875ca",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = global.get('f18_current1');\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 500,
        "wires": [
            [
                "b4e75c7e3475e866"
            ]
        ]
    },
    {
        "id": "bbbce28067046c3e",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = global.get('f18_current2');\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "b02c3583de504a67"
            ]
        ]
    },
    {
        "id": "50878024ca4cc886",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = global.get('f18_current3');\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 620,
        "wires": [
            [
                "d3a3fc0bc6b05c30"
            ]
        ]
    },
    {
        "id": "b59d66ffac7fdbf8",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 680,
        "wires": [
            [
                "e6cf1175f2bd0121"
            ]
        ]
    },
    {
        "id": "91c85afb9d24e51c",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 740,
        "wires": [
            [
                "a7dd7a6efa291969"
            ]
        ]
    },
    {
        "id": "8c4581cb7d351594",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 800,
        "wires": [
            [
                "307cea7659f35326"
            ]
        ]
    },
    {
        "id": "e5b6774036b29095",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Phase A Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "50d62d1677dae914",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Phase B Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "e493482ca27c56ad",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Phase C Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "b4e75c7e3475e866",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase A Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "b02c3583de504a67",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase B Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "d3a3fc0bc6b05c30",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase C current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "e6cf1175f2bd0121",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frequency",
        "format": "{{msg.payload}} Hz",
        "layout": "row-spread",
        "x": 1090,
        "y": 680,
        "wires": []
    },
    {
        "id": "a7dd7a6efa291969",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Neutral Voltage",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "307cea7659f35326",
        "type": "ui_text",
        "z": "b03503c61437ade9",
        "group": "0f28c59706852035",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Neutral Current",
        "format": "{{msg.payload}} A",
        "layout": "row-spread",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "f981a59b5088f8e1",
        "type": "inject",
        "z": "b03503c61437ade9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "cafc7d8ed9a61022"
            ]
        ]
    },
    {
        "id": "59e82396bcef98b9",
        "type": "inject",
        "z": "b03503c61437ade9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "fed170eb2d403415"
            ]
        ]
    },
    {
        "id": "fed170eb2d403415",
        "type": "change",
        "z": "b03503c61437ade9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "savedData",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "cafc7d8ed9a61022",
        "type": "function",
        "z": "b03503c61437ade9",
        "name": "",
        "func": "\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f18_current1');\nvar obtainI2 = global.get('f18_current2');\nvar obtainI3 = global.get('f18_current3');\nvar switch_status= global.get(\"switch20\");\nvar scadaswitch_status= global.get(\"scadaswitch20\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n   global.set('F18CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \nglobal.set('event', event) \n \ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 900,
        "wires": [
            [
                "1c503e7d8a2939ca"
            ]
        ]
    },
    {
        "id": "1c503e7d8a2939ca",
        "type": "ui_table",
        "z": "b03503c61437ade9",
        "group": "155ce4c28ccaf603",
        "name": "",
        "order": 1,
        "width": 14,
        "height": 6,
        "columns": [
            {
                "field": "Timestamp",
                "title": "Time",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "CB Status",
                "title": "CB state",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Event",
                "title": "Fault Event",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phasefaultV",
                "title": "Faulty Phase (V)",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "phasefaultI",
                "title": "Faulty Phase (I)",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 950,
        "y": 900,
        "wires": []
    },
    {
        "id": "56da8ab93e9e8ed0",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/vphase1",
        "qos": "2",
        "datatype": "auto",
        "broker": "d1cf969a3d6f30bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "6ab102e8cebeac3f"
            ]
        ]
    },
    {
        "id": "eadd8526f5b5e9e8",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/vphase2",
        "qos": "2",
        "datatype": "auto",
        "broker": "28a090defbc41f23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 380,
        "wires": [
            [
                "2708e6b8126dcec0"
            ]
        ]
    },
    {
        "id": "905533fae41f2388",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/vphase3",
        "qos": "2",
        "datatype": "auto",
        "broker": "a7a4d581e7d5fe3f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "d9132ba7a4f8521a"
            ]
        ]
    },
    {
        "id": "c3e293d413c53171",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/iphase1",
        "qos": "2",
        "datatype": "auto",
        "broker": "7d185037d4ee08b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "513318d0b5b875ca"
            ]
        ]
    },
    {
        "id": "1b6388cec284ba55",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/iphase2",
        "qos": "2",
        "datatype": "auto",
        "broker": "a1a02c3a96a47567",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "bbbce28067046c3e"
            ]
        ]
    },
    {
        "id": "9740f90dbfdc88c2",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/iphase3",
        "qos": "2",
        "datatype": "auto",
        "broker": "6a43e49cbf5bdbe0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 620,
        "wires": [
            [
                "50878024ca4cc886"
            ]
        ]
    },
    {
        "id": "6d2bb4184f79816e",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/freq",
        "qos": "2",
        "datatype": "auto",
        "broker": "3e66b089a148db37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "b59d66ffac7fdbf8"
            ]
        ]
    },
    {
        "id": "fb6a6dc123545662",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/voltage_N",
        "qos": "2",
        "datatype": "auto",
        "broker": "40a47fc7dcc0e851",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 740,
        "wires": [
            [
                "91c85afb9d24e51c"
            ]
        ]
    },
    {
        "id": "edb0f889c1540dfc",
        "type": "mqtt in",
        "z": "b03503c61437ade9",
        "name": "",
        "topic": "Matlab_to_IED20/current_N",
        "qos": "2",
        "datatype": "auto",
        "broker": "bd1267340e7e3280",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 800,
        "wires": [
            [
                "8c4581cb7d351594"
            ]
        ]
    },
    {
        "id": "78c0ecf9ffe33eab",
        "type": "aedes broker",
        "z": "6987b6a256ab531c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "aedaad44952fb029"
            ],
            []
        ]
    },
    {
        "id": "aedaad44952fb029",
        "type": "debug",
        "z": "6987b6a256ab531c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "d4aa84ca468378c0",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "create database table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "CREATE TABLE Input_data_ied20(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "40d70b2581b9da5d"
            ]
        ]
    },
    {
        "id": "59f71b58699b12ca",
        "type": "debug",
        "z": "68a82278c55982b3",
        "name": "database_out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "b2d6bce36a149206",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "delete records",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "DELETE FROM Input_data_ied20 WHERE TIMESTAMP>=0",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "40d70b2581b9da5d"
            ]
        ]
    },
    {
        "id": "f722b430ab524bf2",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "show RECORDS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT * FROM Input_data_ied20 ORDER BY TIMESTAMP DESC LIMIT 100",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "b9a6fd9ddb992099"
            ]
        ]
    },
    {
        "id": "6953436c65d656a0",
        "type": "ui_template",
        "z": "68a82278c55982b3",
        "group": "4b03482410b881d8",
        "name": "Database F18 IED20 IN",
        "order": 1,
        "width": "18",
        "height": "15",
        "format": "<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "40d70b2581b9da5d",
        "type": "sqlite",
        "z": "68a82278c55982b3",
        "mydb": "c183e75d1dc7e0a9",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Database F18 IED20 IN",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "59f71b58699b12ca"
            ]
        ]
    },
    {
        "id": "64cafbcc8943445e",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "53704e479c67c57f"
            ]
        ]
    },
    {
        "id": "53704e479c67c57f",
        "type": "function",
        "z": "68a82278c55982b3",
        "name": "write query",
        "func": "var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied20 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "6f4e929ccff9ed05",
                "b96fef8b909fdb8f"
            ]
        ]
    },
    {
        "id": "6f4e929ccff9ed05",
        "type": "debug",
        "z": "68a82278c55982b3",
        "name": "sql out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "b9a6fd9ddb992099",
        "type": "sqlite",
        "z": "68a82278c55982b3",
        "mydb": "c183e75d1dc7e0a9",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Database F18 IED20 IN",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "6953436c65d656a0"
            ]
        ]
    },
    {
        "id": "79b908d9b599c7b4",
        "type": "catch",
        "z": "68a82278c55982b3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "5df254a8fae4c9da",
                "dbf10a47473957eb"
            ]
        ]
    },
    {
        "id": "5df254a8fae4c9da",
        "type": "debug",
        "z": "68a82278c55982b3",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "2677c03f3acb4a47",
        "type": "ui_text",
        "z": "68a82278c55982b3",
        "group": "b5d2e31acc9c233d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "dbf10a47473957eb",
        "type": "function",
        "z": "68a82278c55982b3",
        "name": "sql errors",
        "func": "var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "2677c03f3acb4a47"
            ]
        ]
    },
    {
        "id": "8389912c4bd6b977",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "Drop Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "drop table Input_data_ied20",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "40d70b2581b9da5d"
            ]
        ]
    },
    {
        "id": "a429e4bf306530f6",
        "type": "function",
        "z": "68a82278c55982b3",
        "name": "Clear errors",
        "func": "node.error(\"\",msg);//clear error\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "869066ba60337b55",
        "type": "inject",
        "z": "68a82278c55982b3",
        "name": "clear errors",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "a429e4bf306530f6"
            ]
        ]
    },
    {
        "id": "b96fef8b909fdb8f",
        "type": "delay",
        "z": "68a82278c55982b3",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "40d70b2581b9da5d"
            ]
        ]
    },
    {
        "id": "81f45a4f3c2bed88",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "create database table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "CREATE TABLE output_data_ied20(TIMESTAMP TEXT NOT NULL,F18CBStatus TEXT NOT NULL,F18CBEvent TEXT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "af310f191d629206"
            ]
        ]
    },
    {
        "id": "0754ea7e67474de3",
        "type": "debug",
        "z": "5c1ec214fe6e24a1",
        "name": "database_out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "0fa5d169c5f01d60",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "delete records",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "DELETE FROM output_data_ied20 WHERE TIMESTAMP>=0",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "af310f191d629206"
            ]
        ]
    },
    {
        "id": "c76251ff25273b4f",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "show RECORDS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT * FROM output_data_ied20 ORDER BY TIMESTAMP DESC LIMIT 100",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "682824f40c345cf2"
            ]
        ]
    },
    {
        "id": "315adce86c0aeb63",
        "type": "ui_template",
        "z": "5c1ec214fe6e24a1",
        "group": "b1f32ba45194fc6d",
        "name": "Database F18 IED20 OUT",
        "order": 1,
        "width": "18",
        "height": "15",
        "format": "<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F18CBStatus</th>\n    <th>F18CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F18CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F18CBEvent}}</td>\n\n  </tr>\n</table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "af310f191d629206",
        "type": "sqlite",
        "z": "5c1ec214fe6e24a1",
        "mydb": "c183e75d1dc7e0a9",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Database F18 IED20 OUT",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "0754ea7e67474de3"
            ]
        ]
    },
    {
        "id": "054589be5fca291a",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "87e5ac1452bb3f76"
            ]
        ]
    },
    {
        "id": "87e5ac1452bb3f76",
        "type": "function",
        "z": "5c1ec214fe6e24a1",
        "name": "write query",
        "func": "var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F18CBStatus=global.get(\"F18CBStatus\");\nvar F18CBEvent=global.get(\"F18CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F18CBStatus,F18CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F18CBStatus + \"\\',\\'\" + F18CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied20 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "f4d3f7c5d8976ec9",
                "83eba405da79d58b"
            ]
        ]
    },
    {
        "id": "f4d3f7c5d8976ec9",
        "type": "debug",
        "z": "5c1ec214fe6e24a1",
        "name": "sql out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "682824f40c345cf2",
        "type": "sqlite",
        "z": "5c1ec214fe6e24a1",
        "mydb": "c183e75d1dc7e0a9",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Database F18 IED20 OUT",
        "x": 600,
        "y": 100,
        "wires": [
            [
                "315adce86c0aeb63"
            ]
        ]
    },
    {
        "id": "fb7dc1e442076b90",
        "type": "catch",
        "z": "5c1ec214fe6e24a1",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "cd91ae51c17c4640",
                "0c4bf1e2325d5c7c"
            ]
        ]
    },
    {
        "id": "cd91ae51c17c4640",
        "type": "debug",
        "z": "5c1ec214fe6e24a1",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "af0e0da1fdcba27f",
        "type": "ui_text",
        "z": "5c1ec214fe6e24a1",
        "group": "b5d2e31acc9c233d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "0c4bf1e2325d5c7c",
        "type": "function",
        "z": "5c1ec214fe6e24a1",
        "name": "sql errors",
        "func": "var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "af0e0da1fdcba27f"
            ]
        ]
    },
    {
        "id": "2a022695beee4df9",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "Drop Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "drop table output_data_ied20",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "af310f191d629206"
            ]
        ]
    },
    {
        "id": "e38dbd1d941f1c36",
        "type": "function",
        "z": "5c1ec214fe6e24a1",
        "name": "Clear errors",
        "func": "node.error(\"\",msg);//clear error\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "bc10819894357ea2",
        "type": "inject",
        "z": "5c1ec214fe6e24a1",
        "name": "clear errors",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "e38dbd1d941f1c36"
            ]
        ]
    },
    {
        "id": "83eba405da79d58b",
        "type": "delay",
        "z": "5c1ec214fe6e24a1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "af310f191d629206"
            ]
        ]
    },
    {
        "id": "a969ea4c451eb3a7",
        "type": "mqtt in",
        "z": "5c1ec214fe6e24a1",
        "name": "",
        "topic": "IED20_to_CB/CB20_status",
        "qos": "2",
        "datatype": "auto",
        "broker": "d5699365cf79cba2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "24af72d3efc67692",
                "869dc77c68f5f21a"
            ]
        ]
    },
    {
        "id": "24af72d3efc67692",
        "type": "function",
        "z": "5c1ec214fe6e24a1",
        "name": "",
        "func": "global.set('F18CBStatus', msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "869dc77c68f5f21a",
        "type": "debug",
        "z": "5c1ec214fe6e24a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "735c4f27a06f4378",
        "type": "modbus-flex-write",
        "z": "f195b78979d1445b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "a75122875c0d2472",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "db8ddb0913680de0"
            ],
            []
        ]
    },
    {
        "id": "db8ddb0913680de0",
        "type": "debug",
        "z": "f195b78979d1445b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.value",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "0f4afdd17df370c5",
        "type": "function",
        "z": "f195b78979d1445b",
        "name": "",
        "func": "msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 525 , \n    'quantity': 9 \n    \n} \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 240,
        "wires": [
            [
                "735c4f27a06f4378"
            ]
        ]
    },
    {
        "id": "146f07da390eb3dd",
        "type": "inject",
        "z": "f195b78979d1445b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "a34dfab43eef0ce3"
            ]
        ]
    },
    {
        "id": "a34dfab43eef0ce3",
        "type": "function",
        "z": "f195b78979d1445b",
        "name": "Combine Values into Array",
        "func": "var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f18_current1');\nvar e = global.get('f18_current2');\nvar f = global.get('f18_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "0f4afdd17df370c5",
                "7bde581c15886e90"
            ]
        ]
    },
    {
        "id": "7bde581c15886e90",
        "type": "debug",
        "z": "f195b78979d1445b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    }
]