04 Json Files/IED Files/ied2.json
[{"id":"9dd571c2d59c2085","type":"tab","label":"Matlab to IED2","disabled":false,"info":"","env":[]},{"id":"a22a22dd00bd44ab","type":"tab","label":"IED CB2 Decision","disabled":false,"info":"","env":[]},{"id":"bd1f0ed8dc03872c","type":"tab","label":"IED2 Dashboard","disabled":false,"info":"","env":[]},{"id":"f55e62feb9c08730","type":"tab","label":"Database S2 IED2 IN","disabled":false,"info":""},{"id":"bc519b184e5d163f","type":"tab","label":"Database S2 IED2 OUT","disabled":false,"info":"","env":[]},{"id":"d12dbeefdfdd5b73","type":"tab","label":"IED2 to Scada","disabled":false,"info":"","env":[]},{"id":"9e37f452d503efda","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"2359efe2db50d66f","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7dfe3e5838aab258","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6c8498927d37b665","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7eb5e864.6e4fe8","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a561f017fefa7822","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.117","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"036c030afce1c4d3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c328c47e0d5dd26c","type":"ui_tab","name":"Meters","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b1da253951cb8f06","type":"ui_group","name":"home","tab":"0727db61ceeaa5c7","order":1,"disp":true,"width":"6","collapse":true},{"id":"da7a0e45a5de60a8","type":"ui_group","name":"Meter","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5132d52efcf2266","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"633b0fd492421ad5","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"209e02c8e98cad1f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b54eb2aaf4a145e","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4dce3a43fa6caac","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e1586d994c12c86","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"57e27c1a70706a0f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f9b58321fceaa14","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a19da68c725b14af","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"1ab326779b5697b0","type":"ui_group","name":"Event Recording","tab":"c328c47e0d5dd26c","order":1,"disp":true,"width":"12","collapse":true},{"id":"f4238688aacb1a83","type":"ui_group","name":"IED 2","tab":"c328c47e0d5dd26c","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"ee5ee65495e5046b","type":"ui_group","name":"HT-SP-Q01","tab":"1db1562bcd67e2dd","order":1,"disp":true,"width":"6","collapse":true},{"id":"f62f6b3410386270","type":"ui_group","name":"HT-SS1-Q01A","tab":"1db1562bcd67e2dd","order":2,"disp":true,"width":"6","collapse":true},{"id":"1a99c9e2df39d5dc","type":"ui_group","name":"HT-SS1-Q01B","tab":"1db1562bcd67e2dd","order":3,"disp":true,"width":"6","collapse":true},{"id":"afca9222356dd468","type":"ui_group","name":"LT-MGB-Q01A","tab":"1db1562bcd67e2dd","order":4,"disp":true,"width":"6","collapse":true},{"id":"2b77762720db7a5d","type":"ui_group","name":"LT-MGB-Q01B","tab":"1db1562bcd67e2dd","order":5,"disp":true,"width":"6","collapse":true},{"id":"b62b3c27f91aa36d","type":"ui_group","name":"LT-MGB-Q02","tab":"1db1562bcd67e2dd","order":6,"disp":true,"width":"6","collapse":true},{"id":"6015132ba6944c34","type":"ui_group","name":"LT-MGB-Q04","tab":"1db1562bcd67e2dd","order":7,"disp":true,"width":"6","collapse":true},{"id":"cfc05fb6cc3406fd","type":"ui_group","name":"DI1","tab":"64d79527f4da7077","order":1,"disp":true,"width":"6","collapse":false},{"id":"01ab2d8d30275125","type":"ui_group","name":"DI 2","tab":"64d79527f4da7077","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ced7d02a48a7186","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"f2425d84d04ef230","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"89617f9e4d314893","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"bafb99267d183820","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"4e289f9f.33bda","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"e34dc0f7.34277","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"537b4f53544fc83e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"ab52f889.8e8708","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"b5418e39.8542f","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"e75328603d98934b","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"e0ce0f7106e08c2f","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"2288795ecf572a57","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"9932592d0d41b053","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"80bd8826c828b185","type":"ui_group","name":"HT-SS1-Q01B","tab":"c328c47e0d5dd26c","order":5,"disp":true,"width":"6","collapse":true},{"id":"169672878dd9774f","type":"ui_group","name":"HT-SS1-Q02","tab":"c328c47e0d5dd26c","order":6,"disp":true,"width":"6","collapse":true},{"id":"588a601b3b1a32e5","type":"ui_group","name":"LT-MGB-Q01A","tab":"c328c47e0d5dd26c","order":7,"disp":true,"width":"6","collapse":true},{"id":"04dc5b07c85fe6d6","type":"ui_group","name":"LT-MGB-Q01B","tab":"c328c47e0d5dd26c","order":8,"disp":true,"width":"6","collapse":true},{"id":"8008bc55707e2df4","type":"ui_group","name":"LT-MGB-Q02","tab":"c328c47e0d5dd26c","order":9,"disp":true,"width":"6","collapse":true},{"id":"df12f77c96c406f6","type":"ui_group","name":"LT-MGB-Q03","tab":"c328c47e0d5dd26c","order":10,"disp":true,"width":"6","collapse":true},{"id":"726078677f6f7f5a","type":"ui_group","name":"LT-MGB-Q04","tab":"c328c47e0d5dd26c","order":11,"disp":true,"width":"6","collapse":true},{"id":"d8dd2865e3cfb27b","type":"ui_group","name":"WDB1-Q01A","tab":"c328c47e0d5dd26c","order":12,"disp":true,"width":"6","collapse":true},{"id":"cc357196e0fbe9ae","type":"ui_group","name":"WDB1-Q01B","tab":"c328c47e0d5dd26c","order":13,"disp":true,"width":"6","collapse":true},{"id":"884f0261035512cc","type":"ui_tab","name":"IED Indication","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"b6a6a073f0a10001","type":"ui_tab","name":"DI","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"d78ac16f45f9f260","type":"ui_tab","name":"DI","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"484641cc793c0fc5","type":"ui_group","name":"Database S2 IED2 IN","tab":"161af77249a07ac9","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"491571f004643054","type":"sqlitedb","db":"/tmp/pi_s2_ied2","mode":"RWC"},{"id":"b885b91b2d971966","type":"ui_group","name":"Sensors","tab":"4725e4b3aa364c71","order":1,"disp":true,"width":"12","collapse":false},{"id":"161af77249a07ac9","type":"ui_tab","name":"Database S2 IED2 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4725e4b3aa364c71","type":"ui_tab","name":"Home","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"4aae90895fb12e42","type":"ui_group","name":"Database S2 IED2 OUT","tab":"30c3de86c67038f8","order":2,"disp":true,"width":"18","collapse":false,"className":""},{"id":"3ee438a0ef93bb4b","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"30c3de86c67038f8","type":"ui_tab","name":"Database S2 IED2 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"667444669de00bde","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6ae2f30eeedeb527","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64f6bd929604c33a","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e506a90a6358c5b0","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"99a2a71a4e6be519","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2a211b1474a11ba9","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3ed58c71384f8cbc","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"faa4ea14eec15827","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b5af23afbe0b5e75","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a31b9d070550cf9f","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6660504e6c9ae72b","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a423b6e6c9ebc72e","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bbaa686fb27e379d","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"adfd2b39da9eda8f","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9c8bb6060ca84910","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a46964a2af76ea9d","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7f299fcf2ce1c474","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"db5f43465a685251","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"31ea99e45d0173f5","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a7404f289262aac2","type":"ui_group","name":"Sensors","tab":"f46db3ea8759ccaa","order":1,"disp":true,"width":"12","collapse":false},{"id":"f46db3ea8759ccaa","type":"ui_tab","name":"Home","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"3ed7900ad9cae10d","type":"ui_group","name":"IED2 CB Manual Control","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7931e138b3ae3f59","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"add83d947acd30be","type":"ui_link","name":"Link 10","icon":"open_in_browser","target":"newtab","order":10},{"id":"c1da21d12e3bda80","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["feaf3642e8d05e8c"]]},{"id":"e9af3120a64697d7","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/vphase2","qos":"2","datatype":"auto","broker":"6ae2f30eeedeb527","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["48678c03cf8efb37"]]},{"id":"bbc3bc0deeea5708","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/vphase3","qos":"2","datatype":"auto","broker":"64f6bd929604c33a","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["b0c554befe804d67"]]},{"id":"6edc6fc33c19f469","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/iphase1","qos":"2","datatype":"auto","broker":"e506a90a6358c5b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["226c20d4c8e2aa8c"]]},{"id":"7c8da2f7beb5a855","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/iphase2","qos":"2","datatype":"auto","broker":"99a2a71a4e6be519","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["ef47549732ee0503"]]},{"id":"d2b34b489828cb2d","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/iphase3","qos":"2","datatype":"auto","broker":"2a211b1474a11ba9","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["793f9b1a4e1f749d"]]},{"id":"55b99dff83268cd9","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/freq","qos":"2","datatype":"auto","broker":"b5af23afbe0b5e75","nl":false,"rap":true,"rh":0,"inputs":0,"x":730,"y":540,"wires":[["65df6eb7d5dd4e16"]]},{"id":"26a57d545b8301aa","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/voltage_N","qos":"2","datatype":"auto","broker":"3ed58c71384f8cbc","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":600,"wires":[["63678c45c246037c"]]},{"id":"d0e9c53b1d1d2a34","type":"mqtt in","z":"9dd571c2d59c2085","name":"","topic":"Matlab_to_IED2/current_N","qos":"2","datatype":"auto","broker":"faa4ea14eec15827","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":660,"wires":[["24415e3230448388"]]},{"id":"feaf3642e8d05e8c","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"a155edcdcebf5291","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["fbbc4d0d3deaab85"]]},{"id":"fbbc4d0d3deaab85","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"c974fed905148f9e","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["a155edcdcebf5291"]]},{"id":"48678c03cf8efb37","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"1584368906de95f1","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["0ab2d2913a7e7719"]]},{"id":"0ab2d2913a7e7719","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"20d3001820a4ccdf","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["1584368906de95f1"]]},{"id":"b0c554befe804d67","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"3ab76522b6f79019","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["ddf99365139cb8c7"]]},{"id":"ddf99365139cb8c7","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"1be9c8b430e93474","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["3ab76522b6f79019"]]},{"id":"226c20d4c8e2aa8c","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"5f4ca5d03275f8df","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["f2edd2de61e33bf2"]]},{"id":"f2edd2de61e33bf2","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"8202e66fb296bc12","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["5f4ca5d03275f8df"]]},{"id":"ef47549732ee0503","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"9ef29a36b670286a","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["49b0ebe68a855fa6"]]},{"id":"49b0ebe68a855fa6","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"3245b5665567f047","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["9ef29a36b670286a"]]},{"id":"793f9b1a4e1f749d","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"a15aa8c7f48cc2d5","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["9f8eab9002e6c13f"]]},{"id":"9f8eab9002e6c13f","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"c2de02c558f82197","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["a15aa8c7f48cc2d5"]]},{"id":"65df6eb7d5dd4e16","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"e349f0a7625e2543","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["4623987374be9df8"]]},{"id":"4623987374be9df8","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"e346241e27a9e592","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["e349f0a7625e2543"]]},{"id":"63678c45c246037c","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"31a98ced1e242a45","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["0e881ac53db8d3e2"]]},{"id":"0e881ac53db8d3e2","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"555df5064fe2a75f","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["31a98ced1e242a45"]]},{"id":"24415e3230448388","type":"function","z":"9dd571c2d59c2085","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"ed26d22a19e7f041","type":"function","z":"9dd571c2d59c2085","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["fb74acb3f30e713b"]]},{"id":"fb74acb3f30e713b","type":"debug","z":"9dd571c2d59c2085","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"3dcb2ba11f7dfd6b","type":"inject","z":"9dd571c2d59c2085","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["ed26d22a19e7f041"]]},{"id":"96fe506ebf69282a","type":"comment","z":"9dd571c2d59c2085","name":"Receive Values from Matlab","info":"","x":760,"y":120,"wires":[]},{"id":"6b51a209c93c36ca","type":"aedes broker","z":"9dd571c2d59c2085","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":null,"mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":330,"y":100,"wires":[[],[]]},{"id":"c5b2977a39bc5cf1","type":"mqtt out","z":"a22a22dd00bd44ab","name":"MQTT CB2 Channel","topic":"IED2_to_CB/CB2_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a31b9d070550cf9f","x":660,"y":360,"wires":[]},{"id":"93810ad109d99a05","type":"debug","z":"a22a22dd00bd44ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"40a3c91920114d69","type":"function","z":"a22a22dd00bd44ab","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch2\");\nvar scadaswitch_status= global.get(\"scadaswitch2\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 40 || obtainI2 > 40 || obtainI3 > 40)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n     else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["c5b2977a39bc5cf1","93810ad109d99a05"]]},{"id":"c4151a4220beb142","type":"function","z":"a22a22dd00bd44ab","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 4, \n    'address': 15 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["c99621f054826592","8e4bddbc2deb0725"]]},{"id":"2b36bfbfed4e4989","type":"debug","z":"a22a22dd00bd44ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"c99621f054826592","type":"modbus-flex-write","z":"a22a22dd00bd44ab","name":"","showStatusActivities":false,"showErrors":false,"server":"667444669de00bde","emptyMsgOnFail":false,"keepMsgProperties":false,"x":890,"y":280,"wires":[["2b36bfbfed4e4989"],[]]},{"id":"fdcd489dcd689962","type":"function","z":"a22a22dd00bd44ab","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["c4151a4220beb142"]]},{"id":"8e4bddbc2deb0725","type":"debug","z":"a22a22dd00bd44ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"4459fc546c59c92f","type":"comment","z":"a22a22dd00bd44ab","name":"CB Function","info":"","x":130,"y":180,"wires":[]},{"id":"bffe8a9b616bf0fd","type":"ui_switch","z":"a22a22dd00bd44ab","name":"switch_status","label":"IED2 Circuit breaker 2 switch","tooltip":"","group":"3ed7900ad9cae10d","order":19,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":180,"y":440,"wires":[["dcac043200581471","40a3c91920114d69"]]},{"id":"dcac043200581471","type":"function","z":"a22a22dd00bd44ab","name":"","func":"global.set('switch2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[[]]},{"id":"730dc62e21787a64","type":"function","z":"a22a22dd00bd44ab","name":"","func":"var switch_status = global.get(\"switch2\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":440,"wires":[["e2f892a49fa5c8c1"]]},{"id":"e2f892a49fa5c8c1","type":"debug","z":"a22a22dd00bd44ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":440,"wires":[]},{"id":"22df5c6d4c93b255","type":"inject","z":"a22a22dd00bd44ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":550,"y":440,"wires":[["730dc62e21787a64"]]},{"id":"1e5dfb1f7ba88eae","type":"modbus-read","z":"a22a22dd00bd44ab","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"552","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"667444669de00bde","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":560,"wires":[["4896385883a34642"],[]]},{"id":"4896385883a34642","type":"function","z":"a22a22dd00bd44ab","name":"","func":"global.set('scadaswitch2', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[[]]},{"id":"4d2d582f13429148","type":"function","z":"a22a22dd00bd44ab","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch2\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":560,"wires":[["bd84e22d3d4f5d41"]]},{"id":"bd84e22d3d4f5d41","type":"debug","z":"a22a22dd00bd44ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"4cbdad8d59db3c0f","type":"inject","z":"a22a22dd00bd44ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":560,"wires":[["4d2d582f13429148"]]},{"id":"ce4e5947d45d7ee6","type":"comment","z":"a22a22dd00bd44ab","name":"SCADA Dashboard 's switch","info":"","x":200,"y":520,"wires":[]},{"id":"85c84f32b5e2a348","type":"inject","z":"a22a22dd00bd44ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["fdcd489dcd689962","40a3c91920114d69"]]},{"id":"1f2cd7fe2690dc0e","type":"comment","z":"a22a22dd00bd44ab","name":"IED's dashboard switch","info":"","x":140,"y":400,"wires":[]},{"id":"22f2c2a4ef4f791a","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["79dfbc3b821a6df2"]]},{"id":"49a856dd2ada6f42","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["d90f7726420d89b3"]]},{"id":"fd8bed649c7bf6fa","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["c4c76c708268c027"]]},{"id":"4f642ba25dd7f74a","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["44864929b7f6f139"]]},{"id":"7665dc8f7ba04790","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["ad98bb594e5a0c4f"]]},{"id":"dab4a175734860b0","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["024c9768f8f595cb"]]},{"id":"8d7e398bbc1db137","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["56874fa26e769c3e"]]},{"id":"ba5ed174ae6114c1","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["37a8b1d1fb057c5f"]]},{"id":"0f4c78168f407452","type":"function","z":"bd1f0ed8dc03872c","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["59874d2cad611749"]]},{"id":"79dfbc3b821a6df2","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","className":"","x":1100,"y":320,"wires":[]},{"id":"d90f7726420d89b3","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"c4c76c708268c027","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"44864929b7f6f139","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"ad98bb594e5a0c4f","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"024c9768f8f595cb","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"56874fa26e769c3e","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"37a8b1d1fb057c5f","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"59874d2cad611749","type":"ui_text","z":"bd1f0ed8dc03872c","group":"f4238688aacb1a83","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"3dc4c7b58465a4fc","type":"function","z":"bd1f0ed8dc03872c","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar switch_status = global.get(\"switch2\");\nvar scadaswitch_status = global.get(\"scadaswitch2\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n     else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('CB2Event', event)\n\n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \nglobal.set('event', event)\n\n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":920,"wires":[["32d12744fcbe4cf6"]]},{"id":"dbf11893ac2f8263","type":"inject","z":"bd1f0ed8dc03872c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":920,"wires":[["3dc4c7b58465a4fc"]]},{"id":"940d8942c1a59c54","type":"inject","z":"bd1f0ed8dc03872c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":880,"wires":[["be594670a5b4ca3d"]]},{"id":"be594670a5b4ca3d","type":"change","z":"bd1f0ed8dc03872c","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":880,"wires":[[]]},{"id":"32d12744fcbe4cf6","type":"ui_table","z":"bd1f0ed8dc03872c","group":"1ab326779b5697b0","name":"","order":1,"width":14,"height":"6","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":930,"y":920,"wires":[]},{"id":"8be890b298cd991f","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":320,"wires":[["22f2c2a4ef4f791a"]]},{"id":"2e011a5827932964","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/vphase2","qos":"2","datatype":"auto","broker":"6ae2f30eeedeb527","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":380,"wires":[["49a856dd2ada6f42"]]},{"id":"308f59fa924f87e3","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/vphase3","qos":"2","datatype":"auto","broker":"64f6bd929604c33a","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":440,"wires":[["fd8bed649c7bf6fa"]]},{"id":"a27d74dc63c676b9","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/iphase1","qos":"2","datatype":"auto","broker":"e506a90a6358c5b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":500,"wires":[["4f642ba25dd7f74a"]]},{"id":"b404c42834f96a42","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/iphase2","qos":"2","datatype":"auto","broker":"99a2a71a4e6be519","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":560,"wires":[["7665dc8f7ba04790"]]},{"id":"171bf649e36fd4de","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/iphase3","qos":"2","datatype":"auto","broker":"2a211b1474a11ba9","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":620,"wires":[["dab4a175734860b0"]]},{"id":"5d6dabf02f2c7834","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/freq","qos":"2","datatype":"auto","broker":"b5af23afbe0b5e75","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":680,"wires":[["8d7e398bbc1db137"]]},{"id":"a2d2032b2e6e0a40","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/voltage_N","qos":"2","datatype":"auto","broker":"3ed58c71384f8cbc","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":740,"wires":[["ba5ed174ae6114c1"]]},{"id":"c49eb1744f94480d","type":"mqtt in","z":"bd1f0ed8dc03872c","name":"","topic":"Matlab_to_IED2/current_N","qos":"2","datatype":"auto","broker":"faa4ea14eec15827","nl":false,"rap":true,"rh":0,"inputs":0,"x":650,"y":800,"wires":[["0f4c78168f407452"]]},{"id":"0101b90a444b1aa0","type":"comment","z":"bd1f0ed8dc03872c","name":"IED2 Dashboard","info":"","x":480,"y":260,"wires":[]},{"id":"2ca8a9049bf2655e","type":"inject","z":"f55e62feb9c08730","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied2(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, total_power INT NOT NULL)","payload":"","payloadType":"date","x":200,"y":220,"wires":[["76e55413eb363972"]]},{"id":"0911ae88392be82b","type":"debug","z":"f55e62feb9c08730","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]},{"id":"6539041020562755","type":"inject","z":"f55e62feb9c08730","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied2 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":170,"y":285,"wires":[["76e55413eb363972"]]},{"id":"db69806cfe4ccb4b","type":"inject","z":"f55e62feb9c08730","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied2 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":190,"y":160,"wires":[["752c126f01fb0561"]]},{"id":"440952f071a91a3c","type":"ui_template","z":"f55e62feb9c08730","group":"484641cc793c0fc5","name":"Database S2 IED2 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGE_N</th>\n    <th>CURRENT_N</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":660,"y":160,"wires":[[]]},{"id":"76e55413eb363972","type":"sqlite","z":"f55e62feb9c08730","mydb":"491571f004643054","sqlquery":"msg.topic","sql":"","name":"Database S2 IED2 IN","x":420,"y":280,"wires":[["0911ae88392be82b"]]},{"id":"e2c75ece81b8f7d1","type":"inject","z":"f55e62feb9c08730","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":405,"wires":[["814098818320aa14"]]},{"id":"814098818320aa14","type":"function","z":"f55e62feb9c08730","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 21);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power + \")\";\nvar topic=\"INSERT INTO Input_data_ied2 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":405,"wires":[["be622cfa200a5cd5","ab1c8de3c19a46c8"]]},{"id":"be622cfa200a5cd5","type":"debug","z":"f55e62feb9c08730","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":465,"wires":[]},{"id":"752c126f01fb0561","type":"sqlite","z":"f55e62feb9c08730","mydb":"491571f004643054","sqlquery":"msg.topic","sql":"","name":"Database S2 IED2 IN","x":420,"y":160,"wires":[["440952f071a91a3c"]]},{"id":"b28c2464d687aabb","type":"catch","z":"f55e62feb9c08730","name":"","scope":null,"uncaught":false,"x":140,"y":605,"wires":[["cc2e5a3a59422123","ed9724e8bc43fa31"]]},{"id":"cc2e5a3a59422123","type":"debug","z":"f55e62feb9c08730","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":645,"wires":[]},{"id":"091232739a6de4f9","type":"ui_text","z":"f55e62feb9c08730","group":"b885b91b2d971966","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":545,"wires":[]},{"id":"ed9724e8bc43fa31","type":"function","z":"f55e62feb9c08730","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":545,"wires":[["091232739a6de4f9"]]},{"id":"07763766b9ed9e25","type":"inject","z":"f55e62feb9c08730","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied2","payload":"","payloadType":"date","x":160,"y":345,"wires":[["76e55413eb363972"]]},{"id":"6a863625f9f8811a","type":"function","z":"f55e62feb9c08730","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":705,"wires":[[]]},{"id":"0bb04b83df4a8fa8","type":"inject","z":"f55e62feb9c08730","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":705,"wires":[["6a863625f9f8811a"]]},{"id":"ab1c8de3c19a46c8","type":"delay","z":"f55e62feb9c08730","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":500,"y":405,"wires":[["76e55413eb363972"]]},{"id":"ee80409f753b4b6c","type":"inject","z":"bc519b184e5d163f","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied2(TIMESTAMP TEXT NOT NULL,CB2Status TEXT NOT NULL)","payload":"","payloadType":"date","x":360,"y":160,"wires":[["04c1591fbc274ad9"]]},{"id":"31361b1f4849b060","type":"debug","z":"bc519b184e5d163f","name":"database_out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":220,"wires":[]},{"id":"08193ed91ff76c45","type":"inject","z":"bc519b184e5d163f","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied2 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":330,"y":220,"wires":[["04c1591fbc274ad9"]]},{"id":"eca3c8a010bbaeb5","type":"inject","z":"bc519b184e5d163f","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied2 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":350,"y":100,"wires":[["c57c3451953a09af"]]},{"id":"b8af91ce2c86b717","type":"ui_template","z":"bc519b184e5d163f","group":"4aae90895fb12e42","name":"Database S2 IED2 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>CB2Status</th>\n    \n\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CB2Status}}</td>\n \n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":970,"y":100,"wires":[[]]},{"id":"04c1591fbc274ad9","type":"sqlite","z":"bc519b184e5d163f","mydb":"491571f004643054","sqlquery":"msg.topic","sql":"","name":"Database S2 IED2 OUT","x":730,"y":220,"wires":[["31361b1f4849b060"]]},{"id":"4a213d87d303fd48","type":"inject","z":"bc519b184e5d163f","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":340,"wires":[["67b4bcbd499539e0"]]},{"id":"67b4bcbd499539e0","type":"function","z":"bc519b184e5d163f","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar CB2Status=global.get(\"CB2Status\");\n//var CB2Event=global.get(\"CB2Event\");\n\n//put data into json string\n\nmsg=\"(timestamp,CB2Status) values(\\'\"+timestamp +\"\\',\\'\" + CB2Status + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied2 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[["7c8d8d9243a089a7","96c225939ca5a36e"]]},{"id":"7c8d8d9243a089a7","type":"debug","z":"bc519b184e5d163f","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"c57c3451953a09af","type":"sqlite","z":"bc519b184e5d163f","mydb":"491571f004643054","sqlquery":"msg.topic","sql":"","name":"Database S2 IED2 OUT","x":730,"y":100,"wires":[["b8af91ce2c86b717"]]},{"id":"4a15e5d55ceeb6c5","type":"inject","z":"bc519b184e5d163f","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied2","payload":"","payloadType":"date","x":320,"y":280,"wires":[["04c1591fbc274ad9"]]},{"id":"96c225939ca5a36e","type":"delay","z":"bc519b184e5d163f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":680,"y":340,"wires":[["04c1591fbc274ad9"]]},{"id":"8e901673bde50446","type":"mqtt in","z":"bc519b184e5d163f","name":"","topic":"IED2_to_CB/CB2_status","qos":"2","datatype":"auto","broker":"a31b9d070550cf9f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1130,"y":140,"wires":[["fd19200a773dab72","2c924e2cbb99e08a"]]},{"id":"fd19200a773dab72","type":"function","z":"bc519b184e5d163f","name":"","func":"global.set('CB2Status', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":140,"wires":[[]]},{"id":"2c924e2cbb99e08a","type":"debug","z":"bc519b184e5d163f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":80,"wires":[]},{"id":"813f5adc40ea40f3","type":"comment","z":"bc519b184e5d163f","name":"Database","info":"","x":300,"y":40,"wires":[]},{"id":"ec6daca699bf136b","type":"comment","z":"bc519b184e5d163f","name":"Setting CB Status Global Variable","info":"","x":1150,"y":40,"wires":[]},{"id":"072f574c566f093c","type":"catch","z":"bc519b184e5d163f","name":"","scope":null,"uncaught":false,"x":300,"y":500,"wires":[["40909ff0a05472d7","a1c7284bdcad813e"]]},{"id":"40909ff0a05472d7","type":"debug","z":"bc519b184e5d163f","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":550,"wires":[]},{"id":"e4b5b5eb98436473","type":"ui_text","z":"bc519b184e5d163f","group":"a7404f289262aac2","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":845,"y":470,"wires":[]},{"id":"a1c7284bdcad813e","type":"function","z":"bc519b184e5d163f","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":470,"wires":[["e4b5b5eb98436473"]]},{"id":"1520bf671faf4a06","type":"function","z":"bc519b184e5d163f","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":660,"wires":[[]]},{"id":"dcd0e090f3704753","type":"inject","z":"bc519b184e5d163f","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":320,"y":660,"wires":[["1520bf671faf4a06"]]},{"id":"3e5b853fc0af14bd","type":"modbus-flex-write","z":"d12dbeefdfdd5b73","name":"","showStatusActivities":false,"showErrors":false,"server":"6660504e6c9ae72b","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1390,"y":540,"wires":[["573b224e9eed6302"],[]]},{"id":"573b224e9eed6302","type":"debug","z":"d12dbeefdfdd5b73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":460,"wires":[]},{"id":"12bde12e70ee725d","type":"comment","z":"d12dbeefdfdd5b73","name":"Sending all Values to SCADA for Monitoring","info":"","x":590,"y":200,"wires":[]},{"id":"bb974e2b03958f4d","type":"function","z":"d12dbeefdfdd5b73","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 75 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":540,"wires":[["3e5b853fc0af14bd"]]},{"id":"ff8781434502e548","type":"function","z":"d12dbeefdfdd5b73","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('current1');\nvar e = global.get('current2');\nvar f = global.get('current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":540,"wires":[["bb974e2b03958f4d"]]},{"id":"7202c3446847ab19","type":"inject","z":"d12dbeefdfdd5b73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":540,"wires":[["ff8781434502e548"]]}]