04 Json Files/IED Files/ied3.json
[{"id":"1491fb7cdb9bb351","type":"tab","label":"Matlab to Feeder 1","disabled":false,"info":"","env":[]},{"id":"892d0868adb6f086","type":"tab","label":"Feeder 1 IED3 CB Decision","disabled":false,"info":"","env":[]},{"id":"16595ea87c2f8ddb","type":"tab","label":"Feeder 1 IED Dashboard","disabled":false,"info":"","env":[]},{"id":"9e845e84a5f064a8","type":"tab","label":"PI_F1_IED3 IN DB","disabled":false,"info":"","env":[]},{"id":"c4a2fa3170939e8e","type":"tab","label":"PI_F1_IED3 OUT DB","disabled":false,"info":"","env":[]},{"id":"998cecbe46d12955","type":"tab","label":"Feeder 1 IED to Scada","disabled":false,"info":"","env":[]},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"670713f04c5d4ec3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"92b00c05357c112a","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1ab326779b5697b0","type":"ui_group","name":"Event Recording","tab":"c328c47e0d5dd26c","order":1,"disp":true,"width":14,"collapse":true},{"id":"c328c47e0d5dd26c","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4d3903135b8b8d29","type":"ui_group","name":"IED 3","tab":"c328c47e0d5dd26c","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"8cba191613424618","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"473eabc8b81fc86f","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"c0a67d36d56f5132","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a4bfe8bc52610b63","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"68e48bc4ae40a5de","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"abd130618a221bcd","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c780804574035f33","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b4754a6bebbd4c30","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d054cf16c5ee8e8c","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0494f64512168453","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a8cf692cc3033ec1","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cec9edde85cb7467","type":"ui_group","name":"IED IN","tab":"14f15147c125648c","order":1,"disp":true,"width":"18","collapse":false},{"id":"19e339dfbc146af8","type":"ui_group","name":"Error","tab":"f79403615892c417","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"f50f9902b25a0d9b","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d1abdbc20faf2bd8","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5ae3ec375343236f","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"193e5b21a4bc1a55","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"37e664d3c85cc103","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a50a613066729dbe","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1b5bc74f9c8e513f","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2615cce9a1612a0a","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"49d954a7fe8dfba6","type":"ui_group","name":"IED OUT","tab":"56500514d1ec1ddf","order":2,"disp":true,"width":"18","collapse":false},{"id":"e67ed0ecbb8bf056","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14f15147c125648c","type":"ui_tab","name":"Database IED1 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f79403615892c417","type":"ui_tab","name":"Error","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"56500514d1ec1ddf","type":"ui_tab","name":"Database IED1 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3c9e222b2357ee55","type":"sqlitedb","db":"/tmp/sqlite1","mode":"RWC"},{"id":"76cb6e14d0ed5b3b","type":"sqlitedb","db":"/tmp/pi_f1_ied3","mode":"RWC"},{"id":"d22ba5b6635692d2","type":"ui_group","name":"Database F1 IED3 IN","tab":"b49437af2743c9f3","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"5dc7cce2123a649e","type":"sqlitedb","db":"/tmp/sqlite3","mode":"RWC"},{"id":"b739d001f1e3a8e1","type":"ui_group","name":"Sensors","tab":"9dc4a09f0ab5e36d","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"07b1a11d3a2bf455","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4fbc1ad0b3fc6870","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c712ad4dafc822b6","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf54854358d9b989","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"03e29846d6c4c0b3","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"00f98623a63b9bfb","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"92b4d2eb89988be2","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4069b096698e686c","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"37b25ab75a5c7dce","type":"ui_group","name":"Read Result","tab":"b283daf1f62365bb","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"85913b090b1936ba","type":"sqlitedb","db":"/tmp/sqlite4","mode":"RWC"},{"id":"9a071c4367ee9998","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b49437af2743c9f3","type":"ui_tab","name":"Database F1 IED3 IN","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9dc4a09f0ab5e36d","type":"ui_tab","name":"Home","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"b283daf1f62365bb","type":"ui_tab","name":"Database F1 IED3 OUT","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"9815e66d8ba4acec","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"135a4624347dfcad","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d1f67537c0550d12","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf9af2de7e1f97f7","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2124c9619f62e585","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f1bf1d9b4e907ee","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"63d588a0df02b262","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d5d24fcee73da79f","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2a298875ce80844a","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e009db492c7e3321","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0b5440a8401a8027","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3c7c67071ee80edd","type":"ui_group","name":"IED3 CB Manual Control","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e6faa63744701039","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b75c2e5d44c8c685","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6f3d438ec2dfc7bb","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3abdb6fbc2437e51","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1a3a17b7fb52573","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28dd6d951f6889f1","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9109174f89c9db7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d2a851e3b6ce54","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39ca2212f01664f2","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d1a7c8437fe11c84","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":160,"wires":[[]]},{"id":"ab3ef151b9be6890","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":160,"wires":[["28f8df11cdae4442"]]},{"id":"28f8df11cdae4442","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":160,"wires":[]},{"id":"ca612afdae2ed13d","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":160,"wires":[["ab3ef151b9be6890"]]},{"id":"545cf6211404c838","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":220,"wires":[[]]},{"id":"964683d50dcaa404","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":220,"wires":[["0a148390994c986d"]]},{"id":"0a148390994c986d","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":220,"wires":[]},{"id":"056fbd189637e5e5","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":220,"wires":[["964683d50dcaa404"]]},{"id":"967881b5060798e9","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":280,"wires":[[]]},{"id":"d5ef4ceba6ce2c7f","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":280,"wires":[["0c11f63c37e07e04"]]},{"id":"0c11f63c37e07e04","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":280,"wires":[]},{"id":"619fd98799c44e89","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":280,"wires":[["d5ef4ceba6ce2c7f"]]},{"id":"a581e0c0a6b3c634","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":340,"wires":[[]]},{"id":"fa4a262921450d26","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":340,"wires":[["4cd8d41e880b885a"]]},{"id":"4cd8d41e880b885a","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":340,"wires":[]},{"id":"253680f7e875e436","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":340,"wires":[["fa4a262921450d26"]]},{"id":"8d988a3137373d83","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":400,"wires":[[]]},{"id":"8a22b8168c5ba9ce","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":400,"wires":[["703e7ccb9215ec70"]]},{"id":"703e7ccb9215ec70","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":400,"wires":[]},{"id":"0e56ad0fd54269ba","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":400,"wires":[["8a22b8168c5ba9ce"]]},{"id":"be7d43f4bbc59c35","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":460,"wires":[[]]},{"id":"eaf3a5f53df86399","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":460,"wires":[["3c53a719d183808f"]]},{"id":"3c53a719d183808f","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":460,"wires":[]},{"id":"62783282950e7c5e","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":460,"wires":[["eaf3a5f53df86399"]]},{"id":"cc838b61fb44cd5f","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":520,"wires":[[]]},{"id":"5c07b6efc8c8081a","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":520,"wires":[["bb4dc2a3e9e38f3c"]]},{"id":"bb4dc2a3e9e38f3c","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":520,"wires":[]},{"id":"2d7522bc396cd6ce","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":520,"wires":[["5c07b6efc8c8081a"]]},{"id":"c4abed3b5533449e","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":580,"wires":[[]]},{"id":"0acef31e9ba58a4f","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":580,"wires":[["79a8f85f32e72bfa"]]},{"id":"79a8f85f32e72bfa","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":580,"wires":[]},{"id":"e4ee21aea579af12","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":580,"wires":[["0acef31e9ba58a4f"]]},{"id":"45d772d02303b7f7","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":640,"wires":[[]]},{"id":"beff5f5139667c4b","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":640,"wires":[["b9b37f94e37ba86e"]]},{"id":"b9b37f94e37ba86e","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":640,"wires":[]},{"id":"b0a9ed660ca8521d","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":640,"wires":[["beff5f5139667c4b"]]},{"id":"996254e173f7ea64","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/load","qos":"2","datatype":"auto","broker":"a8cf692cc3033ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":700,"wires":[["99c3ff979147499a"]]},{"id":"99c3ff979147499a","type":"function","z":"1491fb7cdb9bb351","name":"","func":"global.set('f1_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":700,"wires":[[]]},{"id":"dbc3f86fbf4ddfd6","type":"function","z":"1491fb7cdb9bb351","name":"","func":"var obtain_load = global.get(\"f1_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":700,"wires":[["54f8d3704c52fdda"]]},{"id":"54f8d3704c52fdda","type":"debug","z":"1491fb7cdb9bb351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":700,"wires":[]},{"id":"a5ce5b06d1a2797b","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":700,"wires":[["dbc3f86fbf4ddfd6"]]},{"id":"90eec9685927b1be","type":"inject","z":"1491fb7cdb9bb351","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":760,"wires":[["5c623780da68d709"]]},{"id":"5c623780da68d709","type":"function","z":"1491fb7cdb9bb351","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f1_load\");\n\nvar f1_current1 = obtainI*(obtainL/45);\nvar f1_current2 = obtainI2*(obtainL/45);\nvar f1_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f1_current1', String(f1_current1))\nglobal.set('f1_current2', String(f1_current2))\nglobal.set('f1_current3', String(f1_current3))\n\nmsg.payload = f1_current2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":760,"wires":[["5f458dcd114e340d"]]},{"id":"5f458dcd114e340d","type":"debug","z":"1491fb7cdb9bb351","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":760,"wires":[]},{"id":"d2bc30f056c259be","type":"comment","z":"1491fb7cdb9bb351","name":"Matlab_to_Feeder1/IED3/Load","info":"","x":770,"y":120,"wires":[]},{"id":"54944b0ee514203a","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":160,"wires":[["d1a7c8437fe11c84"]]},{"id":"01f47eb02e3d154a","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":220,"wires":[["545cf6211404c838"]]},{"id":"30821bbb638ca139","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":280,"wires":[["967881b5060798e9"]]},{"id":"06b22b27daf6c883","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":340,"wires":[["a581e0c0a6b3c634"]]},{"id":"c13951f1260875dc","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":400,"wires":[["8d988a3137373d83"]]},{"id":"6fdc6cc4261fa07c","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":460,"wires":[["be7d43f4bbc59c35"]]},{"id":"491cc7a0a93f0eaa","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":730,"y":520,"wires":[["cc838b61fb44cd5f"]]},{"id":"28f89b3e87454d15","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":580,"wires":[["c4abed3b5533449e"]]},{"id":"a026f7a11bb818c0","type":"mqtt in","z":"1491fb7cdb9bb351","name":"","topic":"Matlab_to_IED3/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":640,"wires":[["45d772d02303b7f7"]]},{"id":"2666897868c6a9b0","type":"mqtt out","z":"892d0868adb6f086","name":"MQTT Feeder 1 CB Channel","topic":"IED3_to_CB/CB3_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"928012c9667198db","x":680,"y":360,"wires":[]},{"id":"2ce39de84374921e","type":"debug","z":"892d0868adb6f086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"d9c337979cd14af1","type":"function","z":"892d0868adb6f086","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f1_current1\");\nvar obtainI2 = global.get(\"f1_current2\");\nvar obtainI3 = global.get(\"f1_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch3\");\nvar scadaswitch_status= global.get(\"scadaswitch3\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';       \n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n     \nglobal.set('cb_status', cb_decision)\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + b\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["2666897868c6a9b0","2ce39de84374921e"]]},{"id":"dea6bed36272a328","type":"function","z":"892d0868adb6f086","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 20 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["2288f541e341bdd7","2d2c7c3117d06978"]]},{"id":"0116eaba9a746d4d","type":"debug","z":"892d0868adb6f086","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"2288f541e341bdd7","type":"modbus-flex-write","z":"892d0868adb6f086","name":"","showStatusActivities":false,"showErrors":false,"server":"473eabc8b81fc86f","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["0116eaba9a746d4d"],[]]},{"id":"dabc57cb3ed5b966","type":"function","z":"892d0868adb6f086","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f1_current1\");\nvar obtainI2 = global.get(\"f1_current2\");\nvar obtainI3 = global.get(\"f1_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["dea6bed36272a328"]]},{"id":"2d2c7c3117d06978","type":"debug","z":"892d0868adb6f086","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"3431bf9c7ff5c73c","type":"comment","z":"892d0868adb6f086","name":"IED's CB decision","info":"","x":250,"y":220,"wires":[]},{"id":"f1e3123c12b0afeb","type":"comment","z":"892d0868adb6f086","name":"SCADA Dashboard 's switch","info":"","x":280,"y":540,"wires":[]},{"id":"e963b64319aa8b19","type":"comment","z":"892d0868adb6f086","name":"IED's dashboard switch","info":"","x":260,"y":400,"wires":[]},{"id":"db7f3310686e6409","type":"inject","z":"892d0868adb6f086","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":280,"wires":[["dabc57cb3ed5b966","d9c337979cd14af1"]]},{"id":"41f92bb5998bedae","type":"ui_switch","z":"892d0868adb6f086","name":"switch_status","label":"IED3 Circuit breaker 3 switch","tooltip":"","group":"3c7c67071ee80edd","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":240,"y":460,"wires":[["c4971cb272c6d1bd"]]},{"id":"c4971cb272c6d1bd","type":"function","z":"892d0868adb6f086","name":"","func":"global.set('switch3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[[]]},{"id":"a149925e74479abe","type":"function","z":"892d0868adb6f086","name":"","func":"var switch_status = global.get(\"switch3\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":460,"wires":[["96cfb90823a784c9"]]},{"id":"96cfb90823a784c9","type":"debug","z":"892d0868adb6f086","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"48a5c9d28e4b034e","type":"inject","z":"892d0868adb6f086","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":610,"y":460,"wires":[["a149925e74479abe"]]},{"id":"15a3ec494e1c5206","type":"modbus-read","z":"892d0868adb6f086","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"553","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"e6faa63744701039","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":600,"wires":[["3343db46b53ec6f5"],[]]},{"id":"3343db46b53ec6f5","type":"function","z":"892d0868adb6f086","name":"","func":"global.set('scadaswitch3', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":600,"wires":[[]]},{"id":"4899b243f39a61c2","type":"function","z":"892d0868adb6f086","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch3\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":600,"wires":[["c83da4e1a62d643d"]]},{"id":"c83da4e1a62d643d","type":"debug","z":"892d0868adb6f086","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":600,"wires":[]},{"id":"491e615a8ee77cf4","type":"inject","z":"892d0868adb6f086","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":650,"y":600,"wires":[["4899b243f39a61c2"]]},{"id":"428c408c827c1656","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["e35427ec9e02fcaa"]]},{"id":"fd03ca28ee191203","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["5d735e210af5d4b9"]]},{"id":"9951ae7b8640e62a","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["d31f275aafdb5879"]]},{"id":"c62a0e3ed2dfb1fe","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = global.get('f1_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["ca234036cf96c036"]]},{"id":"4f3102e5221812e8","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = global.get('f1_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["b144700891f5bc12"]]},{"id":"0403b62467c55135","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = global.get('f1_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["0ef1aa94feaa74e1"]]},{"id":"5a968c1f2f2f15ac","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["bcb7440485dabf37"]]},{"id":"7b3b7e7a9f347a0d","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["60f226bc1f39091a"]]},{"id":"ec7e9be678042b0f","type":"function","z":"16595ea87c2f8ddb","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["d4a644bcd97aa29c"]]},{"id":"e35427ec9e02fcaa","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"5d735e210af5d4b9","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"d31f275aafdb5879","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"ca234036cf96c036","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"b144700891f5bc12","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"0ef1aa94feaa74e1","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"bcb7440485dabf37","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"60f226bc1f39091a","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"d4a644bcd97aa29c","type":"ui_text","z":"16595ea87c2f8ddb","group":"4d3903135b8b8d29","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"5206229672522e79","type":"function","z":"16595ea87c2f8ddb","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f1_current1');\nvar obtainI2 = global.get('f1_current2');\nvar obtainI3 = global.get('f1_current3');\nvar switch_status= global.get(\"switch3\");\nvar scadaswitch_status= global.get(\"scadaswitch3\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n     else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n    event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F1CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n \ntableData = flow.get(\"savedData\") || [] ;\nglobal.set('event', event)\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":900,"wires":[["82afd37645d2a1f9"]]},{"id":"84b2abdf2669b6d0","type":"inject","z":"16595ea87c2f8ddb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":900,"wires":[["5206229672522e79"]]},{"id":"713c65aae175ef12","type":"inject","z":"16595ea87c2f8ddb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":860,"wires":[["d2afe2e557610801"]]},{"id":"d2afe2e557610801","type":"change","z":"16595ea87c2f8ddb","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":860,"wires":[[]]},{"id":"82afd37645d2a1f9","type":"ui_table","z":"16595ea87c2f8ddb","group":"1ab326779b5697b0","name":"","order":1,"width":14,"height":"6","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"Phase Fault Voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"Phase Fault Current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":943,"y":899,"wires":[]},{"id":"d1bf3d03c8fc8d20","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":320,"wires":[["428c408c827c1656"]]},{"id":"4404ad927288d813","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":380,"wires":[["fd03ca28ee191203"]]},{"id":"92c552757f762620","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":440,"wires":[["9951ae7b8640e62a"]]},{"id":"0745d1ed4d11e307","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":560,"wires":[["4f3102e5221812e8"]]},{"id":"ec7b54425f8264d9","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":620,"wires":[["0403b62467c55135"]]},{"id":"be2767a72db3d425","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":530,"y":680,"wires":[["5a968c1f2f2f15ac"]]},{"id":"02d8f1efee254301","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":740,"wires":[["7b3b7e7a9f347a0d"]]},{"id":"4ef26718ac0184fe","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":800,"wires":[["ec7e9be678042b0f"]]},{"id":"30db4d07c8b45297","type":"mqtt in","z":"16595ea87c2f8ddb","name":"","topic":"Matlab_to_IED3/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":500,"wires":[["c62a0e3ed2dfb1fe"]]},{"id":"ca07cf2a3cd77ba5","type":"inject","z":"9e845e84a5f064a8","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied3(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["12ef9dd15a8f3c14"]]},{"id":"e66ba0ce2aa61eed","type":"debug","z":"9e845e84a5f064a8","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"142c79fd310e0920","type":"inject","z":"9e845e84a5f064a8","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied3 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["12ef9dd15a8f3c14"]]},{"id":"86d0306ce739fff3","type":"inject","z":"9e845e84a5f064a8","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied3 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["f9ed8762d90d82b7"]]},{"id":"cf1dcb548b343404","type":"ui_template","z":"9e845e84a5f064a8","group":"d22ba5b6635692d2","name":"Database F1 IED3 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":80,"wires":[[]]},{"id":"12ef9dd15a8f3c14","type":"sqlite","z":"9e845e84a5f064a8","mydb":"76cb6e14d0ed5b3b","sqlquery":"msg.topic","sql":"","name":"Database F1 IED3 IN","x":660,"y":200,"wires":[["e66ba0ce2aa61eed"]]},{"id":"c71a39f72ea2aa67","type":"inject","z":"9e845e84a5f064a8","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":320,"wires":[["cead50bc56c1fae9"]]},{"id":"cead50bc56c1fae9","type":"function","z":"9e845e84a5f064a8","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied3 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["7ef0ed538a55573b","5b24625aec1bfd26"]]},{"id":"7ef0ed538a55573b","type":"debug","z":"9e845e84a5f064a8","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"f9ed8762d90d82b7","type":"sqlite","z":"9e845e84a5f064a8","mydb":"76cb6e14d0ed5b3b","sqlquery":"msg.topic","sql":"","name":"Database F1 IED3 IN","x":660,"y":80,"wires":[["cf1dcb548b343404"]]},{"id":"01a23799a71900aa","type":"catch","z":"9e845e84a5f064a8","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["d689308d8c85d85e","75b76f0bb016c4c6"]]},{"id":"d689308d8c85d85e","type":"debug","z":"9e845e84a5f064a8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"e1b985cbfaa7c19f","type":"ui_text","z":"9e845e84a5f064a8","group":"19e339dfbc146af8","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":810,"y":420,"wires":[]},{"id":"75b76f0bb016c4c6","type":"function","z":"9e845e84a5f064a8","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["e1b985cbfaa7c19f"]]},{"id":"95cc03428c60d4ef","type":"inject","z":"9e845e84a5f064a8","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied3","payload":"","payloadType":"date","x":340,"y":260,"wires":[["12ef9dd15a8f3c14"]]},{"id":"2b5f716906c1b876","type":"function","z":"9e845e84a5f064a8","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"179518d3e50ce011","type":"inject","z":"9e845e84a5f064a8","name":"clear errors","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["2b5f716906c1b876"]]},{"id":"5b24625aec1bfd26","type":"delay","z":"9e845e84a5f064a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["12ef9dd15a8f3c14"]]},{"id":"a18d717fc93cc1be","type":"inject","z":"c4a2fa3170939e8e","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied3(TIMESTAMP TEXT NOT NULL,F1CBStatus TEXT NOT NULL,F1CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["61204be18b794cbd"]]},{"id":"739313f12079219a","type":"debug","z":"c4a2fa3170939e8e","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"9e88424578375e6f","type":"inject","z":"c4a2fa3170939e8e","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied3 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["61204be18b794cbd"]]},{"id":"52fa47cfcf16bd29","type":"inject","z":"c4a2fa3170939e8e","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied3 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["caa9ea8db5722dfa"]]},{"id":"0e20601621262c60","type":"ui_template","z":"c4a2fa3170939e8e","group":"37b25ab75a5c7dce","name":"Database F1 IED3 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F1CBStatus</th>\n    <th>F1CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F1CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F1CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":850,"y":100,"wires":[[]]},{"id":"61204be18b794cbd","type":"sqlite","z":"c4a2fa3170939e8e","mydb":"76cb6e14d0ed5b3b","sqlquery":"msg.topic","sql":"","name":"Database F1 IED3 OUT","x":590,"y":220,"wires":[["739313f12079219a"]]},{"id":"796b3eaf849def15","type":"inject","z":"c4a2fa3170939e8e","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":400,"wires":[["73630bf854d4b78b"]]},{"id":"73630bf854d4b78b","type":"function","z":"c4a2fa3170939e8e","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F1CBStatus=global.get(\"F1CBStatus\");\nvar F1CBEvent=global.get(\"F1CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F1CBStatus,F1CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F1CBStatus + \"\\',\\'\" + F1CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied3 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["151ce57b050ce530","b87fdb0991ece68c"]]},{"id":"151ce57b050ce530","type":"debug","z":"c4a2fa3170939e8e","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"caa9ea8db5722dfa","type":"sqlite","z":"c4a2fa3170939e8e","mydb":"76cb6e14d0ed5b3b","sqlquery":"msg.topic","sql":"","name":"Database F1 IED3 OUT","x":590,"y":100,"wires":[["0e20601621262c60"]]},{"id":"e8f13dce9e6b8baf","type":"catch","z":"c4a2fa3170939e8e","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["ee975ad1c8fc5d89","6d17fc956a8fbff2"]]},{"id":"ee975ad1c8fc5d89","type":"debug","z":"c4a2fa3170939e8e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"9e7149a94304b179","type":"ui_text","z":"c4a2fa3170939e8e","group":"b739d001f1e3a8e1","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"6d17fc956a8fbff2","type":"function","z":"c4a2fa3170939e8e","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["9e7149a94304b179"]]},{"id":"7129ab55fb22988c","type":"inject","z":"c4a2fa3170939e8e","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied3","payload":"","payloadType":"date","x":220,"y":280,"wires":[["61204be18b794cbd"]]},{"id":"62684616339ba31d","type":"function","z":"c4a2fa3170939e8e","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":620,"wires":[[]]},{"id":"4ae678d4b0531cac","type":"inject","z":"c4a2fa3170939e8e","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["62684616339ba31d"]]},{"id":"b87fdb0991ece68c","type":"delay","z":"c4a2fa3170939e8e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["61204be18b794cbd"]]},{"id":"60744c0be5ff0f5e","type":"mqtt in","z":"c4a2fa3170939e8e","name":"","topic":"IED3_to_CB/CB3_status","qos":"2","datatype":"auto","broker":"9a071c4367ee9998","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["41b4c1ed491ed875","96af98d0e725059e"]]},{"id":"41b4c1ed491ed875","type":"function","z":"c4a2fa3170939e8e","name":"","func":"global.set('F1CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"96af98d0e725059e","type":"debug","z":"c4a2fa3170939e8e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"d1dea795e17757b7","type":"modbus-flex-write","z":"998cecbe46d12955","name":"","showStatusActivities":false,"showErrors":false,"server":"9815e66d8ba4acec","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190,"y":540,"wires":[["f7153e2ad0d925de"],[]]},{"id":"f7153e2ad0d925de","type":"debug","z":"998cecbe46d12955","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":540,"wires":[]},{"id":"2c2605984a5cf9c8","type":"comment","z":"998cecbe46d12955","name":"Sending all Values to SCADA for Monitoring","info":"","x":630,"y":480,"wires":[]},{"id":"8459df96ce8c7436","type":"function","z":"998cecbe46d12955","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address':100 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":540,"wires":[["d1dea795e17757b7"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"998cecbe46d12955","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":550,"y":540,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"998cecbe46d12955","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f1_current1');\nvar e = global.get('f1_current2');\nvar f = global.get('f1_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":540,"wires":[["8459df96ce8c7436"]]}]