04 Json Files/IED Files/ied4.json
[{"id":"0ff8a088e1bc4551","type":"tab","label":"Matlab to Feeder 2","disabled":false,"info":"","env":[]},{"id":"4dba7a2db4893ce2","type":"tab","label":"Feeder 2 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"bcc384d0079cb6d2","type":"tab","label":"Feeder 2 IED Dashboard","disabled":false,"info":"","env":[]},{"id":"eacf4138efa1af99","type":"tab","label":"PI_F2_IED4 IN DB","disabled":false,"info":"","env":[]},{"id":"4c9fa2ab73112e49","type":"tab","label":"PI_F2_IED4 OUT DB","disabled":false,"info":"","env":[]},{"id":"28724acf59885cbd","type":"tab","label":"Feeder 2 IED to Scada","disabled":false,"info":"","env":[]},{"id":"c5775eda517146f3","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7cd7607d5dbb0200","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bdecfaa17cdd6b93","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"ce0c09a1c24033fc","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"854658fc974bc08b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"046dcbae2ce3550e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"1b5e0bd80e26ea9b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a561f017fefa7822","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"1ab326779b5697b0","type":"ui_group","name":"Event Recording","tab":"c328c47e0d5dd26c","order":1,"disp":true,"width":"12","collapse":true},{"id":"da7a0e45a5de60a8","type":"ui_group","name":"Meter","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c328c47e0d5dd26c","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f38f14ab05daf5d9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"acc5f5d480a12f45","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"179a13885cd79b06","type":"ui_group","name":"IED 4","tab":"c328c47e0d5dd26c","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"66f0ae8013d73b06","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"16ef12a255259efd","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8301c1fd63820807","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a6bb58a19887969f","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"51766017ef7f1a63","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3736b85b1de933eb","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d8bc94e9c69ad461","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"323194fe60661489","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"84657bccc5c03332","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3a55ddca8f2dd7d5","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"166ff5780ce7cd2c","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"92e6a4c0cce730a3","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"562b1cae82950580","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"3621514b3b44c614","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f1815b0e30f8d8d7","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"058ae6665b0cfb2c","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"70dc84cb48e0cd57","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0c9c904ce537be3c","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e9342e3fe84182a7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2cde83abd08c498a","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ee279fedc1a31d1e","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b66be5b21cf29654","type":"ui_group","name":"Database F2 IED4 IN","tab":"6bb58b6467f4c88c","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"ecfc23d76c3cc53c","type":"sqlitedb","db":"/tmp/pi_f2_iedx","mode":"RWC"},{"id":"7b4270c3b9a3fbcc","type":"ui_group","name":"Sensors","tab":"5b13ebcb008dbaa7","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"db72b0d26a9f71c8","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4dbfb282b0dae292","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5035c0b76e0f4105","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4e3756da477882ab","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"81f811587c0bf898","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"20d1a828daa371cc","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c9e49d616054bca5","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1d0aac4a5341d7f0","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1ab68c90cbe5e9dc","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"da124d71feb8a0ae","type":"ui_group","name":"Read Result","tab":"f34d4a877fb24116","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"5b025f8563c9e742","type":"sqlitedb","db":"/tmp/pi_f2_ied4","mode":"RWC"},{"id":"7999fbd718350c0c","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6bb58b6467f4c88c","type":"ui_tab","name":"Database F2 IED4 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5b13ebcb008dbaa7","type":"ui_tab","name":"Home","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"f34d4a877fb24116","type":"ui_tab","name":"Database F2 IED4 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"608f5d3548e170f7","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2a9ef62efc8021b7","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a61e87ba012d9343","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b92054cf59c6475a","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"aa90e3c256f516d9","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3338d4f7d608f918","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a58fbdd3c3b0bed3","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c0e6ee5ef6520992","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d915b2a5b04150e7","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c530982a3bf103b6","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"cb883bbcdec4cbf5","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1c775c7e5d21c845","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14dc17d40ea65eda","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6df8deeaec033287","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9ea2e316128e7ce6","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5f44618735b6f2c1","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f0cd7f92c982dc0a","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"00e47e26d9495251","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bfb966a2bfb6b165","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"22ec2f8e4d6ec982","type":"ui_group","name":"IED4 CB Manual Control","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4c30c0c8360804a1","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"bcbcf3adebde2205","type":"sqlitedb","db":"pi@localhost \"/tmp/pi_new\"","mode":"RWC"},{"id":"4c72b3693fa27dc9","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/vphase1","qos":"2","datatype":"auto","broker":"a6bb58a19887969f","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["2e7ef14d154e4be5"]]},{"id":"86d340c139240180","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/vphase2","qos":"2","datatype":"auto","broker":"16ef12a255259efd","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["de56f38bc0220430"]]},{"id":"7497c078ddf13f0c","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/vphase3","qos":"2","datatype":"auto","broker":"8301c1fd63820807","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["4cf67134ff5ee3ac"]]},{"id":"910910c966f33332","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/iphase1","qos":"2","datatype":"auto","broker":"a61e87ba012d9343","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["ddfb09cd92de65ab"]]},{"id":"30896a94c51f5881","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/iphase2","qos":"2","datatype":"auto","broker":"51766017ef7f1a63","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["cf1f9a1c87ba0365"]]},{"id":"58ebd9435f09e003","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/iphase3","qos":"2","datatype":"auto","broker":"3736b85b1de933eb","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["bf75d188d369fd55"]]},{"id":"b87fcc3fdba3afc2","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/freq","qos":"2","datatype":"auto","broker":"d8bc94e9c69ad461","nl":false,"rap":true,"rh":0,"inputs":0,"x":730,"y":540,"wires":[["3ae7dc9ca8154e3c"]]},{"id":"65d83030a16545c2","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/voltage_N","qos":"2","datatype":"auto","broker":"323194fe60661489","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":600,"wires":[["bdd905c71f42e06e"]]},{"id":"2e7ef14d154e4be5","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"d390a8d57638dab2","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["2d375bf2165dee49"]]},{"id":"2d375bf2165dee49","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"8679c9050d644d56","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["d390a8d57638dab2"]]},{"id":"de56f38bc0220430","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"e39334df09b84718","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["9dbd65ebe41a4728"]]},{"id":"9dbd65ebe41a4728","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"7c7e3e03b657a90b","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["e39334df09b84718"]]},{"id":"4cf67134ff5ee3ac","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"b8f57b56c346455a","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["865f6afd617bbec2"]]},{"id":"865f6afd617bbec2","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"42a55875c67a0b4d","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["b8f57b56c346455a"]]},{"id":"ddfb09cd92de65ab","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"ad34ca64575e5538","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["5898d994baff251e"]]},{"id":"5898d994baff251e","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"448c886f2862f68b","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["ad34ca64575e5538"]]},{"id":"cf1f9a1c87ba0365","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"90b9c85755795279","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["331b05781b32d19d"]]},{"id":"331b05781b32d19d","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"e16631061a31ef84","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["90b9c85755795279"]]},{"id":"bf75d188d369fd55","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"b51056af370a9450","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["c38fb791a5eff847"]]},{"id":"c38fb791a5eff847","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"af16c6c43f6101f7","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["b51056af370a9450"]]},{"id":"3ae7dc9ca8154e3c","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"e2e9cc49e3d4f9b6","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["ed17a88018a859cd"]]},{"id":"ed17a88018a859cd","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"0100d4d62ebed81a","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["e2e9cc49e3d4f9b6"]]},{"id":"bdd905c71f42e06e","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"a043b2ab267c1e9b","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["e6755875cd7089ec"]]},{"id":"e6755875cd7089ec","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"c57a5875d3674f23","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["a043b2ab267c1e9b"]]},{"id":"f6da6e3f07da7c49","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/current_N","qos":"2","datatype":"auto","broker":"84657bccc5c03332","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":660,"wires":[["99b8eb3968860878"]]},{"id":"99b8eb3968860878","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"499828365976c7c1","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["5c4ef970bbc4521e"]]},{"id":"5c4ef970bbc4521e","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"67f4f8ed77a113fd","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["499828365976c7c1"]]},{"id":"e221b7e7f29e0d5a","type":"mqtt in","z":"0ff8a088e1bc4551","name":"","topic":"Matlab_to_IED4/load","qos":"2","datatype":"auto","broker":"3a55ddca8f2dd7d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":720,"wires":[["61892d74c80bcc64"]]},{"id":"61892d74c80bcc64","type":"function","z":"0ff8a088e1bc4551","name":"","func":"global.set('f2_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"d7edd5d5fb914cc4","type":"function","z":"0ff8a088e1bc4551","name":"","func":"var obtain_load = global.get(\"f2_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["aae52ae9d95c8c75"]]},{"id":"aae52ae9d95c8c75","type":"debug","z":"0ff8a088e1bc4551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"8d1755df44883efb","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["d7edd5d5fb914cc4"]]},{"id":"6b061803bda66589","type":"inject","z":"0ff8a088e1bc4551","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":800,"wires":[["f58824072ed0de6e"]]},{"id":"f58824072ed0de6e","type":"function","z":"0ff8a088e1bc4551","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f2_load\");\n\nvar f2_current1 = obtainI*(obtainL/45);\nvar f2_current2 = obtainI2*(obtainL/45);\nvar f2_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f2_current1', f2_current1)\nglobal.set('f2_current2', f2_current2)\nglobal.set('f2_current3', f2_current3)\n\nmsg.payload = obtainL;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":800,"wires":[["2f58f57fa92e4dc0"]]},{"id":"2f58f57fa92e4dc0","type":"debug","z":"0ff8a088e1bc4551","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":800,"wires":[]},{"id":"8beb99439bd6824a","type":"mqtt out","z":"4dba7a2db4893ce2","name":"MQTT Feeder 2 CB Channel","topic":"IED4_to_FeederCB/F2_CB_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"166ff5780ce7cd2c","x":680,"y":360,"wires":[]},{"id":"291031332125b9db","type":"debug","z":"4dba7a2db4893ce2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"735d657c5c9da9c2","type":"function","z":"4dba7a2db4893ce2","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f2_current1\");\nvar obtainI2 = global.get(\"f2_current2\");\nvar obtainI3 = global.get(\"f2_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch4\");\nvar scadaswitch_status= global.get(\"scadaswitch4\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else {\n    cb_decision = 'Closed';\n }\n\n if(scadaswitch_status== \"1\" || switch_status== \"1\" )\n {\n     cb_decision = \"Open\" ;\n }\n else\n {\n     cb_decision = 'Closed';\n }\n\nmsg.payload = cb_decision;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["8beb99439bd6824a","291031332125b9db"]]},{"id":"b0ccbd9bd53b0212","type":"function","z":"4dba7a2db4893ce2","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 21 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["325f9067b20c2cac","da78a0bec5e84bd8"]]},{"id":"2ea38ecc42dceba2","type":"debug","z":"4dba7a2db4893ce2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"325f9067b20c2cac","type":"modbus-flex-write","z":"4dba7a2db4893ce2","name":"","showStatusActivities":false,"showErrors":false,"server":"92e6a4c0cce730a3","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["2ea38ecc42dceba2"],[]]},{"id":"209859d4c774ae60","type":"function","z":"4dba7a2db4893ce2","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f2_current1\");\nvar obtainI2 = global.get(\"f2_current2\");\nvar obtainI3 = global.get(\"f2_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["b0ccbd9bd53b0212"]]},{"id":"da78a0bec5e84bd8","type":"debug","z":"4dba7a2db4893ce2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"dff0e1783eb92098","type":"inject","z":"4dba7a2db4893ce2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["209859d4c774ae60","735d657c5c9da9c2"]]},{"id":"33ac7a1312342cc9","type":"comment","z":"4dba7a2db4893ce2","name":"SCADA Dashboard 's switch","info":"","x":260,"y":520,"wires":[]},{"id":"82738e0fd8e12875","type":"comment","z":"4dba7a2db4893ce2","name":"IED's dashboard switch","info":"","x":220,"y":420,"wires":[]},{"id":"2af01b440ead09dd","type":"ui_switch","z":"4dba7a2db4893ce2","name":"switch_status","label":"IED4 Circuit breaker 4 switch","tooltip":"","group":"22ec2f8e4d6ec982","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":260,"y":460,"wires":[["51474b485ea8aa15"]]},{"id":"51474b485ea8aa15","type":"function","z":"4dba7a2db4893ce2","name":"","func":"global.set('switch4', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[[]]},{"id":"ee4765508a4c9b44","type":"function","z":"4dba7a2db4893ce2","name":"","func":"var switch_status = global.get(\"switch4\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":460,"wires":[["dddcb707a292f4b0"]]},{"id":"dddcb707a292f4b0","type":"debug","z":"4dba7a2db4893ce2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]},{"id":"d30d994d864c4434","type":"inject","z":"4dba7a2db4893ce2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":630,"y":460,"wires":[["ee4765508a4c9b44"]]},{"id":"5a4d46a120cf6318","type":"modbus-read","z":"4dba7a2db4893ce2","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"554","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4c30c0c8360804a1","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":580,"wires":[["1202cb93af167f26"],[]]},{"id":"1202cb93af167f26","type":"function","z":"4dba7a2db4893ce2","name":"","func":"global.set('scadaswitch4', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[[]]},{"id":"598b87ec0a9673b1","type":"function","z":"4dba7a2db4893ce2","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch4\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":580,"wires":[["22bc961a972f99c9"]]},{"id":"22bc961a972f99c9","type":"debug","z":"4dba7a2db4893ce2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"9c413087fb83b40d","type":"inject","z":"4dba7a2db4893ce2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":650,"y":580,"wires":[["598b87ec0a9673b1"]]},{"id":"2d5fef40962792ac","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["25b054b6ea9cae94"]]},{"id":"66d950a80a602863","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["48808ddd3b4a8334"]]},{"id":"0bf48b488ef74985","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["7794eb86fb3b99aa"]]},{"id":"c652ae7447191e5b","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = global.get('f2_current1');\nmsg.payload = d.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["7c44af0f0ef142a3"]]},{"id":"59c91b758d40b63a","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = global.get('f2_current2');\nmsg.payload = d.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["cd054bcb77a28616"]]},{"id":"e793620364066d89","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = global.get('f2_current3');\nmsg.payload = d.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["5f432b1c65c9e4d2"]]},{"id":"83d96250dec7e9ba","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["471d04427c48ab51"]]},{"id":"010fd9e3860219e7","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["4ec495ed651a54b2"]]},{"id":"d502916cb069d731","type":"function","z":"bcc384d0079cb6d2","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["e14bfd8de335060f"]]},{"id":"25b054b6ea9cae94","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"48808ddd3b4a8334","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"7794eb86fb3b99aa","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"7c44af0f0ef142a3","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"cd054bcb77a28616","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"5f432b1c65c9e4d2","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"471d04427c48ab51","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"4ec495ed651a54b2","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"e14bfd8de335060f","type":"ui_text","z":"bcc384d0079cb6d2","group":"179a13885cd79b06","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"62635bfb59435294","type":"function","z":"bcc384d0079cb6d2","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f2_current1');\nvar obtainI2 = global.get('f2_current2');\nvar obtainI3 = global.get('f2_current3');\nvar switch_status= global.get(\"switch4\");\nvar scadaswitch_status= global.get(\"scadaswitch4\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 40 || obtainI2 > 40 || obtainI3 > 40)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F2CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event)\n \ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":940,"wires":[["7a12024b26d4481f"]]},{"id":"808e5330d2546fcf","type":"inject","z":"bcc384d0079cb6d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":940,"wires":[["62635bfb59435294"]]},{"id":"b9484ca91b3eb6ad","type":"inject","z":"bcc384d0079cb6d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":900,"wires":[["e38514c9ed82844a"]]},{"id":"e38514c9ed82844a","type":"change","z":"bcc384d0079cb6d2","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":900,"wires":[[]]},{"id":"7a12024b26d4481f","type":"ui_table","z":"bcc384d0079cb6d2","group":"1ab326779b5697b0","name":"","order":1,"width":"12","height":"3","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":890,"y":940,"wires":[]},{"id":"acb2bd768428d720","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/vphase1","qos":"2","datatype":"auto","broker":"a6bb58a19887969f","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":320,"wires":[["2d5fef40962792ac"]]},{"id":"f091931c8b7f5d55","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/vphase2","qos":"2","datatype":"auto","broker":"16ef12a255259efd","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":380,"wires":[["66d950a80a602863"]]},{"id":"55f144af15e38b6b","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/vphase3","qos":"2","datatype":"auto","broker":"8301c1fd63820807","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":440,"wires":[["0bf48b488ef74985"]]},{"id":"8e34f2d2ec7ce0a4","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/iphase1","qos":"2","datatype":"auto","broker":"a61e87ba012d9343","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":500,"wires":[["c652ae7447191e5b"]]},{"id":"81721ed7685574d0","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/iphase2","qos":"2","datatype":"auto","broker":"51766017ef7f1a63","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":560,"wires":[["59c91b758d40b63a"]]},{"id":"9e4d3c32005ad3b1","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/iphase3","qos":"2","datatype":"auto","broker":"3736b85b1de933eb","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":620,"wires":[["e793620364066d89"]]},{"id":"492a2662e56999e5","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/freq","qos":"2","datatype":"auto","broker":"d8bc94e9c69ad461","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":680,"wires":[["83d96250dec7e9ba"]]},{"id":"7ecf96f797994a8e","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/voltage_N","qos":"2","datatype":"auto","broker":"323194fe60661489","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":740,"wires":[["010fd9e3860219e7"]]},{"id":"c183f0869a0f5170","type":"mqtt in","z":"bcc384d0079cb6d2","name":"","topic":"Matlab_to_IED4/current_N","qos":"2","datatype":"auto","broker":"84657bccc5c03332","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":800,"wires":[["d502916cb069d731"]]},{"id":"f37d9a9183447aa3","type":"inject","z":"eacf4138efa1af99","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied4(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["0086e1f6fe377853"]]},{"id":"8f385c8d697d903a","type":"debug","z":"eacf4138efa1af99","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"e56b88e2ff2267f9","type":"inject","z":"eacf4138efa1af99","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied4 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["0086e1f6fe377853"]]},{"id":"f122992333f90bc7","type":"inject","z":"eacf4138efa1af99","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied4 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["4a893eabb6fc60a2"]]},{"id":"6a1cda993f6deaf9","type":"ui_template","z":"eacf4138efa1af99","group":"b66be5b21cf29654","name":"Database F2 IED4 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":80,"wires":[[]]},{"id":"0086e1f6fe377853","type":"sqlite","z":"eacf4138efa1af99","mydb":"ecfc23d76c3cc53c","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 IN","x":660,"y":200,"wires":[["8f385c8d697d903a"]]},{"id":"160bc5479bfa656e","type":"inject","z":"eacf4138efa1af99","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["4ff508a3c86cd5d8"]]},{"id":"4ff508a3c86cd5d8","type":"function","z":"eacf4138efa1af99","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied4 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["a9c09dbcfdcac1cb","f614c23c763b6686"]]},{"id":"a9c09dbcfdcac1cb","type":"debug","z":"eacf4138efa1af99","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"4a893eabb6fc60a2","type":"sqlite","z":"eacf4138efa1af99","mydb":"ecfc23d76c3cc53c","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 IN","x":660,"y":80,"wires":[["6a1cda993f6deaf9"]]},{"id":"49b6b49c80c8154d","type":"catch","z":"eacf4138efa1af99","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["41772768a3225a68","9724355175d84c33"]]},{"id":"41772768a3225a68","type":"debug","z":"eacf4138efa1af99","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"327560412797af34","type":"ui_text","z":"eacf4138efa1af99","group":"7b4270c3b9a3fbcc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"9724355175d84c33","type":"function","z":"eacf4138efa1af99","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["327560412797af34"]]},{"id":"da8caf1c81c84d7b","type":"inject","z":"eacf4138efa1af99","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied4","payload":"","payloadType":"date","x":340,"y":260,"wires":[["0086e1f6fe377853"]]},{"id":"42116667751a61b9","type":"function","z":"eacf4138efa1af99","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"79e59fca9a1a786e","type":"inject","z":"eacf4138efa1af99","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["42116667751a61b9"]]},{"id":"f614c23c763b6686","type":"delay","z":"eacf4138efa1af99","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["0086e1f6fe377853"]]},{"id":"349211caac0d1a11","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Vphase1","qos":"2","datatype":"auto","broker":"a6bb58a19887969f","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":80,"wires":[["af46e62e2e1e400a"]]},{"id":"032a8a364f6ad6a6","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Vphase2","qos":"2","datatype":"auto","broker":"16ef12a255259efd","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":140,"wires":[["3c0e107994b00c7c"]]},{"id":"249779510943da7e","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Vphase3","qos":"2","datatype":"auto","broker":"8301c1fd63820807","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":200,"wires":[["9ad72fb51463fdce"]]},{"id":"89fc8b7b10fb3ff6","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Iphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":260,"wires":[["64a27cba9b57015a"]]},{"id":"3bf142284b0f71a8","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Iphase2","qos":"2","datatype":"auto","broker":"51766017ef7f1a63","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":320,"wires":[["5e7ce17f8bf4c759"]]},{"id":"bbfdd28c330d206f","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_Iphase3","qos":"2","datatype":"auto","broker":"3736b85b1de933eb","nl":false,"rap":true,"rh":0,"inputs":0,"x":1120,"y":380,"wires":[["0d5433736907abe1"]]},{"id":"d193570a18b23b7b","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_FREQ","qos":"2","datatype":"auto","broker":"d8bc94e9c69ad461","nl":false,"rap":true,"rh":0,"inputs":0,"x":1110,"y":440,"wires":[["8355e288cb458e89"]]},{"id":"99e11d37f7891259","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_VN","qos":"2","datatype":"auto","broker":"323194fe60661489","nl":false,"rap":true,"rh":0,"inputs":0,"x":1100,"y":500,"wires":[["908549b5257da62e"]]},{"id":"af46e62e2e1e400a","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":80,"wires":[[]]},{"id":"77af125e0441730d","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":80,"wires":[["628af4a9f8ea6dbb"]]},{"id":"628af4a9f8ea6dbb","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":80,"wires":[]},{"id":"2b6b58ac3017f06c","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":80,"wires":[["77af125e0441730d"]]},{"id":"3c0e107994b00c7c","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":140,"wires":[[]]},{"id":"6ba7548b1a3ebebd","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":140,"wires":[["cfd48bb727cbd730"]]},{"id":"cfd48bb727cbd730","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":140,"wires":[]},{"id":"0850fb52df4e9f92","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":140,"wires":[["6ba7548b1a3ebebd"]]},{"id":"9ad72fb51463fdce","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":200,"wires":[[]]},{"id":"069e5a15c4c63799","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":200,"wires":[["2d18039b2c26f34c"]]},{"id":"2d18039b2c26f34c","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":200,"wires":[]},{"id":"cb52db68818af08d","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":200,"wires":[["069e5a15c4c63799"]]},{"id":"64a27cba9b57015a","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":260,"wires":[[]]},{"id":"b961b393f983e22c","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":260,"wires":[["b11ea8dd7999b54f"]]},{"id":"b11ea8dd7999b54f","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":260,"wires":[]},{"id":"07bcacc5160a660b","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":260,"wires":[["b961b393f983e22c"]]},{"id":"5e7ce17f8bf4c759","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":320,"wires":[[]]},{"id":"c22709ce488866c9","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":320,"wires":[["a743fe2550d2f1e9"]]},{"id":"a743fe2550d2f1e9","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":320,"wires":[]},{"id":"0770fc8d15756f12","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":320,"wires":[["c22709ce488866c9"]]},{"id":"0d5433736907abe1","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":380,"wires":[[]]},{"id":"cc8123275f6dbdc9","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":380,"wires":[["988c9fd91b2689ed"]]},{"id":"988c9fd91b2689ed","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":380,"wires":[]},{"id":"5c7ea835977e9960","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":380,"wires":[["cc8123275f6dbdc9"]]},{"id":"8355e288cb458e89","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":440,"wires":[[]]},{"id":"1193b52b9a9d9240","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":440,"wires":[["397aa96ca9c5ca38"]]},{"id":"397aa96ca9c5ca38","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":440,"wires":[]},{"id":"4022938dd353f0cc","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":440,"wires":[["1193b52b9a9d9240"]]},{"id":"908549b5257da62e","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":500,"wires":[[]]},{"id":"03120718f0faf3f8","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":500,"wires":[["2a3dd7347f7354a5"]]},{"id":"2a3dd7347f7354a5","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":500,"wires":[]},{"id":"e237ed9ae7f7f7d2","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":500,"wires":[["03120718f0faf3f8"]]},{"id":"913bf4c9f7bb8c60","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_IED4/S1_IN","qos":"2","datatype":"auto","broker":"84657bccc5c03332","nl":false,"rap":true,"rh":0,"inputs":0,"x":1100,"y":560,"wires":[["5426ce26c8d071a7"]]},{"id":"5426ce26c8d071a7","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":560,"wires":[[]]},{"id":"2b5dded21b4f6d2a","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":560,"wires":[["415978b2450949b1"]]},{"id":"415978b2450949b1","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":560,"wires":[]},{"id":"7d7dc6f34d0af894","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":560,"wires":[["2b5dded21b4f6d2a"]]},{"id":"3d786d95948b3dec","type":"mqtt in","z":"eacf4138efa1af99","name":"","topic":"Matlab_to_Feeder4/Load","qos":"2","datatype":"auto","broker":"3a55ddca8f2dd7d5","nl":false,"rap":true,"rh":0,"inputs":0,"x":1110,"y":620,"wires":[["2feedfbd7a7e6d4b"]]},{"id":"2feedfbd7a7e6d4b","type":"function","z":"eacf4138efa1af99","name":"","func":"global.set('f2_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":620,"wires":[[]]},{"id":"d76e1319c33cd4af","type":"function","z":"eacf4138efa1af99","name":"","func":"var obtain_load = global.get(\"f2_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":620,"wires":[["7e63512e49cd7b8a"]]},{"id":"7e63512e49cd7b8a","type":"debug","z":"eacf4138efa1af99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":620,"wires":[]},{"id":"de6945b4dd05268c","type":"inject","z":"eacf4138efa1af99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1570,"y":620,"wires":[["d76e1319c33cd4af"]]},{"id":"25a2eac8d9150a0e","type":"inject","z":"4c9fa2ab73112e49","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied4(TIMESTAMP TEXT NOT NULL,F2CBStatus TEXT NOT NULL,F2CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["cc9db526c541f382"]]},{"id":"91999d196994b421","type":"debug","z":"4c9fa2ab73112e49","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":220,"wires":[]},{"id":"a6649c0704e6ef07","type":"inject","z":"4c9fa2ab73112e49","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied4 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["cc9db526c541f382"]]},{"id":"e12f9c10bac6f4db","type":"inject","z":"4c9fa2ab73112e49","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied4 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["1119da9742d980be"]]},{"id":"b6917ca5c208dfa5","type":"ui_template","z":"4c9fa2ab73112e49","group":"da124d71feb8a0ae","name":"Database F2 IED4 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>CB2Status</th>\n    <th>CB2Event</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CB2Status}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CB2Event}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":830,"y":100,"wires":[[]]},{"id":"cc9db526c541f382","type":"sqlite","z":"4c9fa2ab73112e49","mydb":"5b025f8563c9e742","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 OUT","x":590,"y":220,"wires":[["91999d196994b421"]]},{"id":"036208d133f13443","type":"inject","z":"4c9fa2ab73112e49","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["b10160bca380b06d"]]},{"id":"b10160bca380b06d","type":"function","z":"4c9fa2ab73112e49","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F2CBStatus=global.get(\"F2CBStatus\");\nvar F2CBEvent=global.get(\"F2CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F2CBStatus,F2CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F2CBStatus + \"\\',\\'\" + F2CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied4 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["3e243e3c0c077dc0","255c5866ec5cd460"]]},{"id":"3e243e3c0c077dc0","type":"debug","z":"4c9fa2ab73112e49","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"1119da9742d980be","type":"sqlite","z":"4c9fa2ab73112e49","mydb":"5b025f8563c9e742","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 OUT","x":590,"y":100,"wires":[["b6917ca5c208dfa5"]]},{"id":"abfedb74d634f160","type":"catch","z":"4c9fa2ab73112e49","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["f3c8130a55ba178c","bf1fb3fc8dffcb21"]]},{"id":"f3c8130a55ba178c","type":"debug","z":"4c9fa2ab73112e49","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"3b42525a2235e649","type":"ui_text","z":"4c9fa2ab73112e49","group":"7b4270c3b9a3fbcc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"bf1fb3fc8dffcb21","type":"function","z":"4c9fa2ab73112e49","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["3b42525a2235e649"]]},{"id":"01ec36123c81d3ce","type":"inject","z":"4c9fa2ab73112e49","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied4","payload":"","payloadType":"date","x":220,"y":280,"wires":[["cc9db526c541f382"]]},{"id":"b6c23c7fb21435ce","type":"function","z":"4c9fa2ab73112e49","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"f81ff8c2efb75ccb","type":"inject","z":"4c9fa2ab73112e49","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["b6c23c7fb21435ce"]]},{"id":"255c5866ec5cd460","type":"delay","z":"4c9fa2ab73112e49","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["cc9db526c541f382"]]},{"id":"bd058422dec35e82","type":"mqtt in","z":"4c9fa2ab73112e49","name":"","topic":"IED1_to_FeederCB/F2_CB_status","qos":"2","datatype":"auto","broker":"7999fbd718350c0c","nl":false,"rap":true,"rh":0,"inputs":0,"x":1080,"y":180,"wires":[["2d2703b77be371f8","7948a84a5417279d"]]},{"id":"2d2703b77be371f8","type":"function","z":"4c9fa2ab73112e49","name":"","func":"global.set('F2CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"7948a84a5417279d","type":"debug","z":"4c9fa2ab73112e49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"8994120611840a7f","type":"modbus-flex-write","z":"28724acf59885cbd","name":"","showStatusActivities":false,"showErrors":false,"server":"c530982a3bf103b6","emptyMsgOnFail":false,"keepMsgProperties":false,"x":970,"y":340,"wires":[["35f9960265ea7c86"],[]]},{"id":"35f9960265ea7c86","type":"debug","z":"28724acf59885cbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"4a927aa97349fbec","type":"comment","z":"28724acf59885cbd","name":"Sending all Values to SCADA for Monitoring","info":"","x":190,"y":200,"wires":[]},{"id":"849514b3d12894fc","type":"function","z":"28724acf59885cbd","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 125 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["8994120611840a7f"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"28724acf59885cbd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":340,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"28724acf59885cbd","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f2_current1');\nvar e = global.get('f2_current2');\nvar f = global.get('f2_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["849514b3d12894fc"]]},{"id":"c59e0a5526277992","type":"inject","z":"c5775eda517146f3","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied4(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":420,"y":180,"wires":[["fe120cb7046e2ef8"]]},{"id":"f46507f19f390336","type":"debug","z":"c5775eda517146f3","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":240,"wires":[]},{"id":"3ef0680ffc4c6012","type":"inject","z":"c5775eda517146f3","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied4 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":390,"y":240,"wires":[["fe120cb7046e2ef8"]]},{"id":"a22fead516f3fd69","type":"inject","z":"c5775eda517146f3","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied4 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":410,"y":120,"wires":[["15e7e4ba19adcf85"]]},{"id":"f9a40b7bed23a32e","type":"ui_template","z":"c5775eda517146f3","group":"b66be5b21cf29654","name":"Database F2 IED4 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":920,"y":120,"wires":[[]]},{"id":"fe120cb7046e2ef8","type":"sqlite","z":"c5775eda517146f3","mydb":"bcbcf3adebde2205","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 IN","x":700,"y":240,"wires":[["f46507f19f390336"]]},{"id":"e7e8f2d655405904","type":"inject","z":"c5775eda517146f3","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":360,"wires":[["347251ec30201e3d"]]},{"id":"347251ec30201e3d","type":"function","z":"c5775eda517146f3","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied4 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":360,"wires":[["f6c9d75abb093f87","d8b28deb70cbb9c9"]]},{"id":"f6c9d75abb093f87","type":"debug","z":"c5775eda517146f3","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":360,"wires":[]},{"id":"15e7e4ba19adcf85","type":"sqlite","z":"c5775eda517146f3","mydb":"bcbcf3adebde2205","sqlquery":"msg.topic","sql":"","name":"Database F2 IED4 IN","x":700,"y":120,"wires":[["f9a40b7bed23a32e"]]},{"id":"4cd0e2d6d4f7201b","type":"catch","z":"c5775eda517146f3","name":"","scope":null,"uncaught":false,"x":380,"y":520,"wires":[["afc8248d448a59b0","12b3f7fe523ccdb5"]]},{"id":"afc8248d448a59b0","type":"debug","z":"c5775eda517146f3","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":540,"wires":[]},{"id":"8d8b454fd3f256ba","type":"ui_text","z":"c5775eda517146f3","group":"7b4270c3b9a3fbcc","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":460,"wires":[]},{"id":"12b3f7fe523ccdb5","type":"function","z":"c5775eda517146f3","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["8d8b454fd3f256ba"]]},{"id":"83cf73163107a056","type":"inject","z":"c5775eda517146f3","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied4","payload":"","payloadType":"date","x":380,"y":300,"wires":[["fe120cb7046e2ef8"]]},{"id":"5534f1f798435a67","type":"function","z":"c5775eda517146f3","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":620,"wires":[[]]},{"id":"2786556efc674fd1","type":"inject","z":"c5775eda517146f3","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":390,"y":620,"wires":[["5534f1f798435a67"]]},{"id":"d8b28deb70cbb9c9","type":"delay","z":"c5775eda517146f3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":860,"y":300,"wires":[["fe120cb7046e2ef8"]]}]