04 Json Files/IED Files/ied5.json
[{"id":"e8103a743d492d3a","type":"tab","label":"Matlab to Feeder 3","disabled":false,"info":"","env":[]},{"id":"11ba6ec4b52b5f88","type":"tab","label":"Feeder 3 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"7c0285d6b41e9dae","type":"tab","label":"Feeder 3 IED Dashboard","disabled":false,"info":"","env":[]},{"id":"d790c58dbfe4c2ad","type":"tab","label":"PI_F3_IED5 IN DB","disabled":false,"info":"","env":[]},{"id":"eb9456295f4b1ee2","type":"tab","label":"PI_F3_IED5 OUT DB","disabled":false,"info":"","env":[]},{"id":"0907a598dab98b22","type":"tab","label":"Feeder 3 IED to Scada","disabled":false,"info":"","env":[]},{"id":"e76e64617ebd94c5","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9e37f452d503efda","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"9d3c2771948cf8fc","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"796c8025450b3137","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"20cb0b07f0450310","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"aafd898e4d66b867","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"811eedfce1e00367","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"3b87e0f0b8552bb4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"5e4760420d8713f7","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2359efe2db50d66f","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"036c030afce1c4d3","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1da253951cb8f06","type":"ui_group","name":"home","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"da7a0e45a5de60a8","type":"ui_group","name":"Meter","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7dfe3e5838aab258","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6c8498927d37b665","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f5132d52efcf2266","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"633b0fd492421ad5","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"209e02c8e98cad1f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b54eb2aaf4a145e","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4dce3a43fa6caac","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e1586d994c12c86","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"57e27c1a70706a0f","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f9b58321fceaa14","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a19da68c725b14af","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c328c47e0d5dd26c","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1ab326779b5697b0","type":"ui_group","name":"Event Recording","tab":"c328c47e0d5dd26c","order":1,"disp":true,"width":"12","collapse":true},{"id":"6f96fc7635af8170","type":"ui_group","name":"HT-SP-Q01","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":true},{"id":"59d2a5638675ea82","type":"ui_group","name":"HT-SS1-Q01A","tab":"c328c47e0d5dd26c","order":4,"disp":true,"width":"6","collapse":true},{"id":"a74fc103dc8f4d9e","type":"ui_group","name":"HT-SS1-Q01B","tab":"c328c47e0d5dd26c","order":5,"disp":true,"width":"6","collapse":true},{"id":"712ef2756812511c","type":"ui_group","name":"HT-SS1-Q02","tab":"c328c47e0d5dd26c","order":6,"disp":true,"width":"6","collapse":true},{"id":"12f79381b6a49a9e","type":"ui_group","name":"LT-MGB-Q01A","tab":"c328c47e0d5dd26c","order":7,"disp":true,"width":"6","collapse":true},{"id":"c16949eab78d699b","type":"ui_group","name":"LT-MGB-Q01B","tab":"c328c47e0d5dd26c","order":8,"disp":true,"width":"6","collapse":true},{"id":"deb31a3886621476","type":"ui_group","name":"LT-MGB-Q02","tab":"c328c47e0d5dd26c","order":9,"disp":true,"width":"6","collapse":true},{"id":"a308bab40f3ddd63","type":"ui_group","name":"LT-MGB-Q03","tab":"c328c47e0d5dd26c","order":10,"disp":true,"width":"6","collapse":true},{"id":"73ec481e51fd86bd","type":"ui_group","name":"LT-MGB-Q04","tab":"c328c47e0d5dd26c","order":11,"disp":true,"width":"6","collapse":true},{"id":"2f1997e8f3cd09de","type":"ui_group","name":"WDB1-Q01A","tab":"c328c47e0d5dd26c","order":12,"disp":true,"width":"6","collapse":true},{"id":"a42374b70658dae9","type":"ui_group","name":"WDB1-Q01B","tab":"c328c47e0d5dd26c","order":13,"disp":true,"width":"6","collapse":true},{"id":"1db1562bcd67e2dd","type":"ui_tab","name":"IED Indication","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ee5ee65495e5046b","type":"ui_group","name":"HT-SP-Q01","tab":"1db1562bcd67e2dd","order":1,"disp":true,"width":"6","collapse":true},{"id":"f62f6b3410386270","type":"ui_group","name":"HT-SS1-Q01A","tab":"1db1562bcd67e2dd","order":2,"disp":true,"width":"6","collapse":true},{"id":"1a99c9e2df39d5dc","type":"ui_group","name":"HT-SS1-Q01B","tab":"1db1562bcd67e2dd","order":3,"disp":true,"width":"6","collapse":true},{"id":"afca9222356dd468","type":"ui_group","name":"LT-MGB-Q01A","tab":"1db1562bcd67e2dd","order":4,"disp":true,"width":"6","collapse":true},{"id":"2b77762720db7a5d","type":"ui_group","name":"LT-MGB-Q01B","tab":"1db1562bcd67e2dd","order":5,"disp":true,"width":"6","collapse":true},{"id":"b62b3c27f91aa36d","type":"ui_group","name":"LT-MGB-Q02","tab":"1db1562bcd67e2dd","order":6,"disp":true,"width":"6","collapse":true},{"id":"6015132ba6944c34","type":"ui_group","name":"LT-MGB-Q04","tab":"1db1562bcd67e2dd","order":7,"disp":true,"width":"6","collapse":true},{"id":"64d79527f4da7077","type":"ui_tab","name":"DI","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"cfc05fb6cc3406fd","type":"ui_group","name":"DI1","tab":"64d79527f4da7077","order":1,"disp":true,"width":"6","collapse":false},{"id":"01ab2d8d30275125","type":"ui_group","name":"DI 2","tab":"64d79527f4da7077","order":2,"disp":true,"width":"6","collapse":false},{"id":"9ced7d02a48a7186","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"f2425d84d04ef230","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"89617f9e4d314893","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"bafb99267d183820","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"4e289f9f.33bda","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"e34dc0f7.34277","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"537b4f53544fc83e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"ab52f889.8e8708","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"b5418e39.8542f","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"7eb5e864.6e4fe8","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e75328603d98934b","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e0ce0f7106e08c2f","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"2288795ecf572a57","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"a561f017fefa7822","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f21b64886d89ce85","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ffd7476f9eb93e83","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"17d44e3be842d416","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6130c6863db9bc99","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"bf1b6e73c24b0664","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"046022d8dc030da6","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"36f0775d0451e1b2","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"9","collapse":true,"className":""},{"id":"f0f12ea90a0e0de7","type":"ui_group","name":"IED 5","tab":"c328c47e0d5dd26c","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"6cdc488421cf990e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b16f3e9b6620091d","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"168f1d62b040e295","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3ce97e9308cf70e9","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cf65fb1b30dfbf14","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"da0c0768561cc39d","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"97e0b79fb4413982","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9b10ea2cdff9e33","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"01e24dcc55bc5119","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"695089836c255ba2","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"96b1f50bd6471ce5","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b94e713063e5c1ff","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9af7245e30f5b47f","type":"ui_group","name":"Database F3 IED5 IN","tab":"a93231341f6b645f","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"62a3edda7a18d6d1","type":"sqlitedb","db":"/tmp/pi_f3_ied5","mode":"RWC"},{"id":"f6cedcec2e86ebd5","type":"ui_group","name":"Sensors","tab":"6e8372423660cc67","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"8744bbec9062a794","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"33f37b5a3e9c8e20","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b04f0e5a3d0a6e4d","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e764effd4023ed45","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"29743ada14caa342","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"92d81ba2d8513cf7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eb18007b1f9df96c","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fd102b9abd34f3e7","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3dd83203e8c3f11c","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"48100c9034cf1dbf","type":"ui_group","name":"Read Result","tab":"c596efe8112bda0f","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"38435ce6afaa3541","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"bf3eabfdfa12b614","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a93231341f6b645f","type":"ui_tab","name":"Database F3 IED5 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6e8372423660cc67","type":"ui_tab","name":"Home","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"c596efe8112bda0f","type":"ui_tab","name":"Database F3 IED5 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1e807b19304f2b5b","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d07abfcc6d234514","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9b56e98487f6165a","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"53787761f875099f","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"780a67a066b65fb4","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b4a0f6e0f8f3e1c8","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9311cb1f4b177538","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"930e7a4ec1fb2972","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1abb44dfa2929c21","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"75981c47c7192aee","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"4b6526e16a9d3fea","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"310f41eeae42242c","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7364b5ca0882f6be","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"248584720577d250","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"661f71123e54cd4a","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6abae0d7dce2b5db","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0bc3f26c1bcaa048","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"59ca8d1952bc82bb","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bbaf3c7bce843222","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"02310e9c4b17a2a7","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6b3597a6f9d63730","type":"ui_group","name":"IED5 CB Manual Control","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f956ef0c804fc490","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a8cf692cc3033ec1","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c780804574035f33","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b75c2e5d44c8c685","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6f3d438ec2dfc7bb","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3abdb6fbc2437e51","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1a3a17b7fb52573","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28dd6d951f6889f1","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9109174f89c9db7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d2a851e3b6ce54","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39ca2212f01664f2","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9960ba269c046aaf","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"f0b5ecc76a5a84e8","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["7837054647de5e63"]]},{"id":"7837054647de5e63","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"d334a4563a6fa978","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["f0b5ecc76a5a84e8"]]},{"id":"e65bfb9873183431","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"cd7d089154e3c491","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["b7249646d5e88eb0"]]},{"id":"b7249646d5e88eb0","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"4dc0ecb3a5f51191","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["cd7d089154e3c491"]]},{"id":"a824bbd22c89384d","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"125bb7f60c377d1b","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["fbef8af9e72e6712"]]},{"id":"fbef8af9e72e6712","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"8cd71c1b8b4c3dad","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["125bb7f60c377d1b"]]},{"id":"a5cf9cad541f97b2","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"b9b871888c857618","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["b0c50849b7cb8694"]]},{"id":"b0c50849b7cb8694","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"5aa4ecc70df461d5","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["b9b871888c857618"]]},{"id":"e555cacb83c8bca8","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"c38d8aa92631b2d0","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["07e25dfa89115049"]]},{"id":"07e25dfa89115049","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"f766c594fbd49d6c","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["c38d8aa92631b2d0"]]},{"id":"ded143410e53983f","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"95d971b767eaacc7","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["3730598c87935ed3"]]},{"id":"3730598c87935ed3","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"05ebc93b26f0b5f6","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["95d971b767eaacc7"]]},{"id":"fba4dd0f80c07648","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"7cf56d7db858e453","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["a8eb36043f7773c0"]]},{"id":"a8eb36043f7773c0","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"d3b4bcf338a66d3e","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["7cf56d7db858e453"]]},{"id":"fcf42a7f30b266f5","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"5369461c20d5a547","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["a66eda174d6df883"]]},{"id":"a66eda174d6df883","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"2113f9592b8cbf9e","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["5369461c20d5a547"]]},{"id":"73029442238d82ef","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"1c26c30e3870d22c","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["a29161021ce60a5b"]]},{"id":"a29161021ce60a5b","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"03ed0f4ac8d5c1e3","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["1c26c30e3870d22c"]]},{"id":"ee8c685bb9f215e0","type":"function","z":"e8103a743d492d3a","name":"","func":"global.set('f3_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"81f4276583c11db1","type":"function","z":"e8103a743d492d3a","name":"","func":"var obtain_load = global.get(\"f3_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["fdfd16e9d0977d2a"]]},{"id":"fdfd16e9d0977d2a","type":"debug","z":"e8103a743d492d3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"5c6b3b2c092c2ff5","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["81f4276583c11db1"]]},{"id":"374b897e4e5a41c9","type":"inject","z":"e8103a743d492d3a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":800,"wires":[["8c9b7f42595c4ba7"]]},{"id":"8c9b7f42595c4ba7","type":"function","z":"e8103a743d492d3a","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f3_load\");\n\nvar f3_current1 = obtainI*(obtainL/45);\nvar f3_current2 = obtainI2*(obtainL/45);\nvar f3_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f3_current1', String(f3_current1))\nglobal.set('f3_current2', String(f3_current2))\nglobal.set('f3_current3', String(f3_current3))\n\nmsg.payload = f3_current2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":800,"wires":[["ae3023483da40e3d"]]},{"id":"ae3023483da40e3d","type":"debug","z":"e8103a743d492d3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":800,"wires":[]},{"id":"996254e173f7ea64","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/load","qos":"2","datatype":"auto","broker":"a8cf692cc3033ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":768,"y":718,"wires":[["ee8c685bb9f215e0"]]},{"id":"54944b0ee514203a","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":178,"wires":[["9960ba269c046aaf"]]},{"id":"01f47eb02e3d154a","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":238,"wires":[["e65bfb9873183431"]]},{"id":"30821bbb638ca139","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":298,"wires":[["a824bbd22c89384d"]]},{"id":"06b22b27daf6c883","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":358,"wires":[["a5cf9cad541f97b2"]]},{"id":"c13951f1260875dc","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":418,"wires":[["e555cacb83c8bca8"]]},{"id":"6fdc6cc4261fa07c","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":478,"wires":[["ded143410e53983f"]]},{"id":"491cc7a0a93f0eaa","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":758,"y":538,"wires":[["fba4dd0f80c07648"]]},{"id":"28f89b3e87454d15","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":598,"wires":[["fcf42a7f30b266f5"]]},{"id":"a026f7a11bb818c0","type":"mqtt in","z":"e8103a743d492d3a","name":"","topic":"Matlab_to_IED5/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":778,"y":658,"wires":[["73029442238d82ef"]]},{"id":"83de8080368f6855","type":"mqtt out","z":"11ba6ec4b52b5f88","name":"MQTT CB5 Channel","topic":"IED5_to_CB/CB5_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"96b1f50bd6471ce5","x":660,"y":360,"wires":[]},{"id":"4d648ce953ce8184","type":"debug","z":"11ba6ec4b52b5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"a7a6bd6fc5b1d005","type":"function","z":"11ba6ec4b52b5f88","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f3_current1\");\nvar obtainI2 = global.get(\"f3_current2\");\nvar obtainI3 = global.get(\"f3_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch5\");\nvar scadaswitch_status= global.get(\"scadaswitch5\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \n\nglobal.set('cb_status', cb_decision)\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + b\n\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["83de8080368f6855","4d648ce953ce8184"]]},{"id":"4e73fcf9f923cf8f","type":"function","z":"11ba6ec4b52b5f88","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 22 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["1db856a0fdcf74c8","6a9928efa09ad9ce"]]},{"id":"777ae4725794e641","type":"debug","z":"11ba6ec4b52b5f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"1db856a0fdcf74c8","type":"modbus-flex-write","z":"11ba6ec4b52b5f88","name":"","showStatusActivities":false,"showErrors":false,"server":"b94e713063e5c1ff","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["777ae4725794e641"],[]]},{"id":"dcbd7b2f31d0619e","type":"function","z":"11ba6ec4b52b5f88","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f3_current1\");\nvar obtainI2 = global.get(\"f3_current2\");\nvar obtainI3 = global.get(\"f3_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["4e73fcf9f923cf8f"]]},{"id":"6a9928efa09ad9ce","type":"debug","z":"11ba6ec4b52b5f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"27bc874b6aa46db4","type":"inject","z":"11ba6ec4b52b5f88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":244.66669082641602,"y":276.00000762939453,"wires":[["dcbd7b2f31d0619e","a7a6bd6fc5b1d005"]]},{"id":"796b25fc30d52943","type":"comment","z":"11ba6ec4b52b5f88","name":"SCADA Dashboard 's switch","info":"","x":241.42857360839844,"y":502.8571472167969,"wires":[]},{"id":"b25bbce86bced9c0","type":"comment","z":"11ba6ec4b52b5f88","name":"IED's dashboard switch","info":"","x":201.42857360839844,"y":402.8571472167969,"wires":[]},{"id":"d913eab1e6f760d5","type":"ui_switch","z":"11ba6ec4b52b5f88","name":"switch_status","label":"IED5 Circuit breaker 5 switch","tooltip":"","group":"6b3597a6f9d63730","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":241.42857360839844,"y":442.8571472167969,"wires":[["8eea1881ba2dbc68"]]},{"id":"8eea1881ba2dbc68","type":"function","z":"11ba6ec4b52b5f88","name":"","func":"global.set('switch5', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":461.42857360839844,"y":442.8571472167969,"wires":[[]]},{"id":"8a15d8333109dd17","type":"function","z":"11ba6ec4b52b5f88","name":"","func":"var switch_status = global.get(\"switch5\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":781.4285736083984,"y":442.8571472167969,"wires":[["eec885503e4194cf"]]},{"id":"eec885503e4194cf","type":"debug","z":"11ba6ec4b52b5f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":951.4285736083984,"y":442.8571472167969,"wires":[]},{"id":"eea8213675d993df","type":"inject","z":"11ba6ec4b52b5f88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":611.4285736083984,"y":442.8571472167969,"wires":[["8a15d8333109dd17"]]},{"id":"01d081e52b396b78","type":"modbus-read","z":"11ba6ec4b52b5f88","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"555","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f956ef0c804fc490","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":231.42857360839844,"y":562.8571472167969,"wires":[["cc014ecefe391da2"],[]]},{"id":"cc014ecefe391da2","type":"function","z":"11ba6ec4b52b5f88","name":"","func":"global.set('scadaswitch5', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":461.42857360839844,"y":562.8571472167969,"wires":[[]]},{"id":"ecb1efc3a56e2fb1","type":"function","z":"11ba6ec4b52b5f88","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch5\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":801.4285736083984,"y":562.8571472167969,"wires":[["288ac0adf8e897b3"]]},{"id":"288ac0adf8e897b3","type":"debug","z":"11ba6ec4b52b5f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":971.4285736083984,"y":562.8571472167969,"wires":[]},{"id":"15211111eab07f33","type":"inject","z":"11ba6ec4b52b5f88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":631.4285736083984,"y":562.8571472167969,"wires":[["ecb1efc3a56e2fb1"]]},{"id":"3c4376daa37c3c29","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["f90506ac9cb572fe"]]},{"id":"9c705d1a875890d7","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["f290a657e3926f69"]]},{"id":"bdeb786b5908cbc8","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["510f1281a88e90df"]]},{"id":"517e7ec4e2cb597a","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = global.get('f3_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["49f19c3dd7896575"]]},{"id":"edb2b98276e8c3e4","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = global.get('f3_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["95884a139c37abad"]]},{"id":"46747aa10f941037","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = global.get('f3_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["b0a812823b5a08f8"]]},{"id":"f19d5c9e647a678f","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["33afe8e5888f6999"]]},{"id":"6f41d2c6daedd25b","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["89b1ea6a3f8b37fd"]]},{"id":"5b8baf90a4ebbdd3","type":"function","z":"7c0285d6b41e9dae","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["24f8769f1e6217ef"]]},{"id":"f90506ac9cb572fe","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"f290a657e3926f69","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"510f1281a88e90df","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"49f19c3dd7896575","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"95884a139c37abad","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"b0a812823b5a08f8","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"33afe8e5888f6999","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"89b1ea6a3f8b37fd","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"24f8769f1e6217ef","type":"ui_text","z":"7c0285d6b41e9dae","group":"f0f12ea90a0e0de7","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"341a9b76d7834c0e","type":"function","z":"7c0285d6b41e9dae","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f3_current1');\nvar obtainI2 = global.get('f3_current2');\nvar obtainI3 = global.get('f3_current3');\nvar switch_status= global.get(\"switch5\");\nvar scadaswitch_status= global.get(\"scadaswitch5\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F3CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event)\n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737,"y":941,"wires":[["433df0ebfed09fbe"]]},{"id":"2b5afaa940dc828f","type":"inject","z":"7c0285d6b41e9dae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":477,"y":941,"wires":[["341a9b76d7834c0e"]]},{"id":"f01f1f57da35164d","type":"inject","z":"7c0285d6b41e9dae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":457,"y":901,"wires":[["9b659c8dc4d36927"]]},{"id":"9b659c8dc4d36927","type":"change","z":"7c0285d6b41e9dae","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":901,"wires":[[]]},{"id":"433df0ebfed09fbe","type":"ui_table","z":"7c0285d6b41e9dae","group":"1ab326779b5697b0","name":"","order":1,"width":"12","height":"3","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":897,"y":941,"wires":[]},{"id":"daa5a98844d56022","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":320.6666564941406,"wires":[["3c4376daa37c3c29"]]},{"id":"a14c524115c8e6c7","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":380.6666564941406,"wires":[["9c705d1a875890d7"]]},{"id":"c3e8065786c79563","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":440.6666564941406,"wires":[["bdeb786b5908cbc8"]]},{"id":"d37e2f29a0b3da5a","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":500.6666564941406,"wires":[["517e7ec4e2cb597a"]]},{"id":"80a86bda9cbcf411","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":560.6666564941406,"wires":[["edb2b98276e8c3e4"]]},{"id":"a42f37c4f37dffb8","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":620.6666564941406,"wires":[["46747aa10f941037"]]},{"id":"d267ec8b29d86850","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":576,"y":680.6666564941406,"wires":[["f19d5c9e647a678f"]]},{"id":"bf3f99dba60df7fb","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":740.6666564941406,"wires":[["6f41d2c6daedd25b"]]},{"id":"e47c5189041c2541","type":"mqtt in","z":"7c0285d6b41e9dae","name":"","topic":"Matlab_to_IED5/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":596,"y":800.6666564941406,"wires":[["5b8baf90a4ebbdd3"]]},{"id":"de154f888daae14b","type":"inject","z":"d790c58dbfe4c2ad","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied5(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["bb08f1f4343f8576"]]},{"id":"365e07affd10bdfb","type":"debug","z":"d790c58dbfe4c2ad","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"0b2ce47d9eba4212","type":"inject","z":"d790c58dbfe4c2ad","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied5 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["bb08f1f4343f8576"]]},{"id":"d89efa183f811696","type":"inject","z":"d790c58dbfe4c2ad","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied5 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["4bb91389c66cab54"]]},{"id":"50d71f3c9b2caa6e","type":"ui_template","z":"d790c58dbfe4c2ad","group":"9af7245e30f5b47f","name":"Database F3 IED5 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":881,"y":80,"wires":[[]]},{"id":"bb08f1f4343f8576","type":"sqlite","z":"d790c58dbfe4c2ad","mydb":"62a3edda7a18d6d1","sqlquery":"msg.topic","sql":"","name":"Database F3 IED5 IN","x":660,"y":200,"wires":[["365e07affd10bdfb"]]},{"id":"0d479e9d959ac816","type":"inject","z":"d790c58dbfe4c2ad","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["a7ff870cdd52c2bf"]]},{"id":"a7ff870cdd52c2bf","type":"function","z":"d790c58dbfe4c2ad","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied5 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["2feb9b280dd239ad","7ce9b9e919af9dd6"]]},{"id":"2feb9b280dd239ad","type":"debug","z":"d790c58dbfe4c2ad","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"4bb91389c66cab54","type":"sqlite","z":"d790c58dbfe4c2ad","mydb":"62a3edda7a18d6d1","sqlquery":"msg.topic","sql":"","name":"Database F3 IED5 IN","x":660,"y":80,"wires":[["50d71f3c9b2caa6e"]]},{"id":"fda786820748b39f","type":"catch","z":"d790c58dbfe4c2ad","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["c3e616205a3e4e78","03a8e1a851269cb1"]]},{"id":"c3e616205a3e4e78","type":"debug","z":"d790c58dbfe4c2ad","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"0cd79f32144140b5","type":"ui_text","z":"d790c58dbfe4c2ad","group":"f6cedcec2e86ebd5","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"03a8e1a851269cb1","type":"function","z":"d790c58dbfe4c2ad","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["0cd79f32144140b5"]]},{"id":"046c454a599cac99","type":"inject","z":"d790c58dbfe4c2ad","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied5","payload":"","payloadType":"date","x":340,"y":260,"wires":[["bb08f1f4343f8576"]]},{"id":"cc7603e063c39a90","type":"function","z":"d790c58dbfe4c2ad","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":580,"wires":[[]]},{"id":"d8946a8143f3763a","type":"inject","z":"d790c58dbfe4c2ad","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["cc7603e063c39a90"]]},{"id":"7ce9b9e919af9dd6","type":"delay","z":"d790c58dbfe4c2ad","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["bb08f1f4343f8576"]]},{"id":"da9af627307cdb29","type":"inject","z":"eb9456295f4b1ee2","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied5(TIMESTAMP TEXT NOT NULL,F3CBStatus TEXT NOT NULL,F3CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["76e02ce94b64e85e"]]},{"id":"6db37bf9ebea841d","type":"debug","z":"eb9456295f4b1ee2","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":220,"wires":[]},{"id":"ac0648ab5e0c39b1","type":"inject","z":"eb9456295f4b1ee2","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied5 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["76e02ce94b64e85e"]]},{"id":"1dd60e57dc757c48","type":"inject","z":"eb9456295f4b1ee2","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied5 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["c75d418979e149b0"]]},{"id":"42d64d5df01cee03","type":"ui_template","z":"eb9456295f4b1ee2","group":"48100c9034cf1dbf","name":"Database F3 IED5 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F3CBStatus</th>\n    <th>F3CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F3CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F3CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":850,"y":100,"wires":[[]]},{"id":"76e02ce94b64e85e","type":"sqlite","z":"eb9456295f4b1ee2","mydb":"62a3edda7a18d6d1","sqlquery":"msg.topic","sql":"","name":"Database F3 IED5 OUT","x":590,"y":220,"wires":[["6db37bf9ebea841d"]]},{"id":"901b409b1605f4a5","type":"inject","z":"eb9456295f4b1ee2","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["ed3bdc3b87910fdf"]]},{"id":"ed3bdc3b87910fdf","type":"function","z":"eb9456295f4b1ee2","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F3CBStatus=global.get(\"F3CBStatus\");\nvar F3CBEvent=global.get(\"F3CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F3CBStatus,F3CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F3CBStatus + \"\\',\\'\" + F3CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied5 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["f9c77dbd2ece1cd2","c62ac2c3173bc84b"]]},{"id":"f9c77dbd2ece1cd2","type":"debug","z":"eb9456295f4b1ee2","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"c75d418979e149b0","type":"sqlite","z":"eb9456295f4b1ee2","mydb":"62a3edda7a18d6d1","sqlquery":"msg.topic","sql":"","name":"Database F3 IED5 OUT","x":590,"y":100,"wires":[["42d64d5df01cee03"]]},{"id":"7919939a0e2de9f9","type":"catch","z":"eb9456295f4b1ee2","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["68205208a0ec422e","8f547067e84161ef"]]},{"id":"68205208a0ec422e","type":"debug","z":"eb9456295f4b1ee2","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"9b916b6437a5fe58","type":"ui_text","z":"eb9456295f4b1ee2","group":"f6cedcec2e86ebd5","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"8f547067e84161ef","type":"function","z":"eb9456295f4b1ee2","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["9b916b6437a5fe58"]]},{"id":"c9bf66201503bc98","type":"inject","z":"eb9456295f4b1ee2","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied5","payload":"","payloadType":"date","x":220,"y":280,"wires":[["76e02ce94b64e85e"]]},{"id":"78d9861557fe5eec","type":"function","z":"eb9456295f4b1ee2","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"e12c78076be821b5","type":"inject","z":"eb9456295f4b1ee2","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["78d9861557fe5eec"]]},{"id":"c62ac2c3173bc84b","type":"delay","z":"eb9456295f4b1ee2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["76e02ce94b64e85e"]]},{"id":"6c6008e1fe65d46f","type":"mqtt in","z":"eb9456295f4b1ee2","name":"","topic":"IED5_to_CB/CB5_status","qos":"2","datatype":"auto","broker":"bf3eabfdfa12b614","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["2cdee3e2054b0fc7","e5257619fdcb3807"]]},{"id":"2cdee3e2054b0fc7","type":"function","z":"eb9456295f4b1ee2","name":"","func":"global.set('F3CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"e5257619fdcb3807","type":"debug","z":"eb9456295f4b1ee2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"3d54015a1adaf392","type":"modbus-flex-write","z":"0907a598dab98b22","name":"","showStatusActivities":false,"showErrors":false,"server":"75981c47c7192aee","emptyMsgOnFail":false,"keepMsgProperties":false,"x":798.333381652832,"y":238.33334970474243,"wires":[["3bd817209a29f8e9"],[]]},{"id":"3bd817209a29f8e9","type":"debug","z":"0907a598dab98b22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":778.333381652832,"y":198.33334970474243,"wires":[]},{"id":"61e73653b8b1e689","type":"comment","z":"0907a598dab98b22","name":"Sending all Values to SCADA for Monitoring","info":"","x":190,"y":200,"wires":[]},{"id":"bdad424863b09e65","type":"function","z":"0907a598dab98b22","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 150 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":611.1905364990234,"y":324.0476257801056,"wires":[["3d54015a1adaf392"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"0907a598dab98b22","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":101.66668319702148,"y":325.5555348396301,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"0907a598dab98b22","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f3_current1');\nvar e = global.get('f3_current2');\nvar f = global.get('f3_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":371.6666831970215,"y":325.5555348396301,"wires":[["bdad424863b09e65"]]}]