04 Json Files/IED Files/ied7.json
[{"id":"f763bb1715b1cd86","type":"tab","label":"Matlab to Feeder 5","disabled":false,"info":"","env":[]},{"id":"6b7aafc1badffb13","type":"tab","label":"Feeder 5 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"5c6030feda878b11","type":"tab","label":"Feeder 5 IED Dashboard","disabled":false,"info":"","env":[]},{"id":"95b7800688d21a43","type":"tab","label":"PI_F5_IED7 IN DB","disabled":false,"info":"","env":[]},{"id":"7d4846fc1e7a47bd","type":"tab","label":"PI_F5_IED7 OUT DB","disabled":false,"info":"","env":[]},{"id":"f1b19e521a301842","type":"tab","label":"Feeder 5 IED to Scada","disabled":false,"info":"","env":[]},{"id":"f811391f59671089","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"af445a32dce699f7","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5485d4701a7b2a39","type":"mqtt-broker","name":"","broker":"test","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1e0459d66c99c22","type":"mqtt-broker","name":"","broker":"192.168.0.102","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fae388469df363a4","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4857fe18cc1f65dd","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6fb9d44c15129821","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"185dfefc2a4765f9","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"cbc6e64bd6c91bfe","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e7bce139f41d8ec8","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"ba912bb72b94717f","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d2b21c88a8d1105c","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"13609005298b7d97","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4ea6f8fc45548f15","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"78125f5a5f4b632c","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"0b000d0c7d2d8cbe","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"eef08b6a0617d3c4","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"402872b7ed06b988","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"6ef91d566546ea09","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"07ad7ec515312278","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"3b747b6a9b60126c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7f2ee58e6b7febe9","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5954220959d8eaaf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"49fadadc79d10409","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2a9c3192925bf8f6","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d269a27e20142c3b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9b09310474b5b49b","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"a832beb0b2e6f6bb","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e8d53c3c67b7700f","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"d5bd7bab6744bc8c","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"37677b80fedb9b18","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"05600a23b9fa7f0d","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f3aba719116aa5bf","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ae7cbd01ccd9a093","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fd97cfb21fd35d0","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"568e64969ca723da","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"68b6c96eaf99cdf1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"771f63a125a8fe4d","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"1f86ce3e72fce8f2","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6b192ed7359899fd","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"776d998f88f61703","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"0bfb5b65f57d06c3","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fd8feb1e4b9012e1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"bbc20aca3a027e6a","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ea7bf28394993895","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"90278ea1b2a611e1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"df2230ad1f578cd6","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"ac2121ebbd9dc9f8","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5954f04aa455e87a","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dfd44a8a8c1e1486","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"50357e2c12136c11","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e15286013cc4f897","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5094cd9eb7434aa9","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2c91b2f983a5be95","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"be9d68e1075ebc66","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ae27d67c2658d9ea","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"bdae59a2d2580d81","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6ff78de76201d94e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8d9406086bba0566","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"528c85baeee52155","type":"ui_tab","name":"DI","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"722558ab8e382226","type":"ui_tab","name":"Control","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f6f66dc85f03932e","type":"ui_tab","name":"DI","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"1d7e8fa5c146ee3a","type":"ui_tab","name":"Control","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"d8ebf779e83353ba","type":"ui_tab","name":"DI","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"8913bf1b94cf8b8e","type":"ui_group","name":"home","tab":"0727db61ceeaa5c7","order":1,"disp":true,"width":"6","collapse":true},{"id":"2ac6b190805c3bd9","type":"ui_group","name":"Meter","tab":"82a9ead8f4eecda0","order":1,"disp":true,"width":"6","collapse":false},{"id":"61156aea2ae54a9e","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"dae163cb03c28de8","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea6e6b89864db6ad","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6d6d884b6606c14","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f289b91f3ef6577","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"25ec1286be43d594","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"0e2a9c90170338a0","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"037a3cb297cf058b","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"48af9a9a957d4d8c","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f85edc79f389f1c3","type":"ui_group","name":"HT-SP-Q01","tab":"c328c47e0d5dd26c","order":3,"disp":true,"width":"6","collapse":true},{"id":"3822a82d78d08e0f","type":"ui_group","name":"HT-SS1-Q01A","tab":"c328c47e0d5dd26c","order":7,"disp":true,"width":"6","collapse":true},{"id":"0182e8bab54e583d","type":"ui_group","name":"HT-SS1-Q01B","tab":"c328c47e0d5dd26c","order":10,"disp":true,"width":"6","collapse":true},{"id":"2ff82b18bd4f31e5","type":"ui_group","name":"HT-SS1-Q02","tab":"c328c47e0d5dd26c","order":13,"disp":true,"width":"6","collapse":true},{"id":"40d4f248dbf8b550","type":"ui_group","name":"LT-MGB-Q01A","tab":"c328c47e0d5dd26c","order":16,"disp":true,"width":"6","collapse":true},{"id":"508a17d9be132cab","type":"ui_group","name":"LT-MGB-Q01B","tab":"c328c47e0d5dd26c","order":19,"disp":true,"width":"6","collapse":true},{"id":"b9e3f38fe65ea615","type":"ui_group","name":"LT-MGB-Q02","tab":"c328c47e0d5dd26c","order":22,"disp":true,"width":"6","collapse":true},{"id":"c623cfa624a6d581","type":"ui_group","name":"LT-MGB-Q03","tab":"c328c47e0d5dd26c","order":25,"disp":true,"width":"6","collapse":true},{"id":"ac9744df5b880f30","type":"ui_group","name":"LT-MGB-Q04","tab":"c328c47e0d5dd26c","order":28,"disp":true,"width":"6","collapse":true},{"id":"a247d29eee749bb3","type":"ui_group","name":"WDB1-Q01A","tab":"c328c47e0d5dd26c","order":31,"disp":true,"width":"6","collapse":true},{"id":"c67d9230a6a2a52c","type":"ui_group","name":"WDB1-Q01B","tab":"c328c47e0d5dd26c","order":34,"disp":true,"width":"6","collapse":true},{"id":"6d50c26b1ac2cd48","type":"ui_group","name":"HT-SP-Q01","tab":"1db1562bcd67e2dd","order":1,"disp":true,"width":"6","collapse":true},{"id":"df99bde776468773","type":"ui_group","name":"HT-SS1-Q01A","tab":"1db1562bcd67e2dd","order":2,"disp":true,"width":"6","collapse":true},{"id":"bc125643bbdf8e21","type":"ui_group","name":"HT-SS1-Q01B","tab":"1db1562bcd67e2dd","order":3,"disp":true,"width":"6","collapse":true},{"id":"5106f1f1f3cdcdab","type":"ui_group","name":"LT-MGB-Q01A","tab":"1db1562bcd67e2dd","order":4,"disp":true,"width":"6","collapse":true},{"id":"c2f73e219caad7b6","type":"ui_group","name":"LT-MGB-Q01B","tab":"1db1562bcd67e2dd","order":5,"disp":true,"width":"6","collapse":true},{"id":"ec48dd2eeed787f2","type":"ui_group","name":"LT-MGB-Q02","tab":"1db1562bcd67e2dd","order":6,"disp":true,"width":"6","collapse":true},{"id":"c5aedb4ff32df148","type":"ui_group","name":"LT-MGB-Q04","tab":"1db1562bcd67e2dd","order":7,"disp":true,"width":"6","collapse":true},{"id":"65ac5920bc11b0a7","type":"ui_group","name":"DI1","tab":"64d79527f4da7077","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd3e3d74abd82a2c","type":"ui_group","name":"DI 2","tab":"64d79527f4da7077","order":2,"disp":true,"width":"6","collapse":false},{"id":"741e1a5985d1a37a","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"90bd2c56497b5363","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"f25c42bcd9ed020e","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"0ec82e9b075b5e58","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"0c9d7c66ed79a183","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"2d22bf4c6e01254f","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd425c691bd0cebb","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"1eb047f881172286","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"2e73de50f22a5069","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"d1493c5665dcc109","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"66d67f8a6a88fd1c","type":"ui_group","name":"Group 2","tab":"82a9ead8f4eecda0","order":2,"disp":true,"width":6},{"id":"8638589218b7e12a","type":"ui_group","name":"Group 3","tab":"82a9ead8f4eecda0","order":3,"disp":true,"width":6},{"id":"4f9dbfbf28a937f0","type":"ui_group","name":"Default","tab":"f4a17bd8ae5d9d9c","order":1,"disp":true,"width":"9","collapse":true,"className":""},{"id":"85306bffc16ef588","type":"ui_group","name":"IED","tab":"c328c47e0d5dd26c","order":1,"disp":true,"width":"6","collapse":true},{"id":"51156e52109f7423","type":"ui_group","name":"Meter","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1b1532f6e7641d1","type":"ui_group","name":"home","tab":"13342e0fbdd11132","order":1,"disp":true,"width":"6","collapse":true},{"id":"17db2481417c188a","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"89c3d8e7cea63096","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a42f43057ab6aaff","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a713dc140ae63184","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"838d2902dcc1a524","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d87589c58eaeaa1","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f77976ad9823281","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee1ea7c00061ab77","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"5e92450631619669","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"8ed5f068bac592b8","type":"ui_group","name":"HT-SP-Q01","tab":"c328c47e0d5dd26c","order":4,"disp":true,"width":"6","collapse":true},{"id":"a249cc5adf7be0fd","type":"ui_group","name":"HT-SS1-Q01A","tab":"c328c47e0d5dd26c","order":8,"disp":true,"width":"6","collapse":true},{"id":"f8089440e7e041f8","type":"ui_group","name":"HT-SS1-Q01B","tab":"c328c47e0d5dd26c","order":11,"disp":true,"width":"6","collapse":true},{"id":"b3326de45a8dd457","type":"ui_group","name":"HT-SS1-Q02","tab":"c328c47e0d5dd26c","order":14,"disp":true,"width":"6","collapse":true},{"id":"3b5884f2ebe02396","type":"ui_group","name":"LT-MGB-Q01A","tab":"c328c47e0d5dd26c","order":17,"disp":true,"width":"6","collapse":true},{"id":"cefc1aaa98656928","type":"ui_group","name":"LT-MGB-Q01B","tab":"c328c47e0d5dd26c","order":20,"disp":true,"width":"6","collapse":true},{"id":"0be527a313732c93","type":"ui_group","name":"LT-MGB-Q02","tab":"c328c47e0d5dd26c","order":23,"disp":true,"width":"6","collapse":true},{"id":"33a6005fb3d040f1","type":"ui_group","name":"LT-MGB-Q03","tab":"c328c47e0d5dd26c","order":26,"disp":true,"width":"6","collapse":true},{"id":"1bc7ae7a5ccaa601","type":"ui_group","name":"LT-MGB-Q04","tab":"c328c47e0d5dd26c","order":29,"disp":true,"width":"6","collapse":true},{"id":"b9f566d7a2b4ac31","type":"ui_group","name":"WDB1-Q01A","tab":"c328c47e0d5dd26c","order":32,"disp":true,"width":"6","collapse":true},{"id":"d4aef3ba5fcd1a8f","type":"ui_group","name":"WDB1-Q01B","tab":"c328c47e0d5dd26c","order":35,"disp":true,"width":"6","collapse":true},{"id":"f6f570f1d8e4f2b3","type":"ui_group","name":"HT-SP-Q01","tab":"b0b796fa1e171cb9","order":1,"disp":true,"width":"6","collapse":true},{"id":"76e349cf267227c8","type":"ui_group","name":"HT-SS1-Q01A","tab":"b0b796fa1e171cb9","order":2,"disp":true,"width":"6","collapse":true},{"id":"7bd87bc582f1102c","type":"ui_group","name":"HT-SS1-Q01B","tab":"b0b796fa1e171cb9","order":3,"disp":true,"width":"6","collapse":true},{"id":"686172a09c3c6d94","type":"ui_group","name":"LT-MGB-Q01A","tab":"b0b796fa1e171cb9","order":4,"disp":true,"width":"6","collapse":true},{"id":"f37eed50442519e7","type":"ui_group","name":"LT-MGB-Q01B","tab":"b0b796fa1e171cb9","order":5,"disp":true,"width":"6","collapse":true},{"id":"aa03b169fcbda633","type":"ui_group","name":"LT-MGB-Q02","tab":"b0b796fa1e171cb9","order":6,"disp":true,"width":"6","collapse":true},{"id":"d2190e335eabc9cc","type":"ui_group","name":"LT-MGB-Q04","tab":"b0b796fa1e171cb9","order":7,"disp":true,"width":"6","collapse":true},{"id":"3bd1fb5205aced83","type":"ui_group","name":"DI1","tab":"3f4b64aef291bde5","order":1,"disp":true,"width":"6","collapse":false},{"id":"f421e17e426301d7","type":"ui_group","name":"DI 2","tab":"3f4b64aef291bde5","order":2,"disp":true,"width":"6","collapse":false},{"id":"3aa4d3861d48a6ed","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"1330957915bf276a","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"fb48aa081a6be98d","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"c4773f23325c87af","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"60cff0a06df1264e","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"e8d28168c346aa55","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f09fea52845e0e4c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"77b1c403ae7037c6","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"b26202d5aab3a90e","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"17abef0e8e8f6d13","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"d11b310a3c85d8a6","type":"ui_group","name":"Group 2","tab":"84d0c5890c8bd133","order":2,"disp":true,"width":6},{"id":"cf883c3dc5fccb28","type":"ui_group","name":"Group 3","tab":"84d0c5890c8bd133","order":3,"disp":true,"width":6},{"id":"dce12754812744fc","type":"ui_group","name":"Default","tab":"18d7032c3c2cb724","order":1,"disp":true,"width":"9","collapse":true,"className":""},{"id":"6a4aa73112cf880d","type":"ui_group","name":"IED","tab":"c328c47e0d5dd26c","order":2,"disp":true,"width":"6","collapse":true},{"id":"5a184c240995b989","type":"ui_group","name":"Meter","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b27f6c3d67c645a9","type":"ui_group","name":"home","tab":"13342e0fbdd11132","order":1,"disp":true,"width":"6","collapse":true},{"id":"01215f3182ae0f23","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"23c6af5faa64e998","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"99340a8e091d09cb","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c4fd0fe46c277fcf","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac22e28396e6bcc8","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"866ce22f099702ef","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"567bb9ce4fdcb088","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fe420e1a5eb30e62","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"76391cb364f8f2a8","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7c455cd0ff4916e2","type":"ui_group","name":"HT-SP-Q01","tab":"c328c47e0d5dd26c","order":6,"disp":true,"width":"6","collapse":true},{"id":"c91a364e8fbdd61a","type":"ui_group","name":"HT-SS1-Q01A","tab":"c328c47e0d5dd26c","order":9,"disp":true,"width":"6","collapse":true},{"id":"23778066ddd4ada4","type":"ui_group","name":"HT-SS1-Q01B","tab":"c328c47e0d5dd26c","order":12,"disp":true,"width":"6","collapse":true},{"id":"66cd124759f72a52","type":"ui_group","name":"HT-SS1-Q02","tab":"c328c47e0d5dd26c","order":15,"disp":true,"width":"6","collapse":true},{"id":"327ec7738cdb96a9","type":"ui_group","name":"LT-MGB-Q01A","tab":"c328c47e0d5dd26c","order":18,"disp":true,"width":"6","collapse":true},{"id":"733a14b0a362a545","type":"ui_group","name":"LT-MGB-Q01B","tab":"c328c47e0d5dd26c","order":21,"disp":true,"width":"6","collapse":true},{"id":"8731d3ca275f1a29","type":"ui_group","name":"LT-MGB-Q02","tab":"c328c47e0d5dd26c","order":24,"disp":true,"width":"6","collapse":true},{"id":"420ca89b24503dd2","type":"ui_group","name":"LT-MGB-Q03","tab":"c328c47e0d5dd26c","order":27,"disp":true,"width":"6","collapse":true},{"id":"51942029893773ab","type":"ui_group","name":"LT-MGB-Q04","tab":"c328c47e0d5dd26c","order":30,"disp":true,"width":"6","collapse":true},{"id":"7d7555345bc8787e","type":"ui_group","name":"WDB1-Q01A","tab":"c328c47e0d5dd26c","order":33,"disp":true,"width":"6","collapse":true},{"id":"85506fac0222a40c","type":"ui_group","name":"WDB1-Q01B","tab":"c328c47e0d5dd26c","order":36,"disp":true,"width":"6","collapse":true},{"id":"6055170de6adab03","type":"ui_group","name":"HT-SP-Q01","tab":"b0b796fa1e171cb9","order":1,"disp":true,"width":"6","collapse":true},{"id":"455e1eefabc528a3","type":"ui_group","name":"HT-SS1-Q01A","tab":"b0b796fa1e171cb9","order":2,"disp":true,"width":"6","collapse":true},{"id":"0eca50573c9eb83e","type":"ui_group","name":"HT-SS1-Q01B","tab":"b0b796fa1e171cb9","order":3,"disp":true,"width":"6","collapse":true},{"id":"8a096941304fa39d","type":"ui_group","name":"LT-MGB-Q01A","tab":"b0b796fa1e171cb9","order":4,"disp":true,"width":"6","collapse":true},{"id":"08062bbfa8675c53","type":"ui_group","name":"LT-MGB-Q01B","tab":"b0b796fa1e171cb9","order":5,"disp":true,"width":"6","collapse":true},{"id":"a4719ac4adf8a213","type":"ui_group","name":"LT-MGB-Q02","tab":"b0b796fa1e171cb9","order":6,"disp":true,"width":"6","collapse":true},{"id":"02eeea40aacbb91b","type":"ui_group","name":"LT-MGB-Q04","tab":"b0b796fa1e171cb9","order":7,"disp":true,"width":"6","collapse":true},{"id":"15de67bac8282ee0","type":"ui_group","name":"DI1","tab":"3f4b64aef291bde5","order":1,"disp":true,"width":"6","collapse":false},{"id":"4342c43735f2ed8b","type":"ui_group","name":"DI 2","tab":"3f4b64aef291bde5","order":2,"disp":true,"width":"6","collapse":false},{"id":"e9bc240ae667d11f","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"321d81f567f565ad","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"ada9fee63be71bfc","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"e4beb09b9c964d86","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"0ed7da48fa8776f4","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"2c16926421693f8c","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"65f5c92cd38705ab","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"c0e5c81b3c7b260c","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"6380acc214f01a70","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"53674825ed938474","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"4d3e27b8775b1009","type":"ui_group","name":"Group 2","tab":"84d0c5890c8bd133","order":2,"disp":true,"width":6},{"id":"cc1976025e1bef5d","type":"ui_group","name":"Group 3","tab":"84d0c5890c8bd133","order":3,"disp":true,"width":6},{"id":"f0695dfcbc790816","type":"ui_group","name":"Default","tab":"18d7032c3c2cb724","order":1,"disp":true,"width":"9","collapse":true,"className":""},{"id":"d36a3b61006aacec","type":"ui_group","name":"IED 7","tab":"69ddfec2b6e9b1ea","order":2,"disp":true,"width":4,"collapse":true,"className":""},{"id":"97e072224a90bf46","type":"ui_group","name":"Event Recording","tab":"69ddfec2b6e9b1ea","order":1,"disp":true,"width":14,"collapse":true},{"id":"69ddfec2b6e9b1ea","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"599b097e4e53a8ce","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8049935751cf4496","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"783cb7a6c529b2c0","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"929a52468e834ac1","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8dee40827a5a7e8f","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b515f55138182ded","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"21379ffa7911aafd","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"353ff613631076c4","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"faba1dbf642b8f1b","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e7495b1175216c29","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0762864b10a69549","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c661942b44deee32","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9344b02954ac44a2","type":"ui_group","name":"Database F5 IED7 IN","tab":"63215ae90c927875","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"897f34e01c7994cc","type":"sqlitedb","db":"/tmp/pi_f5_ied7","mode":"RWC"},{"id":"222a3748ac1ad088","type":"ui_group","name":"Sensors","tab":"","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"45718efeee46c947","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"819f8992200320ff","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f8b8abd6daee8eb2","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a14f70edd58b1daf","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c72c4e581da93c15","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e5435e592e077109","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4aa7e634abadf70c","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"081005583730f0a5","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"09fae41f36e9cd59","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"42737fb21b0201ec","type":"ui_group","name":"Read Result","tab":"44bc7f13bffa2938","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"f1de55f096320e8a","type":"sqlitedb","db":"/tmp//tmp/pi_f5_ied7","mode":"RWC"},{"id":"be5174d991dff65a","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"63215ae90c927875","type":"ui_tab","name":"Database F5 IED7 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"44bc7f13bffa2938","type":"ui_tab","name":"Database F5 IED7 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"46454ea7540d390e","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"32c9cc79a546fa9c","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6aaa5f5d37798a41","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c6b3ce60e5f5b557","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6270970057034dd0","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4b11bfe3068ded69","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"59610f9bc567444c","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"458c1f048cdd438e","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"07a86687d560e5eb","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"38ac451d70cf0caf","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"0e9af120844d38d3","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"85df05efe7231537","type":"ui_group","name":"IED7 CB Manual Control","tab":"","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f26433a1fa586253","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9fa04bf3b72bc2e7","type":"ui_group","name":"IED7 CB Manual Control","tab":"69ddfec2b6e9b1ea","order":3,"disp":true,"width":5,"collapse":false,"className":""},{"id":"a8cf692cc3033ec1","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c780804574035f33","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b75c2e5d44c8c685","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6f3d438ec2dfc7bb","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3abdb6fbc2437e51","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c1a3a17b7fb52573","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28dd6d951f6889f1","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a9109174f89c9db7","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"64d2a851e3b6ce54","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39ca2212f01664f2","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5be17fec02d910c8","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"65e7a14219154306","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["63c9fecf70796554"]]},{"id":"63c9fecf70796554","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"61e7afafd1b824bf","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["65e7a14219154306"]]},{"id":"df964d2bb14f74fd","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"f2d8fa222eac125d","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["40b29e6876ac167a"]]},{"id":"40b29e6876ac167a","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"713b178804f335b4","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["f2d8fa222eac125d"]]},{"id":"be06b5b61faf40b9","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"69958883548a4297","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["447812ed88810a89"]]},{"id":"447812ed88810a89","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"c7b9eb7e30cb8388","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["69958883548a4297"]]},{"id":"868995c6a6efa6da","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"258e333eb3e38c94","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["c16b6ba79e06abe0"]]},{"id":"c16b6ba79e06abe0","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"d1d4b1194c75b6e4","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["258e333eb3e38c94"]]},{"id":"0655829ccc5a662f","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"e97ebe1f0de63c30","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["67ae3999e35c7701"]]},{"id":"67ae3999e35c7701","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"70209bcae5458d92","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["e97ebe1f0de63c30"]]},{"id":"13776ad7c505a0ef","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"f330ac531ceddee4","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["9cf23b8dc49824e6"]]},{"id":"9cf23b8dc49824e6","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"9c78bed9e67befe4","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["f330ac531ceddee4"]]},{"id":"efbb54363d1165ab","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"84fef624c089c148","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["462fa24b6cf699e6"]]},{"id":"462fa24b6cf699e6","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"5c96c6868d7eb842","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["84fef624c089c148"]]},{"id":"cce9beaf98513744","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"ea07dd25e3decd3e","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["b64104b7cdd12e05"]]},{"id":"b64104b7cdd12e05","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"53291215a5b27bea","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["ea07dd25e3decd3e"]]},{"id":"73ad197d3989843d","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"23b8f23d51144ab7","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["77f2477811816f1b"]]},{"id":"77f2477811816f1b","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"03cb5fe2da21cf17","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["23b8f23d51144ab7"]]},{"id":"b4979a23fe036c80","type":"function","z":"f763bb1715b1cd86","name":"","func":"global.set('f5_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"fdce44cec8fd402c","type":"function","z":"f763bb1715b1cd86","name":"","func":"var obtain_load = global.get(\"f5_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["2c8a2873188ebad5"]]},{"id":"2c8a2873188ebad5","type":"debug","z":"f763bb1715b1cd86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"f0ac9ca2b863f9a7","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["fdce44cec8fd402c"]]},{"id":"2a7190d35043092e","type":"inject","z":"f763bb1715b1cd86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":800,"wires":[["1c9a58439f960fce"]]},{"id":"1c9a58439f960fce","type":"function","z":"f763bb1715b1cd86","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f5_load\");\n\nvar f5_current1 = obtainI*(obtainL/45);\nvar f5_current2 = obtainI2*(obtainL/45);\nvar f5_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f5_current1', String(f5_current1))\nglobal.set('f5_current2', String(f5_current2))\nglobal.set('f5_current3', String(f5_current3))\n\nmsg.payload = f5_current2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":800,"wires":[["b526fa5b9852db1f"]]},{"id":"b526fa5b9852db1f","type":"debug","z":"f763bb1715b1cd86","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":800,"wires":[]},{"id":"996254e173f7ea64","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/load","qos":"2","datatype":"auto","broker":"a8cf692cc3033ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":720,"wires":[["b4979a23fe036c80"]]},{"id":"54944b0ee514203a","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":180,"wires":[["5be17fec02d910c8"]]},{"id":"01f47eb02e3d154a","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":240,"wires":[["df964d2bb14f74fd"]]},{"id":"30821bbb638ca139","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":300,"wires":[["be06b5b61faf40b9"]]},{"id":"06b22b27daf6c883","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":360,"wires":[["868995c6a6efa6da"]]},{"id":"c13951f1260875dc","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":420,"wires":[["0655829ccc5a662f"]]},{"id":"6fdc6cc4261fa07c","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":480,"wires":[["13776ad7c505a0ef"]]},{"id":"491cc7a0a93f0eaa","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":540,"wires":[["efbb54363d1165ab"]]},{"id":"28f89b3e87454d15","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":600,"wires":[["cce9beaf98513744"]]},{"id":"a026f7a11bb818c0","type":"mqtt in","z":"f763bb1715b1cd86","name":"","topic":"Matlab_to_IED7/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":660,"wires":[["73ad197d3989843d"]]},{"id":"f0cb5e91e2dce6a1","type":"mqtt out","z":"6b7aafc1badffb13","name":"MQTT CB7 Channel","topic":"IED7_to_CB/CB7_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0762864b10a69549","x":660,"y":360,"wires":[]},{"id":"dca0b8e0ed294557","type":"debug","z":"6b7aafc1badffb13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"7ab1822ad6016700","type":"function","z":"6b7aafc1badffb13","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f5_current1\");\nvar obtainI2 = global.get(\"f5_current2\");\nvar obtainI3 = global.get(\"f5_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch7\");\nvar scadaswitch_status= global.get(\"scadaswitch7\");\n\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n \nglobal.set('cb_status', cb_decision)\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + b\n\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["f0cb5e91e2dce6a1","dca0b8e0ed294557"]]},{"id":"275e3133c95e30c9","type":"function","z":"6b7aafc1badffb13","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 24 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["a5607feca34c713a","ef2743a5594be47e"]]},{"id":"201a4e115ca54308","type":"debug","z":"6b7aafc1badffb13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"a5607feca34c713a","type":"modbus-flex-write","z":"6b7aafc1badffb13","name":"","showStatusActivities":false,"showErrors":false,"server":"c661942b44deee32","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["201a4e115ca54308"],[]]},{"id":"2195c396073e74ba","type":"function","z":"6b7aafc1badffb13","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f5_current1\");\nvar obtainI2 = global.get(\"f5_current2\");\nvar obtainI3 = global.get(\"f5_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["275e3133c95e30c9"]]},{"id":"ef2743a5594be47e","type":"debug","z":"6b7aafc1badffb13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"9fb01d21ee5d7bd5","type":"inject","z":"6b7aafc1badffb13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["2195c396073e74ba","7ab1822ad6016700"]]},{"id":"dfac943adc540041","type":"comment","z":"6b7aafc1badffb13","name":"SCADA Dashboard 's switch","info":"","x":300,"y":540,"wires":[]},{"id":"69fb769b65fd5fad","type":"comment","z":"6b7aafc1badffb13","name":"IED's dashboard switch","info":"","x":260,"y":440,"wires":[]},{"id":"e5ca9adfaca3ef28","type":"ui_switch","z":"6b7aafc1badffb13","name":"switch_status","label":"IED7 Circuit breaker 7 switch","tooltip":"","group":"9fa04bf3b72bc2e7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":300,"y":480,"wires":[["170552c4e07d4d93"]]},{"id":"170552c4e07d4d93","type":"function","z":"6b7aafc1badffb13","name":"","func":"global.set('switch7', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[[]]},{"id":"addbd6b2964c01e9","type":"function","z":"6b7aafc1badffb13","name":"","func":"var switch_status = global.get(\"switch7\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":480,"wires":[["1233ab1b317e0477"]]},{"id":"1233ab1b317e0477","type":"debug","z":"6b7aafc1badffb13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":480,"wires":[]},{"id":"e6916d9681594b1a","type":"inject","z":"6b7aafc1badffb13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":670,"y":480,"wires":[["addbd6b2964c01e9"]]},{"id":"4b41dd07cdefbe73","type":"modbus-read","z":"6b7aafc1badffb13","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"557","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f26433a1fa586253","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":290,"y":600,"wires":[["f201e178c1330acf"],[]]},{"id":"f201e178c1330acf","type":"function","z":"6b7aafc1badffb13","name":"","func":"global.set('scadaswitch7', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[[]]},{"id":"4d0471695ed3063d","type":"function","z":"6b7aafc1badffb13","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch7\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":600,"wires":[["9557634a7cb64d39"]]},{"id":"9557634a7cb64d39","type":"debug","z":"6b7aafc1badffb13","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":600,"wires":[]},{"id":"a40b19df5054c4c4","type":"inject","z":"6b7aafc1badffb13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":690,"y":600,"wires":[["4d0471695ed3063d"]]},{"id":"a855db8c4a29409f","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["7d3aa93ac2d4c7e8"]]},{"id":"4c9d0f451cb02695","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["5241263be3b80c01"]]},{"id":"2f36f9b444868e20","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["dd216f75dfdece3c"]]},{"id":"9a3594cb4acee5e6","type":"function","z":"5c6030feda878b11","name":"","func":"var d = global.get('f5_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["691ee3b9bbc82f19"]]},{"id":"bc2411083e67bc41","type":"function","z":"5c6030feda878b11","name":"","func":"var d = global.get('f5_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["61431e703f71ac47"]]},{"id":"0bae3fae36ddd3f1","type":"function","z":"5c6030feda878b11","name":"","func":"var d = global.get('f5_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["def1dbee62f0fe82"]]},{"id":"94598842ca5420cf","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["726e18c9540d0b2c"]]},{"id":"3e7c0d44d14f7323","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["f791e378550d852d"]]},{"id":"f465c396efe3d676","type":"function","z":"5c6030feda878b11","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["8049c0db24a1eeab"]]},{"id":"7d3aa93ac2d4c7e8","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"5241263be3b80c01","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":2,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"dd216f75dfdece3c","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":3,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"691ee3b9bbc82f19","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":4,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"61431e703f71ac47","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":5,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"def1dbee62f0fe82","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":6,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"726e18c9540d0b2c","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":7,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"f791e378550d852d","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":8,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"8049c0db24a1eeab","type":"ui_text","z":"5c6030feda878b11","group":"d36a3b61006aacec","order":9,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"efe9179ed96bbf83","type":"function","z":"5c6030feda878b11","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f5_current1');\nvar obtainI2 = global.get('f5_current2');\nvar obtainI3 = global.get('f5_current3');\nvar switch_status= global.get(\"switch7\");\nvar scadaswitch_status= global.get(\"scadaswitch7\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F5CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event)\n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737,"y":941,"wires":[["9c096db6aab13d3e"]]},{"id":"4c1c998141561ac6","type":"inject","z":"5c6030feda878b11","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":477,"y":941,"wires":[["efe9179ed96bbf83"]]},{"id":"1799157902029a43","type":"inject","z":"5c6030feda878b11","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":457,"y":901,"wires":[["16c481be409d8f0a"]]},{"id":"16c481be409d8f0a","type":"change","z":"5c6030feda878b11","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":901,"wires":[[]]},{"id":"9c096db6aab13d3e","type":"ui_table","z":"5c6030feda878b11","group":"97e072224a90bf46","name":"","order":1,"width":14,"height":6,"columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":897,"y":941,"wires":[]},{"id":"f467d3ae41e41026","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/vphase1","qos":"2","datatype":"auto","broker":"c780804574035f33","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":320,"wires":[["a855db8c4a29409f"]]},{"id":"7cefdf462acc582e","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/vphase2","qos":"2","datatype":"auto","broker":"b75c2e5d44c8c685","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":380,"wires":[["4c9d0f451cb02695"]]},{"id":"0b9d7e12cdbbe999","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/vphase3","qos":"2","datatype":"auto","broker":"6f3d438ec2dfc7bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":440,"wires":[["2f36f9b444868e20"]]},{"id":"5cf3753f0c526592","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/iphase1","qos":"2","datatype":"auto","broker":"3abdb6fbc2437e51","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":500,"wires":[["9a3594cb4acee5e6"]]},{"id":"9d4c33dd4dba36d9","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/iphase2","qos":"2","datatype":"auto","broker":"c1a3a17b7fb52573","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":560,"wires":[["bc2411083e67bc41"]]},{"id":"cb18a2fc215dbff1","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/iphase3","qos":"2","datatype":"auto","broker":"28dd6d951f6889f1","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":620,"wires":[["0bae3fae36ddd3f1"]]},{"id":"d25f03e6df246db0","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/freq","qos":"2","datatype":"auto","broker":"a9109174f89c9db7","nl":false,"rap":true,"rh":0,"inputs":0,"x":550,"y":680,"wires":[["94598842ca5420cf"]]},{"id":"5eadd548e70975ed","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/voltage_N","qos":"2","datatype":"auto","broker":"64d2a851e3b6ce54","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":740,"wires":[["3e7c0d44d14f7323"]]},{"id":"aa8806d24b762238","type":"mqtt in","z":"5c6030feda878b11","name":"","topic":"Matlab_to_IED7/current_N","qos":"2","datatype":"auto","broker":"39ca2212f01664f2","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":800,"wires":[["f465c396efe3d676"]]},{"id":"e2f3b6e383a1382b","type":"inject","z":"95b7800688d21a43","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied7(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["f1d436d03f1d37a4"]]},{"id":"dafc34fbfc0afa65","type":"debug","z":"95b7800688d21a43","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"4d75b74a78b53596","type":"inject","z":"95b7800688d21a43","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied7 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["f1d436d03f1d37a4"]]},{"id":"ebae24fe6be72596","type":"inject","z":"95b7800688d21a43","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied7 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["e14bd266729d9c3f"]]},{"id":"b34542ae1efe22ff","type":"ui_template","z":"95b7800688d21a43","group":"9344b02954ac44a2","name":"Database F5 IED7 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":80,"wires":[[]]},{"id":"f1d436d03f1d37a4","type":"sqlite","z":"95b7800688d21a43","mydb":"897f34e01c7994cc","sqlquery":"msg.topic","sql":"","name":"Database F5 IED7 IN","x":660,"y":200,"wires":[["dafc34fbfc0afa65"]]},{"id":"861bcab0ce289c46","type":"inject","z":"95b7800688d21a43","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["fb6a9e284f6414bf"]]},{"id":"fb6a9e284f6414bf","type":"function","z":"95b7800688d21a43","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied7 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["80488a5ec76e9787","10fbb44c8d0dfe2c"]]},{"id":"80488a5ec76e9787","type":"debug","z":"95b7800688d21a43","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"e14bd266729d9c3f","type":"sqlite","z":"95b7800688d21a43","mydb":"897f34e01c7994cc","sqlquery":"msg.topic","sql":"","name":"Database F5 IED7 IN","x":660,"y":80,"wires":[["b34542ae1efe22ff"]]},{"id":"6a9c7980402005e1","type":"catch","z":"95b7800688d21a43","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["cb1086e284a5e847","1c4bc510998cb691"]]},{"id":"cb1086e284a5e847","type":"debug","z":"95b7800688d21a43","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"ef21681c71949c69","type":"ui_text","z":"95b7800688d21a43","group":"222a3748ac1ad088","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"1c4bc510998cb691","type":"function","z":"95b7800688d21a43","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["ef21681c71949c69"]]},{"id":"9a507284e7902628","type":"inject","z":"95b7800688d21a43","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied7","payload":"","payloadType":"date","x":340,"y":260,"wires":[["f1d436d03f1d37a4"]]},{"id":"591408b768a95ff1","type":"function","z":"95b7800688d21a43","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"6b951b430179e6e4","type":"inject","z":"95b7800688d21a43","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["591408b768a95ff1"]]},{"id":"10fbb44c8d0dfe2c","type":"delay","z":"95b7800688d21a43","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["f1d436d03f1d37a4"]]},{"id":"6b9a5db978a4fa1e","type":"inject","z":"7d4846fc1e7a47bd","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied7(TIMESTAMP TEXT NOT NULL,F5CBStatus TEXT NOT NULL,F5CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["1fb18e859f731dcf"]]},{"id":"caceda4f5381c325","type":"debug","z":"7d4846fc1e7a47bd","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":220,"wires":[]},{"id":"f135678d78ddaec7","type":"inject","z":"7d4846fc1e7a47bd","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied7 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["1fb18e859f731dcf"]]},{"id":"ef510a38219b4da0","type":"inject","z":"7d4846fc1e7a47bd","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied7 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["7c451dd21be63ce7"]]},{"id":"5e71988f34d7f14a","type":"ui_template","z":"7d4846fc1e7a47bd","group":"42737fb21b0201ec","name":"Database F5 IED7 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F5CBStatus</th>\n    <th>F5CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F5CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F5CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":830,"y":100,"wires":[[]]},{"id":"1fb18e859f731dcf","type":"sqlite","z":"7d4846fc1e7a47bd","mydb":"f1de55f096320e8a","sqlquery":"msg.topic","sql":"","name":"Database F5 IED7 OUT","x":590,"y":220,"wires":[["caceda4f5381c325"]]},{"id":"7aa3d2f690c6191f","type":"inject","z":"7d4846fc1e7a47bd","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["359e6b52890ad398"]]},{"id":"359e6b52890ad398","type":"function","z":"7d4846fc1e7a47bd","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 22);\nvar F5CBStatus=global.get(\"F5CBStatus\");\nvar F5CBEvent=global.get(\"F5CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F5CBStatus,F5CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F5CBStatus + \"\\',\\'\" + F5CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied7 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["964a44851156489f","94ec62fd7a9bdcb0"]]},{"id":"964a44851156489f","type":"debug","z":"7d4846fc1e7a47bd","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"7c451dd21be63ce7","type":"sqlite","z":"7d4846fc1e7a47bd","mydb":"f1de55f096320e8a","sqlquery":"msg.topic","sql":"","name":"Database F5 IED7 OUT","x":590,"y":100,"wires":[["5e71988f34d7f14a"]]},{"id":"214bdf78028949d3","type":"catch","z":"7d4846fc1e7a47bd","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["b0d1d93b03773c87","239f8d9bef335de6"]]},{"id":"b0d1d93b03773c87","type":"debug","z":"7d4846fc1e7a47bd","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"a9de4009af1992ba","type":"ui_text","z":"7d4846fc1e7a47bd","group":"222a3748ac1ad088","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"239f8d9bef335de6","type":"function","z":"7d4846fc1e7a47bd","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["a9de4009af1992ba"]]},{"id":"de06a5b5ba75ae4a","type":"inject","z":"7d4846fc1e7a47bd","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied7","payload":"","payloadType":"date","x":220,"y":280,"wires":[["1fb18e859f731dcf"]]},{"id":"5d785ca8b338f3bd","type":"function","z":"7d4846fc1e7a47bd","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"c8de417f0130859d","type":"inject","z":"7d4846fc1e7a47bd","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["5d785ca8b338f3bd"]]},{"id":"94ec62fd7a9bdcb0","type":"delay","z":"7d4846fc1e7a47bd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["1fb18e859f731dcf"]]},{"id":"e1dd61694a96ac9f","type":"mqtt in","z":"7d4846fc1e7a47bd","name":"","topic":"IED7_to_CB/CB7_status","qos":"2","datatype":"auto","broker":"be5174d991dff65a","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["eb2df5d29b070fe0","dafbc768895f59f6"]]},{"id":"eb2df5d29b070fe0","type":"function","z":"7d4846fc1e7a47bd","name":"","func":"global.set('F5CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"dafbc768895f59f6","type":"debug","z":"7d4846fc1e7a47bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"d7a5114d116c6cb4","type":"modbus-flex-write","z":"f1b19e521a301842","name":"","showStatusActivities":false,"showErrors":false,"server":"46454ea7540d390e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":950,"y":260,"wires":[["ef251d331d995b56"],[]]},{"id":"ef251d331d995b56","type":"debug","z":"f1b19e521a301842","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]},{"id":"ac402a70a411c217","type":"comment","z":"f1b19e521a301842","name":"Sending all Values to SCADA for Monitoring","info":"","x":490,"y":200,"wires":[]},{"id":"f3956aef82965ada","type":"function","z":"f1b19e521a301842","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 200, \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":340,"wires":[["d7a5114d116c6cb4"]]},{"id":"bbae90fd3f91ee2e","type":"inject","z":"f1b19e521a301842","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":340,"wires":[["ff8781434502e548"]]},{"id":"ff8781434502e548","type":"function","z":"f1b19e521a301842","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f5_current1');\nvar e = global.get('f5_current2');\nvar f = global.get('f5_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["f3956aef82965ada"]]}]