04 Json Files/IED Files/ied9.json
[{"id":"34dcecd5cff7c767","type":"tab","label":"Matlab to Feeder 7","disabled":false,"info":""},{"id":"5a23ad1b4b85eaa1","type":"tab","label":"Feeder 7 IED CB Decision","disabled":false,"info":"","env":[]},{"id":"2eb0b5d3f57c4191","type":"tab","label":"Feeder 7 IED Dashboard","disabled":false,"info":""},{"id":"362aef8ca4ff685e","type":"tab","label":"PI_F7_IED9 IN DB","disabled":false,"info":""},{"id":"02cd42a42ef4a2b1","type":"tab","label":"PI_F7_IED9 OUT DB","disabled":false,"info":""},{"id":"d502c7f640c35b55","type":"tab","label":"Feeder 7 IED to Scada","disabled":false,"info":"","env":[]},{"id":"9a90f1e07a080d2c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"14d8de8b997f2ec1","type":"mqtt-broker","name":"","broker":"192.168.0.124","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3579f488f93e95ea","type":"mqtt-broker","name":"Heroku Cloud","broker":"driver.cloudmqtt.com","port":"18833","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"089d0140f0e9cc9d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1496ebd7298389f5","type":"ui_group","name":"home","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"98a461f92a66aefd","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"249c28c2b0919c9b","type":"mqtt-broker","name":"Testing MQTT broker","broker":"172.20.10.14","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7177562104f471cc","type":"mqtt-broker","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"MSwRNSEaIQwaDD0rMBQxFxc","usetls":false,"protocolVersion":"4","keepalive":"6000","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c371bdccf1ba1c49","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"40fbfa8b2fcbfc5c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9919b598742083e9","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b93bba2408f07590","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"9bfb6eacc2aeeb4e","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b8b8c748220b68f4","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.115","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"f3cae711c24d0720","type":"modbus-client","name":"rasppi","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"eccb447bbda8a8c6","type":"ui_group","name":"MGC Control Panel","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cdca3c39dcbfeeb9","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"93bdfbbc2dc95174","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"614e30f1f7090e82","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"196086fdd0fad5b0","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9423ca208d3d5eaa","type":"ui_group","name":"Values","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e0b4e9eec58427e","type":"ui_group","name":"Status","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"140b097f4cdbf6c9","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"fe9e56b974c95576","type":"ui_group","name":"Control","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"a8d2544fe096c3fd","type":"ui_group","name":"Event Recording","tab":"","order":1,"disp":true,"width":"12","collapse":true},{"id":"1030b4ce1b2c019c","type":"ui_group","name":"IED","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"98e48f6906ab1e58","type":"ui_group","name":"HT-SP-Q01","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"739607db1f382042","type":"ui_group","name":"HT-SS1-Q01A","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"b9317a2d3cc7efa5","type":"ui_group","name":"HT-SS1-Q01B","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"8de9392ac720add4","type":"ui_group","name":"HT-SS1-Q02","tab":"","order":6,"disp":true,"width":"6","collapse":true},{"id":"f951d6daaa82208f","type":"ui_group","name":"LT-MGB-Q01A","tab":"","order":7,"disp":true,"width":"6","collapse":true},{"id":"7decfb1e89526542","type":"ui_group","name":"LT-MGB-Q01B","tab":"","order":8,"disp":true,"width":"6","collapse":true},{"id":"b40b7ac152b87058","type":"ui_group","name":"LT-MGB-Q02","tab":"","order":9,"disp":true,"width":"6","collapse":true},{"id":"fd35cfcd701926d4","type":"ui_group","name":"LT-MGB-Q03","tab":"","order":10,"disp":true,"width":"6","collapse":true},{"id":"1c5f15df4133f5ce","type":"ui_group","name":"LT-MGB-Q04","tab":"","order":11,"disp":true,"width":"6","collapse":true},{"id":"53083373b20449af","type":"ui_group","name":"WDB1-Q01A","tab":"","order":12,"disp":true,"width":"6","collapse":true},{"id":"4520ddee9d655c09","type":"ui_group","name":"WDB1-Q01B","tab":"","order":13,"disp":true,"width":"6","collapse":true},{"id":"5f71df533b061d0f","type":"ui_group","name":"HT-SP-Q01","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"1fbc36e36c1c29da","type":"ui_group","name":"HT-SS1-Q01A","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"26f49e7fbc4e4e0e","type":"ui_group","name":"HT-SS1-Q01B","tab":"","order":3,"disp":true,"width":"6","collapse":true},{"id":"0041a19cfd263ace","type":"ui_group","name":"LT-MGB-Q01A","tab":"","order":4,"disp":true,"width":"6","collapse":true},{"id":"0292c7f140636c1a","type":"ui_group","name":"LT-MGB-Q01B","tab":"","order":5,"disp":true,"width":"6","collapse":true},{"id":"f9e3f7fe62e6d2d3","type":"ui_group","name":"LT-MGB-Q02","tab":"","order":6,"disp":true,"width":"6","collapse":true},{"id":"1f9b2a018871f7e8","type":"ui_group","name":"LT-MGB-Q04","tab":"","order":7,"disp":true,"width":"6","collapse":true},{"id":"12f203e436c8936a","type":"ui_group","name":"DI1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"36cfe0e24462d5eb","type":"ui_group","name":"DI 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"effda744a26126d3","type":"ui_group","name":" ","tab":"","order":2,"disp":true,"width":"19","collapse":false},{"id":"c78608f2947c9cde","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":6,"collapse":false},{"id":"f3c5629b8ee3cd32","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"4563431b41b61503","type":"ui_group","name":"SLD","tab":"","order":1,"disp":true,"width":26,"collapse":false},{"id":"b63582215eba4118","type":"ui_group","name":"Graphics","tab":"","order":2,"disp":true,"width":"20","collapse":false},{"id":"9726988545e58634","type":"ui_group","name":"Controls","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa38d72dda7bd445","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"0c4797b551bc5dee","type":"ui_group","name":"SLD","tab":"307bf661.b180da","order":1,"disp":false,"width":19,"collapse":false},{"id":"5e4c3b042729974c","type":"ui_group","name":"Group 2","tab":"307bf661.b180da","order":2,"disp":true,"width":"6","collapse":true},{"id":"e9b00da863ec6cef","type":"mqtt-broker","name":"","broker":"ec2-13-251-128-198.ap-southeast-1.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"0a1e365c1a914cea","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"fa0abc691ac4a369","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"0c93210d6397db7c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"be7f2b78c735471c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8155cffa94617172","type":"mqtt-broker","name":"","broker":"tcp://driver.cloudmqtt.com:18833","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"061c27992f608148","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.103","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"6057960e0d884ca1","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"5e34013b55dac4dd","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.54","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"5d48964631673d3d","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e73ac6db353e9ae0","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.122","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"dd6ff1662603f605","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"9","collapse":true},{"id":"0577d89a8615025c","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.106","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e5040b53c3bcf9c4","type":"ui_group","name":"IED 9","tab":"7112f6909d5a00a7","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"6de3267eb8316234","type":"ui_group","name":"Event Recording","tab":"7112f6909d5a00a7","order":1,"disp":true,"width":14,"collapse":true},{"id":"7112f6909d5a00a7","type":"ui_tab","name":"Meters","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2c4061714f3108a0","type":"ui_group","name":"Group 8","tab":"","order":8,"disp":true,"width":6},{"id":"a8e2c11e0cc688a6","type":"ui_group","name":"Group 9","tab":"","order":9,"disp":true,"width":6},{"id":"a61ab95e5621e1bb","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8b8050de2754b57a","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a817b915b7236d03","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"87fb9f65b8fa1908","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6fb0ac00196d8683","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ee626d3545d7ee9b","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e6dc22e8f7e48826","type":"mqtt-broker","name":"","broker":"192.168.0.113","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d14dfc45d16552a8","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"186d963fed94c835","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7df85764da633255","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a78642f3c7523d56","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"24b5647c38eb4f5e","type":"ui_group","name":"Database F7 IED9 IN","tab":"685c61649c20c8f3","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"7e918a73b3a48b73","type":"sqlitedb","db":"/tmp/pi_f7_ied9","mode":"RWC"},{"id":"bdcb325aba0d02b5","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5aa6e35bd852f933","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"97313b564f73036d","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"495caf743ba14744","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b8383686f1247d4f","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1b0a4ea93849dfef","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c24d30839e522686","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bab1a243bed8519d","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"69d443c142e3fe64","type":"mqtt-broker","name":"","broker":"192.168.0.115","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3c1446b25dd2b924","type":"ui_group","name":"Read Result","tab":"1548869e03fc6311","order":3,"disp":true,"width":"18","collapse":false,"className":""},{"id":"16efe5f3ec686d9c","type":"sqlitedb","db":"/tmp/sqlite2","mode":"RWC"},{"id":"f6aabb0942a26dc4","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"685c61649c20c8f3","type":"ui_tab","name":"Database F7 IED9 IN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"52bcde50f5cf9b18","type":"ui_tab","name":"Home","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"1548869e03fc6311","type":"ui_tab","name":"Database F7 IED9 OUT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f89f37e84aa43e11","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"75bcf94e073f62f3","type":"mqtt-broker","name":"","broker":"192.168.0.123","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"395a3c67253d4989","type":"mqtt-broker","name":"","broker":"192.168.0.122","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2abf1957ccea5573","type":"mqtt-broker","name":"","broker":"192.168.0.121","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"17fb7879e995a187","type":"mqtt-broker","name":"","broker":"192.168.0.120","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d80ae8d851009e09","type":"mqtt-broker","name":"","broker":"192.168.0.119","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4a593d3541a87714","type":"mqtt-broker","name":"","broker":"192.168.0.116","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1f4dbad714277170","type":"mqtt-broker","name":"","broker":"192.168.0.118","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f5f7f39f91ac89cc","type":"mqtt-broker","name":"","broker":"192.168.0.117","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"928012c9667198db","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a35f78fd46e21a41","type":"mqtt-broker","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7ca7c3fd2fa06710","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9fa04bf3b72bc2e7","type":"ui_group","name":"IED9 CB Manual Control","tab":"7112f6909d5a00a7","order":3,"disp":true,"width":"5","collapse":false,"className":""},{"id":"f26433a1fa586253","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b5ba425c3f4e0da9","type":"modbus-client","name":"PyModbus Server","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.200","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"435e0da4c451080a","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":180,"wires":[["e0a5722fa05ca78a"]]},{"id":"9b9cb65d6398dd49","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/vphase2","qos":"2","datatype":"auto","broker":"186d963fed94c835","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":240,"wires":[["c1968ec810f6b11e"]]},{"id":"0699a888e2e5c54f","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/vphase3","qos":"2","datatype":"auto","broker":"d14dfc45d16552a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":300,"wires":[["3a086b5f0520efb8"]]},{"id":"b0934836e0bd13e6","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/iphase1","qos":"2","datatype":"auto","broker":"e6dc22e8f7e48826","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":360,"wires":[["c4095548c4b2293a"]]},{"id":"338323f01182012b","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/iphase2","qos":"2","datatype":"auto","broker":"ee626d3545d7ee9b","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":420,"wires":[["9401cd4d364758ce"]]},{"id":"8830bc21d889566c","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/iphase3","qos":"2","datatype":"auto","broker":"6fb0ac00196d8683","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":480,"wires":[["e372fd3dfddff21a"]]},{"id":"777b31efe96dd055","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/freq","qos":"2","datatype":"auto","broker":"87fb9f65b8fa1908","nl":false,"rap":true,"rh":0,"inputs":0,"x":730,"y":540,"wires":[["dd911a49ebc4351a"]]},{"id":"664c605ecd8b7d71","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/voltage_N","qos":"2","datatype":"auto","broker":"a817b915b7236d03","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":600,"wires":[["d0b2711585ebe2d9"]]},{"id":"2233ae794f9d70a2","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/current_N","qos":"2","datatype":"auto","broker":"8b8050de2754b57a","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":660,"wires":[["fe0bc90fc40a9b91"]]},{"id":"e0a5722fa05ca78a","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('voltage1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[[]]},{"id":"ab6e0463f7248085","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainV = global.get(\"voltage1\");\nmsg.payload = obtainV;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":180,"wires":[["e52b69eecd09e83f"]]},{"id":"e52b69eecd09e83f","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":180,"wires":[]},{"id":"dee7b14b590b0f28","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":180,"wires":[["ab6e0463f7248085"]]},{"id":"c1968ec810f6b11e","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('voltage2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[[]]},{"id":"d43e3c6abb7b47d3","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainV2 = global.get(\"voltage2\");\nmsg.payload = obtainV2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["5784d7586985f978"]]},{"id":"5784d7586985f978","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"e427bb606e44f26b","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":240,"wires":[["d43e3c6abb7b47d3"]]},{"id":"3a086b5f0520efb8","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('voltage3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":300,"wires":[[]]},{"id":"609ff7957672661d","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainV3 = global.get(\"voltage3\");\nmsg.payload = obtainV3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":300,"wires":[["151ed63fd5896852"]]},{"id":"151ed63fd5896852","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":300,"wires":[]},{"id":"2f05bf061325ccdc","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":300,"wires":[["609ff7957672661d"]]},{"id":"c4095548c4b2293a","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('current1', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":360,"wires":[[]]},{"id":"d4e06968b98ef9f0","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainI = global.get(\"current1\");\nmsg.payload = obtainI;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":360,"wires":[["52684f02c6b12321"]]},{"id":"52684f02c6b12321","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":360,"wires":[]},{"id":"d22cfb5671d21ec8","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":360,"wires":[["d4e06968b98ef9f0"]]},{"id":"9401cd4d364758ce","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('current2', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[[]]},{"id":"3aae1fefa10d23e4","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainI2 = global.get(\"current2\");\nmsg.payload = obtainI2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":420,"wires":[["023cd43fbdfd3c9d"]]},{"id":"023cd43fbdfd3c9d","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":420,"wires":[]},{"id":"44bee22e398adbee","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":420,"wires":[["3aae1fefa10d23e4"]]},{"id":"e372fd3dfddff21a","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('current3', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[[]]},{"id":"fa061cab277c2bab","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainI3 = global.get(\"current3\");\nmsg.payload = obtainI3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":480,"wires":[["b0c3660bb2065032"]]},{"id":"b0c3660bb2065032","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":480,"wires":[]},{"id":"1fd903a19bcc99ea","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":480,"wires":[["fa061cab277c2bab"]]},{"id":"dd911a49ebc4351a","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('Frequency', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":540,"wires":[[]]},{"id":"909234389948f280","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainF = global.get(\"Frequency\");\nmsg.payload = obtainF;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["b55b808d592329c9"]]},{"id":"b55b808d592329c9","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":540,"wires":[]},{"id":"20a85bab5f944876","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":540,"wires":[["909234389948f280"]]},{"id":"d0b2711585ebe2d9","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('voltageN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[[]]},{"id":"1779ec1870213ee1","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainVn = global.get(\"voltageN\");\nmsg.payload = obtainVn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":600,"wires":[["33aa1028933713ab"]]},{"id":"33aa1028933713ab","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":600,"wires":[]},{"id":"b02d4ac00342bade","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":600,"wires":[["1779ec1870213ee1"]]},{"id":"fe0bc90fc40a9b91","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('currentN', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"c7e8b3aa90e58ebc","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtainIn = global.get(\"currentN\");\nmsg.payload = obtainIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["3b399bfbcc156041"]]},{"id":"3b399bfbcc156041","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":660,"wires":[]},{"id":"dde56eee01be6abe","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":660,"wires":[["c7e8b3aa90e58ebc"]]},{"id":"08c8ca6f852e6705","type":"mqtt in","z":"34dcecd5cff7c767","name":"","topic":"Matlab_to_IED9/load","qos":"2","datatype":"auto","broker":"a61ab95e5621e1bb","nl":false,"rap":true,"rh":0,"inputs":0,"x":740,"y":720,"wires":[["f465a24dbefae14d"]]},{"id":"f465a24dbefae14d","type":"function","z":"34dcecd5cff7c767","name":"","func":"global.set('f7_load', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[[]]},{"id":"40e83e34f4c096fb","type":"function","z":"34dcecd5cff7c767","name":"","func":"var obtain_load = global.get(\"f7_load\");\nmsg.payload = obtain_load;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":720,"wires":[["e583938856be0e9f"]]},{"id":"e583938856be0e9f","type":"debug","z":"34dcecd5cff7c767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":720,"wires":[]},{"id":"23dfec5163b4ee04","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1210,"y":720,"wires":[["40e83e34f4c096fb"]]},{"id":"3efeb3b6021470b4","type":"inject","z":"34dcecd5cff7c767","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":780,"wires":[["c19f99c4ecc11169"]]},{"id":"c19f99c4ecc11169","type":"function","z":"34dcecd5cff7c767","name":"Calculating Load","func":"var obtainI = global.get(\"current1\");\nvar obtainI2 = global.get(\"current2\");\nvar obtainI3 = global.get(\"current3\");\nvar obtainL = global.get(\"f7_load\");\n\nvar f7_current1 = obtainI*(obtainL/45);\nvar f7_current2 = obtainI2*(obtainL/45);\nvar f7_current3 = obtainI3*(obtainL/45);\n\nglobal.set('f7_current1', f7_current1)\nglobal.set('f7_current2', f7_current2)\nglobal.set('f7_current3', f7_current3)\n\nmsg.payload = f7_current2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["5571f2fe3d2127f9"]]},{"id":"5571f2fe3d2127f9","type":"debug","z":"34dcecd5cff7c767","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":780,"wires":[]},{"id":"1bb15f3ec4dab068","type":"mqtt out","z":"5a23ad1b4b85eaa1","name":"MQTT CB9 Channel","topic":"IED9_to_CB/CB9_status","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7df85764da633255","x":660,"y":360,"wires":[]},{"id":"abe3cd96e12826c1","type":"debug","z":"5a23ad1b4b85eaa1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"9ef0cb7502f386d5","type":"function","z":"5a23ad1b4b85eaa1","name":"CB Decision","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f7_current1\");\nvar obtainI2 = global.get(\"f7_current2\");\nvar obtainI3 = global.get(\"f7_current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_decision;\nvar ov_status;\nvar oc_status;\nvar switch_status= global.get(\"switch9\");\nvar scadaswitch_status= global.get(\"scadaswitch9\");\n\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n} else \n{\n    oc_status = 0;\n}\n\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_decision = 'Open';\n } \n    else if (ov_status == 1)\n {\n    cb_decision = 'Open';\n }\n    else if (obtainF > 55)\n {\n    cb_decision = 'Open';\n }\n    else if  (oc_status == 1)\n {\n    cb_decision = 'Open';\n }\n   else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';       \n}\n    else {\n    cb_decision = 'Closed';\n }\n\nvar a = global.get('event');\nvar b = global.get('cb_status');\nvar c = \"Event: \" + a + \" | CB Status: \" + cb_decision;\nmsg.payload = c;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["1bb15f3ec4dab068","abe3cd96e12826c1"]]},{"id":"a025435f3683d71d","type":"function","z":"5a23ad1b4b85eaa1","name":"","func":"msg.payload = { \n    value: msg.payload, \n    'fc': 6, \n    'unitid': 2, \n    'address': 26 , \n    'quantity': 1 \n    \n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["d026df735938c326","e9420c8947f11a55"]]},{"id":"53d39c8d9e4b793c","type":"debug","z":"5a23ad1b4b85eaa1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"d026df735938c326","type":"modbus-flex-write","z":"5a23ad1b4b85eaa1","name":"","showStatusActivities":false,"showErrors":false,"server":"a78642f3c7523d56","emptyMsgOnFail":false,"keepMsgProperties":false,"x":870,"y":280,"wires":[["53d39c8d9e4b793c"],[]]},{"id":"625b7ad3fe23e17b","type":"function","z":"5a23ad1b4b85eaa1","name":"Calculate Total Power","func":"var obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\nvar obtainI = global.get(\"f7_current1\");\nvar obtainI2 = global.get(\"f7_current2\");\nvar obtainI3 = global.get(\"f7_current3\");\nvar power1;\nvar power2;\nvar power3;\nvar total_power;\n\npower1 = obtainV*obtainI;\npower2 = obtainV2*obtainI2;\npower3 = obtainV3*obtainI3;\ntotal_power = power1 + power2 + power3;\n\nmsg.payload = total_power;\nglobal.set('total_power', total_power)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":280,"wires":[["a025435f3683d71d"]]},{"id":"e9420c8947f11a55","type":"debug","z":"5a23ad1b4b85eaa1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"03b4810e468f8e22","type":"inject","z":"5a23ad1b4b85eaa1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":280,"wires":[["625b7ad3fe23e17b","9ef0cb7502f386d5"]]},{"id":"f383190a5d593077","type":"comment","z":"5a23ad1b4b85eaa1","name":"SCADA Dashboard 's switch","info":"","x":260,"y":520,"wires":[]},{"id":"c256a54049aa523e","type":"comment","z":"5a23ad1b4b85eaa1","name":"IED's dashboard switch","info":"","x":220,"y":420,"wires":[]},{"id":"7afaec981ac38dd4","type":"ui_switch","z":"5a23ad1b4b85eaa1","name":"switch_status","label":"IED9 Circuit breaker 9 switch","tooltip":"","group":"9fa04bf3b72bc2e7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":260,"y":460,"wires":[["2666d1c737f296c3"]]},{"id":"2666d1c737f296c3","type":"function","z":"5a23ad1b4b85eaa1","name":"","func":"global.set('switch9', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[[]]},{"id":"b6177f1f64203a4b","type":"function","z":"5a23ad1b4b85eaa1","name":"","func":"var switch_status = global.get(\"switch9\");\nmsg.payload = switch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":460,"wires":[["f7a96ceb1df3afde"]]},{"id":"f7a96ceb1df3afde","type":"debug","z":"5a23ad1b4b85eaa1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]},{"id":"02e35021ad121429","type":"inject","z":"5a23ad1b4b85eaa1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":630,"y":460,"wires":[["b6177f1f64203a4b"]]},{"id":"2535fbead8d01e15","type":"modbus-read","z":"5a23ad1b4b85eaa1","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"559","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f26433a1fa586253","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":580,"wires":[["4849d252767a75c3"],[]]},{"id":"4849d252767a75c3","type":"function","z":"5a23ad1b4b85eaa1","name":"","func":"global.set('scadaswitch9', msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":580,"wires":[[]]},{"id":"54f831ddf79894ad","type":"function","z":"5a23ad1b4b85eaa1","name":"","func":"var scadaswitch_status = global.get(\"scadaswitch9\");\nmsg.payload = scadaswitch_status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":580,"wires":[["71bb722521c7eb68"]]},{"id":"71bb722521c7eb68","type":"debug","z":"5a23ad1b4b85eaa1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":580,"wires":[]},{"id":"3305af2941b7859c","type":"inject","z":"5a23ad1b4b85eaa1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":650,"y":580,"wires":[["54f831ddf79894ad"]]},{"id":"2d75c36276657a40","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;\n\n//if(msg.payload > '220')\n //{\n//      msg.payload = 'value exceeded';\n// } \n// else {\n //    msg.payload = msg.payload;\n// }\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["02c3d0a20dc25c51"]]},{"id":"af0658e5a663f9d9","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["e6da854872bdbc29"]]},{"id":"630454b08ac33f65","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["7958186bd58c88d6"]]},{"id":"026e926e5d2e3f19","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = global.get('f7_current1');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["291c16fc65b74206"]]},{"id":"d8663a2cbc0583f5","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = global.get('f7_current2');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["00a0f32d35d3ca44"]]},{"id":"a8efe3a6b2f9c8e6","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = global.get('f7_current3');\nmsg.payload = parseFloat(d).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":620,"wires":[["4acc6c51b3dde42e"]]},{"id":"81556c115146f016","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":680,"wires":[["92d20bbce1443095"]]},{"id":"16213e451808aa8d","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["9cc853994cd9a695"]]},{"id":"5ed38fdf6b140e89","type":"function","z":"2eb0b5d3f57c4191","name":"","func":"var d = msg.payload;\nmsg.payload = parseFloat(d);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":800,"wires":[["3438b81544acf303"]]},{"id":"02c3d0a20dc25c51","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":1,"width":0,"height":0,"name":"","label":"Phase A Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":320,"wires":[]},{"id":"e6da854872bdbc29","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":3,"width":0,"height":0,"name":"","label":"Phase B Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":380,"wires":[]},{"id":"7958186bd58c88d6","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":5,"width":0,"height":0,"name":"","label":"Phase C Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1110,"y":440,"wires":[]},{"id":"291c16fc65b74206","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":7,"width":0,"height":0,"name":"","label":"Phase A Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"00a0f32d35d3ca44","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":9,"width":0,"height":0,"name":"","label":"Phase B Current","format":"{{msg.payload}} A","layout":"row-spread","x":1110,"y":560,"wires":[]},{"id":"4acc6c51b3dde42e","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":11,"width":0,"height":0,"name":"","label":"Phase C current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":620,"wires":[]},{"id":"92d20bbce1443095","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":13,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":1090,"y":680,"wires":[]},{"id":"9cc853994cd9a695","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":15,"width":0,"height":0,"name":"","label":"Neutral Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":1100,"y":740,"wires":[]},{"id":"3438b81544acf303","type":"ui_text","z":"2eb0b5d3f57c4191","group":"e5040b53c3bcf9c4","order":17,"width":0,"height":0,"name":"","label":"Neutral Current","format":"{{msg.payload}} A","layout":"row-spread","x":1100,"y":800,"wires":[]},{"id":"a45487b1dff30ef9","type":"function","z":"2eb0b5d3f57c4191","name":"IED Functionality","func":"\nvar obtainV = global.get('voltage1');\nvar obtainV2 = global.get(\"voltage2\");\nvar obtainV3 = global.get(\"voltage3\");\n//var obtainI = global.get(\"current1\");\n//var obtainI2 = global.get(\"current2\");\n//var obtainI3 = global.get(\"current3\");\nvar obtainF = global.get(\"Frequency\");\nvar obtainVn = global.get(\"voltageN\");\nvar obtainIn = global.get(\"currentN\");\nvar cb_status;\nvar event;\nvar ov_status;\nvar oc_status;\nvar phasefaultV;\nvar phasefaultI;\nvar obtainI = global.get('f7_current1');\nvar obtainI2 = global.get('f7_current2');\nvar obtainI3 = global.get('f7_current3');\nvar switch_status= global.get(\"switch9\");\nvar scadaswitch_status= global.get(\"scadaswitch9\");\n\nif (obtainV > 250 || obtainV2 > 250 || obtainV3 > 250)\n{\n    ov_status = 1;\n   \n} else \n{\n    ov_status = 0;\n}\n\nif (obtainI > 5 || obtainI2 > 5 || obtainI3 > 5)\n{\n    oc_status = 1;\n    \n} else \n{\n    oc_status = 0;\n}\n\nif  (ov_status == 1 && oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC, OV & OF ';\n }\n    else if(ov_status == 1 && oc_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'OV & OC';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if(ov_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OV & OF';\n } \n    else if(oc_status == 1 && obtainF > 53)\n {\n    cb_status = 'Open';\n    event  = 'OC & OF';\n } \n    else if (ov_status == 1)\n {\n    cb_status = 'Open';\n    event  = 'Overvoltage';\n }\n    else if (obtainF > 55)\n {\n    cb_status = 'Open';\n    event  = 'Over Frequency';\n }\n    else if  (oc_status == 1)\n {\n     cb_status = 'Open';\n     event  = 'Overcurrent';\n }\n    else if (scadaswitch_status== \"1\" || switch_status== \"1\") \n{\n    cb_decision = 'Open';     \n    event  = 'Manual Open';\n}\n    else {\n    cb_status= 'Closed';\n    event = 'Clear';\n }\n  global.set('F7CBEvent', event)\n \n// phase event voltage\nif (obtainV > 250 && obtainV2 > 250 && obtainV3 > 250)\n {\n     phasefaultV= \" Phase A,B,C \";\n }\nelse if (obtainV > 250 && obtainV2 <= 250 && obtainV3 <= 250)\n{\n    phasefaultV= \" Phase A  \";\n    \n} else if(obtainV > 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase A,B  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase B,C  \";\n}\nelse if(obtainV > 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase A,C  \";\n}\nelse if(obtainV <= 250 && obtainV2 > 250 && obtainV3 <= 250)\n{\n  phasefaultV= \" Phase B  \";\n}\nelse if(obtainV <= 250 && obtainV2 <= 250 && obtainV3 > 250)\n{\n  phasefaultV= \" Phase C  \";\n}\nelse \n{\n  phasefaultV= \" Clear \";\n}\n\n// phase fault current \n\nif (obtainI > 5 && obtainI2 > 5 && obtainI3 > 5)\n {\n     phasefaultI= \" Phase A,B,C \";\n }\nelse if (obtainI > 5 && obtainI2 <= 5 && obtainI3 <= 5)\n{\n    phasefaultI= \" Phase A  \";\n    \n} else if(obtainI > 5 && obtainVI > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase A,B  \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase B,C  \";\n}\nelse if(obtainI > 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C,A \";\n}\nelse if(obtainI <= 5 && obtainI2 > 5 && obtainI3 <= 5)\n{\n  phasefaultI= \" Phase B  \";\n}\nelse if(obtainI <= 5 && obtainI2 <= 5 && obtainI3 > 5)\n{\n  phasefaultI= \" Phase C \";\n}\nelse \n{\n  phasefaultI= \" Clear \";\n}\n\nglobal.set('event', event)\n\n\ntableData = flow.get(\"savedData\") || [] ;\n\ntableData.unshift({\n    \"Timestamp\":new Date(msg.payload).toLocaleString(),\n    \"CB Status\": cb_status,\n    \"Event\": event ,\n    \"phasefaultV\": phasefaultV ,\n    \"phasefaultI\": phasefaultI ,\n    }\n); \n\nif(tableData.length >8) tableData.pop ();\n    \nmsg.payload = tableData;\n\nflow.set(\"savedData\", tableData);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737,"y":941,"wires":[["1e1481af5d864e9b"]]},{"id":"a87b8cbf766d6544","type":"inject","z":"2eb0b5d3f57c4191","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":940,"wires":[["a45487b1dff30ef9"]]},{"id":"e5d69dd69bf4f003","type":"inject","z":"2eb0b5d3f57c4191","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":900,"wires":[["20705b082d43a597"]]},{"id":"20705b082d43a597","type":"change","z":"2eb0b5d3f57c4191","name":"","rules":[{"t":"set","p":"savedData","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":737,"y":901,"wires":[[]]},{"id":"1e1481af5d864e9b","type":"ui_table","z":"2eb0b5d3f57c4191","group":"6de3267eb8316234","name":"","order":1,"width":"12","height":"5","columns":[{"field":"Timestamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"CB Status","title":"CB state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Event","title":"Fault Event","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultV","title":"phase fault voltage","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phasefaultI","title":"phase fault current","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":940,"wires":[]},{"id":"021bddea7a34b97f","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/vphase1","qos":"2","datatype":"auto","broker":"14d8de8b997f2ec1","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":320,"wires":[["2d75c36276657a40"]]},{"id":"01b62af443c68467","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/vphase2","qos":"2","datatype":"auto","broker":"186d963fed94c835","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":380,"wires":[["af0658e5a663f9d9"]]},{"id":"037caf7538dec83c","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/vphase3","qos":"2","datatype":"auto","broker":"d14dfc45d16552a8","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":440,"wires":[["630454b08ac33f65"]]},{"id":"677bdec0611cfbb9","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/iphase1","qos":"2","datatype":"auto","broker":"e6dc22e8f7e48826","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":500,"wires":[["026e926e5d2e3f19"]]},{"id":"25aba8a6ad8bc714","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/iphase2","qos":"2","datatype":"auto","broker":"ee626d3545d7ee9b","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":560,"wires":[["d8663a2cbc0583f5"]]},{"id":"c80c02dc5faa4524","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/iphase3","qos":"2","datatype":"auto","broker":"6fb0ac00196d8683","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":620,"wires":[["a8efe3a6b2f9c8e6"]]},{"id":"da80737b9ed1b5d9","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/freq","qos":"2","datatype":"auto","broker":"87fb9f65b8fa1908","nl":false,"rap":true,"rh":0,"inputs":0,"x":610,"y":680,"wires":[["81556c115146f016"]]},{"id":"51d3d96bca17f62d","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/voltage_N","qos":"2","datatype":"auto","broker":"a817b915b7236d03","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":740,"wires":[["16213e451808aa8d"]]},{"id":"3e366fa6112d0242","type":"mqtt in","z":"2eb0b5d3f57c4191","name":"","topic":"Matlab_to_IED9/current_N","qos":"2","datatype":"auto","broker":"8b8050de2754b57a","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":800,"wires":[["5ed38fdf6b140e89"]]},{"id":"c8ac5ca41e113291","type":"inject","z":"362aef8ca4ff685e","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE Input_data_ied9(TIMESTAMP TEXT NOT NULL,VOLTAGE1 INT NOT NULL, VOLTAGE2 INT NOT NULL,VOLTAGE3 INT NOT NULL,CURRENT1 INT NOT NULL, CURRENT2 INT NOT NULL, CURRENT3 INT NOT NULL, FREQUENCY INT NOT NULL, VOLTAGEN INT, CURRENTN INT, TOTAL_POWER INT NOT NULL)","payload":"","payloadType":"date","x":380,"y":140,"wires":[["118ceb9e5c2bbb7a"]]},{"id":"45925657f5cd8c9f","type":"debug","z":"362aef8ca4ff685e","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":200,"wires":[]},{"id":"43c86a0b19b8c4ee","type":"inject","z":"362aef8ca4ff685e","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM Input_data_ied9 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":350,"y":200,"wires":[["118ceb9e5c2bbb7a"]]},{"id":"07a49213d3696a68","type":"inject","z":"362aef8ca4ff685e","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM Input_data_ied9 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":370,"y":80,"wires":[["7880ff9f1e48c04f"]]},{"id":"f211ad3231923c09","type":"ui_template","z":"362aef8ca4ff685e","group":"24b5647c38eb4f5e","name":"Database F7 IED9 IN","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>V1</th>\n    <th>V2</th>\n    <th>V3</th>\n    <th>I1</th>\n    <th>I2</th>\n    <th>I3</th>\n    <th>FREQ</th>\n    <th>VOLTAGEN</th>\n    <th>CURRENTN</th>\n    <th>TOTAL_POWER</th>\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE1}}</td> \n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGE3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT1}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT2}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENT3}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].FREQUENCY}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].VOLTAGEN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].CURRENTN}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].TOTAL_POWER}}</td>\n    \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":880,"y":80,"wires":[[]]},{"id":"118ceb9e5c2bbb7a","type":"sqlite","z":"362aef8ca4ff685e","mydb":"7e918a73b3a48b73","sqlquery":"msg.topic","sql":"","name":"Database F7 IED9 IN","x":660,"y":200,"wires":[["45925657f5cd8c9f"]]},{"id":"b7299983af090fe5","type":"inject","z":"362aef8ca4ff685e","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":320,"wires":[["039f51c6c8a6d7f6"]]},{"id":"039f51c6c8a6d7f6","type":"function","z":"362aef8ca4ff685e","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar voltage1=global.get(\"voltage1\");\nvar voltage2=global.get(\"voltage2\");\nvar voltage3=global.get(\"voltage3\");\nvar current1=global.get(\"current1\");\nvar current2=global.get(\"current2\");\nvar current3=global.get(\"current3\");\nvar frequency=global.get(\"Frequency\");\nvar voltageN=global.get(\"voltageN\");\nvar currentN=global.get(\"currentN\");\nvar total_power=global.get(\"total_power\");\n//put data into json string\n\nmsg=\"( timestamp,voltage1,voltage2,voltage3,current1,current2,current3,Frequency,voltageN,currentN,total_power) values(\\'\"+timestamp +\"\\',\" + voltage1 + \",\" + voltage2 +\",\" + voltage3 + \",\" + current1 + \",\" + current2 + \",\" + current3 + \",\" + frequency + \",\" + voltageN + \",\" + currentN + \",\" + total_power  + \")\";\nvar topic=\"INSERT INTO Input_data_ied9 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["36995747fef03876","38d242028104b46b"]]},{"id":"36995747fef03876","type":"debug","z":"362aef8ca4ff685e","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"7880ff9f1e48c04f","type":"sqlite","z":"362aef8ca4ff685e","mydb":"7e918a73b3a48b73","sqlquery":"msg.topic","sql":"","name":"Database F7 IED9 IN","x":660,"y":80,"wires":[["f211ad3231923c09"]]},{"id":"5b23f3d496ee6668","type":"catch","z":"362aef8ca4ff685e","name":"","scope":null,"uncaught":false,"x":340,"y":480,"wires":[["677b98efd589f696","c5424b8739f0e916"]]},{"id":"677b98efd589f696","type":"debug","z":"362aef8ca4ff685e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"bb99f5b0106f7efc","type":"ui_text","z":"362aef8ca4ff685e","group":"","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"c5424b8739f0e916","type":"function","z":"362aef8ca4ff685e","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["bb99f5b0106f7efc"]]},{"id":"865c12766f3bb276","type":"inject","z":"362aef8ca4ff685e","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table Input_data_ied9","payload":"","payloadType":"date","x":340,"y":260,"wires":[["118ceb9e5c2bbb7a"]]},{"id":"a8556a73c3c4ad47","type":"function","z":"362aef8ca4ff685e","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[[]]},{"id":"7d90979e45d199e9","type":"inject","z":"362aef8ca4ff685e","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":580,"wires":[["a8556a73c3c4ad47"]]},{"id":"38d242028104b46b","type":"delay","z":"362aef8ca4ff685e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":260,"wires":[["118ceb9e5c2bbb7a"]]},{"id":"18f910a2a587af91","type":"inject","z":"02cd42a42ef4a2b1","name":"create database table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"CREATE TABLE output_data_ied9(TIMESTAMP TEXT NOT NULL,F7CBStatus TEXT NOT NULL,F7CBEvent TEXT NOT NULL)","payload":"","payloadType":"date","x":260,"y":160,"wires":[["c55477a2c15a18b8"]]},{"id":"d64eb59e2a8395bb","type":"debug","z":"02cd42a42ef4a2b1","name":"database_out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":220,"wires":[]},{"id":"7c7606eb68014856","type":"inject","z":"02cd42a42ef4a2b1","name":"delete records","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"DELETE FROM output_data_ied9 WHERE TIMESTAMP>=0","payload":"","payloadType":"date","x":230,"y":220,"wires":[["c55477a2c15a18b8"]]},{"id":"2b968fda3991b258","type":"inject","z":"02cd42a42ef4a2b1","name":"show RECORDS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"SELECT * FROM output_data_ied9 ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","x":250,"y":100,"wires":[["1a66196977fcc63b"]]},{"id":"46125cd3fb04f871","type":"ui_template","z":"02cd42a42ef4a2b1","group":"3c1446b25dd2b924","name":"Database F7 IED9 OUT","order":1,"width":"18","height":"15","format":"<style>\ntable, th, td\n{\n    height:10px;\n    width:900px;\n    background:lightblue;\n    border: 1px solid black;\n    border-collapse: collapse;\n}\n</style>\n<div class=\"table\">\n<table style=\"width:100%\">\n  <tr>\n    <th>TIMESTAMP</th>\n    <th>F7CBStatus</th>\n    <th>F7CBEvent</th>\n    \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td style=\"text-align:center\">{{msg.payload[$index].TIMESTAMP}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F7CBStatus}}</td>\n    <td style=\"text-align:center\">{{msg.payload[$index].F7CBEvent}}</td>\n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":830,"y":100,"wires":[[]]},{"id":"c55477a2c15a18b8","type":"sqlite","z":"02cd42a42ef4a2b1","mydb":"7e918a73b3a48b73","sqlquery":"msg.topic","sql":"","name":"Database F7 IED9 OUT","x":590,"y":220,"wires":[["d64eb59e2a8395bb"]]},{"id":"b08341f9bfbc6ad2","type":"inject","z":"02cd42a42ef4a2b1","name":"Test Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["09d3f0c0244ce331"]]},{"id":"09d3f0c0244ce331","type":"function","z":"02cd42a42ef4a2b1","name":"write query","func":"var timestamp = new Date().toLocaleString();\ntimestamp=timestamp.substring(0, 20);\nvar F7CBStatus=global.get(\"F7CBStatus\");\nvar F7CBEvent=global.get(\"F7CBEvent\");\n\n//put data into json string\n\nmsg=\"(timestamp,F7CBStatus,F7CBEvent) values(\\'\"+timestamp +\"\\',\\'\" + F7CBStatus + \"\\',\\'\" + F7CBEvent + \"\\')\";\nvar topic=\"INSERT INTO output_data_ied9 \" +msg;\nvar msg1={};\nmsg1.topic=topic;\nmsg1.payload=timestamp;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["fbc2af213af4e6c9","e905be37c1478dd3"]]},{"id":"fbc2af213af4e6c9","type":"debug","z":"02cd42a42ef4a2b1","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"1a66196977fcc63b","type":"sqlite","z":"02cd42a42ef4a2b1","mydb":"7e918a73b3a48b73","sqlquery":"msg.topic","sql":"","name":"Database F7 IED9 OUT","x":590,"y":100,"wires":[["46125cd3fb04f871"]]},{"id":"0e53904ff410ee17","type":"catch","z":"02cd42a42ef4a2b1","name":"","scope":null,"uncaught":false,"x":220,"y":540,"wires":[["1ffdb8f7a8ffa975","035503089810a834"]]},{"id":"1ffdb8f7a8ffa975","type":"debug","z":"02cd42a42ef4a2b1","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":540,"wires":[]},{"id":"7f1bd805ddb241bc","type":"ui_text","z":"02cd42a42ef4a2b1","group":"","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":480,"wires":[]},{"id":"035503089810a834","type":"function","z":"02cd42a42ef4a2b1","name":"sql errors","func":"var payload=msg.error.message;\nmsg.payload = payload +\" timestamp \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":480,"wires":[["7f1bd805ddb241bc"]]},{"id":"6ca2d00b5bcdc1a2","type":"inject","z":"02cd42a42ef4a2b1","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"drop table output_data_ied9","payload":"","payloadType":"date","x":220,"y":280,"wires":[["c55477a2c15a18b8"]]},{"id":"a128436974d22f6f","type":"function","z":"02cd42a42ef4a2b1","name":"Clear errors","func":"node.error(\"\",msg);//clear error\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":620,"wires":[[]]},{"id":"2a01e15f150173a5","type":"inject","z":"02cd42a42ef4a2b1","name":"clear errors","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":620,"wires":[["a128436974d22f6f"]]},{"id":"e905be37c1478dd3","type":"delay","z":"02cd42a42ef4a2b1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":760,"y":340,"wires":[["c55477a2c15a18b8"]]},{"id":"7b6894d9b84e1ec0","type":"mqtt in","z":"02cd42a42ef4a2b1","name":"","topic":"IED9_to_CB/CB9_status","qos":"2","datatype":"auto","broker":"f6aabb0942a26dc4","nl":false,"rap":true,"rh":0,"inputs":0,"x":1050,"y":180,"wires":[["12fb0ce9022544fc","6f2675d408b892a1"]]},{"id":"12fb0ce9022544fc","type":"function","z":"02cd42a42ef4a2b1","name":"","func":"global.set('F7CBStatus', msg.payload)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":180,"wires":[[]]},{"id":"6f2675d408b892a1","type":"debug","z":"02cd42a42ef4a2b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"e141cc68e258ec41","type":"comment","z":"d502c7f640c35b55","name":"Sending all Values to SCADA for Monitoring","info":"","x":450,"y":300,"wires":[]},{"id":"16c65efdadf83511","type":"modbus-flex-write","z":"d502c7f640c35b55","name":"","showStatusActivities":false,"showErrors":false,"server":"b5ba425c3f4e0da9","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1150,"y":360,"wires":[["c528e9d81a7bfc0c"],[]]},{"id":"c528e9d81a7bfc0c","type":"debug","z":"d502c7f640c35b55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":300,"wires":[]},{"id":"5c9942bb2ba3749e","type":"function","z":"d502c7f640c35b55","name":"","func":"msg.payload = { \n    value: msg.payload, \n    \n    'fc': 16, \n    'unitid': 10, \n    'address': 250 , \n    'quantity': 9 \n    \n} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":360,"wires":[["16c65efdadf83511"]]},{"id":"52b0a7530babe35d","type":"inject","z":"d502c7f640c35b55","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":360,"wires":[["4fb6cfee242d6397"]]},{"id":"4fb6cfee242d6397","type":"function","z":"d502c7f640c35b55","name":"Combine Values into Array","func":"var a = global.get('voltage1');\nvar b = global.get('voltage2');\nvar c = global.get('voltage3');\nvar d = global.get('f7_current1');\nvar e = global.get('f7_current2');\nvar f = global.get('f7_current3');\nvar g = global.get('Frequency');\nvar h = global.get('voltageN');\nvar i = global.get('currentN');\n\nconst modbus = [a, b, c, d, e, f, g, h, i];\n\nmsg.payload = modbus;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":360,"wires":[["5c9942bb2ba3749e","13b7658d12185e72"]]},{"id":"13b7658d12185e72","type":"debug","z":"d502c7f640c35b55","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]}]